<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
  <div class="form-con forget">
    <div class="welcome-text">
        "Don't worry, we will assist you "
    </div>
    <form action="" id="login-form">
      <input type="number" placeholder="mobile number">
      <input type="text" placeholder="OTP">
      <button class="verify">Reset password</button>
      <div class="forgot-text">
        <a href="login.html">Sign-in</a>
      </div>
      <div class="signUp-text">
        Don't have an account? <span><a href="sign-up.html"> Sign up here</a></span>
      </div>
    </form>
  </div>
</body>
</html>