<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/sign-up.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <div class="form-con">
    <div class="welcome-text">
      "Create your account and join our community!"
    </div>
    <form method="post" action="" id="signup-form">
      <input name="username" type="text" placeholder="username">
      <input name="email" type="email" placeholder="email">
      <input name="mobile" type="number" placeholder="mobile number">
      <input name="password" type="password" placeholder="password">
      <input type="password" placeholder="Confirm password">
      <input type="text" placeholder="otp">
      <button>Sign-up</button>
 
      <div class="signUp-text">
        Already have an account?<span><a id="login" href="login">Sign in here</a></span>
      </div>
    </form>
  </div>
    
    
</body>
</html>