<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/AI&DS.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Artificial Intelligence & Data Science</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/aids/undraw_artificial_intelligence_re_enpp.svg" alt="">
      <div class="head-con">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Artificial Intelligence & Data Science, started in the year 2021, offers B.Tech  Artificial Intelligence & Data Science to meet the challenges of higher education, research and innovation in key areas of Data Science and AI. The department aims to develop AI and Data Science engineers who are innovative and entrepreneurial to become global leaders in research and technology. 
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To be eminent and a technically sound Data Science professional by fulfilling the dynamic societal needs.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      Nurture and enrich the students with a rural environment to have a strong caliber and domain expertise with a successful academic career and research perspective.
                    </div>
                </div>
            
            </div>
    </div>
   <div>
    <h2>Program Objectives</h2>
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
          <ul>
            <li><span class="li">Engineering knowledge:</span>Apply the knowledge of mathematics, science, engineering fundamentals, and Artificial Intelligence and Data Science basics to the solution of complex engineering problems.</li>
            <li><span class="li">Problem analysis: </span>Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</li>
            <li><span class="li">Design/development of solutions:</span>Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</li>
            <li><span class="li">Conduct investigations of complex problems:</span>Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</li>
            <li><span class="li">Modern tool usage:</span>Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</li>
            <li><span class="li">The engineer and society:</span>Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</li>
          </ul>
          <ul>
            <li><span class="li">Engineering knowledge:</span>Apply the knowledge of mathematics, science, engineering fundamentals, and Artificial Intelligence and Data Science basics to the solution of complex engineering problems.</li>
            <li><span class="li">Problem analysis: </span>Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</li>
            <li><span class="li">Design/development of solutions:</span>Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</li>
            <li><span class="li">Conduct investigations of complex problems:</span>Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</li>
            <li><span class="li">Modern tool usage:</span>Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</li>
            <li><span class="li">The engineer and society:</span>Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</li>
          </ul>
        </div>
      </div>
      <div class="departement-grid-con2">
       
        <div class="grid-content">
          <ul>
            <div class="head-text">
              B.Tech (AI&DS)
            </div>
            <div>
              <span>60</span>seats
            </div>
            <li>4 years Anna University Curriculum</li>
            <li>Industry Internship with Stipend </li>
          </ul>
          <ul>
            <div class="head-text">
              Salient Features
            </div>
            <li>Exemplary Placement Record</li>
            <li>Hands-on Workshop on Trending Technology</li>
            <li>Academic Incentives for Top Performers</li>
            <li>Empowered Faculty Members who received National and International Awards</li>
            <li>Strong Industry Tie-Ups</li>
            <li>Smart Classrooms & Learning Management Systems</li>
            <li>Students are given Opportunity to organize Major Events of the Department</li>
            <li>National level Champions in Sports and Games</li>
          </ul>
        </div>
        
      </div>
      <div class="departement-grid-con3">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-con">
          <img class="aids-img2" src="/img/departement/aids/undraw_dev_focus_re_6iwt.svg" alt="">
          <h3>Graduates should be able to</h3>
          <ul>
            <li>arrive at actionable Foresight, Insight, hindsight from data for solving business and engineering problems.</li>
            <li>apply the theoretical knowledge of AI and Data Analytics, develop data analytics and data visualization skills with practical industrial tools and techniques to solve societal complex projects.</li>
            <li>able to carry out fundamental research to cater for the critical needs of the society through cutting edge technologies of AI.</li>
          </ul>
        </div>
      </div>
     
    </div>
    <div class="departement-con-nav">
      <ul class="nav-li">
        <li class="value">Value Added Courses</li>
        <li>Industry Collaborations</li>
        <li>Research</li>
        <li>Professional Body Membership</li>
        <li>Software</li>
        <li>Learn from Links</li>
      </ul>
      <div class="nav-con1">
        <ul class="nav-con1-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con2">
        <ul class="nav-con2-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con3">
        <ul class="nav-con3-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con4">
        <ul class="nav-con4-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con5">
        <ul class="nav-con5-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
    </div>
   </div>
   
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
    
</body>
</html>