<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/AI&DS.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Artificial Intelligence & Data Science</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/aids/undraw_artificial_intelligence_re_enpp.svg" alt="">
      <div class="head-con">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Artificial Intelligence & Data Science, started in the year 2021, offers B.Tech  Artificial Intelligence & Data Science to meet the challenges of higher education, research and innovation in key areas of Data Science and AI. The department aims to develop AI and Data Science engineers who are innovative and entrepreneurial to become global leaders in research and technology. 
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To be eminent and a technically sound Data Science professional by fulfilling the dynamic societal needs.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      Nurture and enrich the students with a rural environment to have a strong caliber and domain expertise with a successful academic career and research perspective.
                    </div>
                </div>
            
            </div>
    </div>
   <div>
    <h2>Program Objectives</h2>
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
          <ul>
            <li>Engineering knowledge: <span class="li">Apply the knowledge of mathematics, science, engineering fundamentals, and Artificial Intelligence and Data Science basics to the solution of complex engineering problems.</span></li>
            <li>Problem analysis: <span class="li">Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</span></li>
            <li>Design/development of solutions: <span class="li">Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</span></li>
            <li>Conduct investigations of complex problems: <span class="li">Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</span></li>
            <li>Modern tool usage: <span class="li">Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</span></li>
            <li>The engineer and society: <span class="li">Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</span></li>
          </ul>
          <ul>
            
              <li>Environment and sustainability: <span class="li">Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</span></li>
              <li>Ethics: <span class="li">Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.</span></li>
              <li>Individual and team work: <span class="li">Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</span></li>
              <li>Communication: <span class="li">Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</span></li>
              <li>Project management and finance: <span class="li">Demonstrate knowledge and understanding of the engineering and management principles and apply these to one‘s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</span></li>
              <li>Life-long learning: <span class="li">Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</span></li>
             
        </ul>
        </div>
      </div>
      <div class="departement-grid-con2">
       
        <div class="grid-content">
          <ul>
            <div class="head-text">
              B.Tech (AI&DS)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1> <span id="intakeId">0</span> seats</h1>
            </div>
            <li>4 years Anna University Curriculum</li>
            <li>Industry Internship with Stipend </li>
          </ul>
          <ul>
            <div class="head-text">
              Salient Features
            </div>
            <li>Exemplary Placement Record</li>
            <li>Hands-on Workshop on Trending Technology</li>
            <li>Academic Incentives for Top Performers</li>
            <li>Empowered Faculty Members who received National and International Awards</li>
            <li>Strong Industry Tie-Ups</li>
            <li>Smart Classrooms & Learning Management Systems</li>
            <li>Students are given Opportunity to organize Major Events of the Department</li>
            <li>National level Champions in Sports and Games</li>
          </ul>
        </div>
        
      </div>
      <div class="departement-grid-con3">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-con">
          <img class="aids-img2" src="/img/departement/aids/undraw_dev_focus_re_6iwt.svg" alt="">
          <h3>Graduates should be able to</h3>
          <ul>
            <li>arrive at actionable Foresight, Insight, hindsight from data for solving business and engineering problems.</li>
            <li>apply the theoretical knowledge of AI and Data Analytics, develop data analytics and data visualization skills with practical industrial tools and techniques to solve societal complex projects.</li>
            <li>able to carry out fundamental research to cater for the critical needs of the society through cutting edge technologies of AI.</li>
          </ul>
        </div>
      </div>
     
    </div>
    <div class="departement-con-nav">
      <ul class="nav-li">
        <li class="value" id="valueId">Value Added Courses</li>
        <li id="industryId">Industry Collaborations</li>
        <li id="researchId">Research</li>
        <li id="professionalId">Professional Body Membership</li>
        <li id="softwareId">Software</li>
        <li id="learnId">Learn from Links</li>
      </ul>
      <div class="nav-con1" id="navCon1Id">
        <ul class="nav-con1-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con2" id="navCon2Id">
        <ul class="nav-con2-li">
          <li>Hardware & Networking</li>
      
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id">
        <ul class="nav-con3-li">
         
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Flutter (Android App Development)</li>
          <li>Java Essentials</li>
         
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <ul class="nav-con4-li">
          <li>Data Science</li>
          <li>Artificial Intelligence</li>
          <li>Cyber Security</li>
          <li>Machine Learning</li>
          <li>Natural Language Processing</li>
          <li>Cloud Computing</li>
          <li>Internet of Things</li>
          <li>Wireless Sensor Networks</li>
          </ul>
          
        
      </div>
      <div class="nav-con5" id="navCon5Id">
        <ul class="nav-con5-li">
         
          <li>CSI - Computer Society of India</li>
          <li>IEEE - Institute of Electrical and Electronics Engineers</li>
          <li>ISTE - Indian Society for Technical Education</li>
          <li>ICT Academy - Information and Communication Technology Academy</li>
  
          </ul>
          
        
      </div>
      <div class="nav-con6" id="navCon6Id">
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        
        
      </div>
    </div>
   </div>
   
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/aids-dept.js" ></script>
</body>
</html>