<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Civil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <main>
    <div class="container">
      <div class="container1">
        <h2 class="heading1">CIVIL ENGINEERING</h2>
        <div class="con1">
          <img class="img1" src="/img/common/civ1.png">
          <div class="genesis">
            <article class="card1">
              <h3 style="margin-bottom: 10px;">Genesis
              </h3>
              <p>
              The Department of Civil Engineering, started in the year 2009, offers BE (Civil Engineering), ME (Construction Engineering & Management) & ME (Structural Engineering). 
              The department activities are planned with dual inputs from Industry and reputed academic bodies in the state. Also, the department strengthens its core activities periodically with inputs from industry, 
              civil engineers and contractors, some of whom are trustees of the Institution. In addition to regular academic activities, the department strives to transform students into a pragmatic Civil Engineer by 
              involving them in solving field problems with needed guidance from faculty members.
              </p>
            </article>
          </div>
          <div class="con2"></div>
          <div class="vision">
            <h4><b>VISION</b></h4>
            <p>To be a human and technical resource centre to meet the needs of the construction industry.</p>
          </div>
          <div class="con3"></div>
          <div class="mission">
            <h4><b>MISSION</b></h4>
            <p>
              Impart students the knowledge of principles and practices of 
              Civil Engineering and shape them to meet the expectations of the industry.</p>
          </div>
        </div>     
      </div>
      <div class="container2">
        <div class="con1">
          <div class="beciv">
            <h3 class="heading">B.E (Civil)</h3>
            <span class="num" data-val="60">000</span>
            <span class="text">Seats Intake</span><br>
              <ul>
                  <li>4 years Anna University Curriculum</li><br>
                  <li>48% placement in 2021-23</li><br>
                  <li>Industry Internship with Stipend </li><br>
              </ul>
          </div>
        </div>
        <div class="con2">
          <div class="meciv">
            <h3 class="heading">M.E (CEM) & M.E (STR)</h3>
            <span class="num" data-val="36">000</span>
            <span class="text">Seats Intake</span><br>
            <ul>
                <li>2 years Anna University Curriculum</li><br>
                <li>Placement Opportunities</li><br>
                <li>Industry Projects </li><br>
            </ul>
          </div>
        </div>
        <div class="con3">
          <div class="con4">
            <h1 style="line-height: 30px;">Program specific outcomes (PSO)</h1><br>
            <ul class="pso" id="pso">
              <li><b>Knowledge of Civil Engineering discipline:</b>
                Demonstrate in-depth knowledge of Civil Engineering discipline,
                with an ability to evaluate, analyze and synthesize existing and new knowledge.</li><br>
              <li><b>Critical analysis of Civil Engineering problems and innovation:</b>
                Critically analyze complex Civil Engineering problems, apply independent judgment for synthesizing 
                information and make innovative advances in a theoretical, practical and policy context.</li><br>
              <li><b>Conceptualization and evaluation of engineering solutions to Civil Engineering:</b>
                Issues Conceptualize and solve Civil Engineering problems, evaluate potential solutions and arrive at technically feasible, 
                economically viable and environmentally sound solutions with due consideration of health, safety, and socio cultural factors</li><br>
            </ul>
          </div>
        </div>
        <div class="con5">
          <div class="con6" ss-container>
            <h1>Program outcomes (POs)</h1>
            <ul class="po" id="po">
              <li>Engineering knowledge</li>
              <li>Problem analysis</li>
              <li>Design/development of solutions</li>
              <li>Conduct investigations of complex</li>
              <li>Modern tool usage</li>
              <li>The engineer and society</li>
              <li>Environment and sustainability</li>
              <li>Ethics</li>
              <li>Individual and team work</li>
              <li>Communication</li>
              <li>Project management and finance</li>
              <li>Life-long learning</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container3">
        <div class="con1">
          <div class="text1">
            <h3>Salient Features</h3>
            <ul>
              <li>Exemplary Placement Record</li>
              <li>Hands on Workshop on Trending Technology</li>
              <li>Academic Incentives for Top Performers</li>
              <li>Empowered Faculty Members and Grabbed National and International Awards</li>
              <li>Strong Industry Tie-Ups</li>
              <li>Smart Class Rooms & Learning Management Systems</li>
              <li>Students are given Opportunity to Organize Major Events of the Department.</li>
              <li>National level Champions in Sports and Games.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="gold">
           <div class="con2">
            <div class="card1">
             <div class="img">
              <h1>value added courses</h1>
             </div>
             <div class="content">
              <p class="heading">value added courses</p>
               <ul>
               <li>Auto CAD</li>
               <li>Revit Architecture</li>
               <li>Total Station hand on Training</li>
               <li>STAAD Pro</li>
               <li>E tabs</li>
               <li>TECKLA</li>
               <li>MS Project</li>
               <li>Primavera</li>
               </ul>
             </div>
            </div>
           </div>
           <div class="con2">
            <div class="card1">
             <div class="img">
              <h1>MoU's Signed</h1>
             </div>
             <div class="content">
              <p class="heading">MoU's Signed</p>
              <ul>
               <li>Builders Association of India, Erode Centre.</li>
               <li>Contractors Development Institute (CDI) NAC, Hyderabad.</li>
               <li>Trimble Solutions India Pvt. Limited, Pune.</li>
               <li>M/s URC Constructions Pvt. Ltd., Erode.</li>
               <li>M/s Renaatus Projects Pvt. Limited, Erode.</li>
               <li>M/s Sripathy Assoceates, Erode.</li>
               <li>M/s Sathyamoorthy&Co, Erode</li>
               <li>M/s S.S. Natarajan&Co, Erode.</li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <div class="gold">
           <div class="con2">
            <div class="card1">
             <div class="img">
              <h1>MoA's Signed</h1>
             </div>
             <div class="content">
              <p class="heading">MoA's Signed</p>
              <h3>BEC has signed a Memorandum of Association (MoA) with NICMAR, Pune and Builders Association of India(BAI), Erode Chapter.</h3>
              <ul>
               <li>National Institute of Construction Management and Research, Pune.</li>
              </ul>
             </div>
            </div>
           </div>
           <div class="con2">
            <div class="card1">
             <div class="img">
              <h1>Professional Body Membership</h1>
             </div>
             <div class="content">
             <p class="heading">Professional Body Membership</p>
             <ul>
               <li>ICI - Indian Concrete Institute</li>
               <li>ISTE - Indian Society for Technical Education</li>
               <li>IGBC - Indian Green Building Council</li>
               <li>IGS - Indian Geotechnical Society</li>
               <li>IOV - Institution of Valuers</li>
             </ul>
             </div>
            </div>
           </div>  
          </div>
         </div>
          <div class="con3">
            <div class="con4">  
              <h1>Technical Uniqueness:</h1>
               <ul>
                 <li>The faculty members of the department are experienced as well as energetic young people having an average experience of 9 years. Dr.G.Ramasamy, Retd. Professor-IIT-Roorkee, Dr.G.S.Thirugnanam, Retd. Professor and Principal, IRTT-Erode and Mr.G.Srinivasan, Professor, Retd. Professor, IRTT-Erode who have vast academic and professional experience strengthens the quality of teaching, research and consultancy activities.</li>
                 <li>The alumni of the department has done their higher studies in reputed institutes like IIT Madras, IIT Roorkee, IIT - ISM Dhanbad, NICMAR Pune, VIT, NIT, Anna University CEG Campus and universities abroad.</li>
               </ul>
           </div>
           </div>
           <div class="con5">
            <div class="con6">       
              <h1>Testing and Consultancy Servises:</h1><br>      
               <h4>To have a vibrant industry interaction, faculty members are encouraged to take up testing and consultancy assigned from industry, at an average annual turnover of Rs.15 lakhs.</h4>
               <ul>
                 <li><b>Testing:</b></li>
                 <li>Strength of Materials</li>
                 <li>Concrete and Highway Engineering</li>
                 <li>Measurement of Water quality</li>
                 <li><b>Consultancy:</b></li>
                 <li>Structural Division</li>
                 <li>Geo Technical investigation</li>
                 <li>Surveying</li>
               </ul>
             </div>
           </div>            
        </div>
        <div class="container4">
          <h1 >Faculty Team</h1>
          <div class="hod">
           <div class = container>
              <div class = card>
                  <figure>
                      <img src='/img/common/civ_hod.jpg' alt='missing' />
                      <figcaption> <h3>Dr. K. E. VISWANATHAN</h3> </figcaption>
                  </figure>
                <div class = content>           
                  <p>Head of Department
                   Teaching: 11.5 Years
                   Industry : 1.5 Years</p>
                </div>
              </div>    
            </div>
          </div>  
          <div class="staffs1">
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_ramasamy.jpg' alt='missing' />
                         <figcaption> <h3>Dr. G. RAMASAMY</h3> </figcaption>
                     </figure>
                   <div class = content>            
                     <p>Distinguished Professor
                       Teaching: 46 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_gopalakrishnan.jpg' alt='missing' />
                         <figcaption> <h3>Dr. S. GOPALAKRISHNAN</h3> </figcaption>
                     </figure>
                   <div class = content>           
                     <p>Professor
                       Teaching: 16 Years
                       Industry : 14 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_thirugnanam.jpg' alt='missing' />
                         <figcaption> <h3>Dr. G. S. THIRUGNANAM</h3> </figcaption>
                     </figure>
                   <div class = content>        
                     <p>Professor
                       Teaching: 38 Year</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_srinivasan.jpg' alt='missing' />
                         <figcaption> <h3>Mr. G. SRINIVASAN</h3> </figcaption>
                     </figure>
                   <div class = content>            
                     <p>Associate Professor
                       Teaching: 28 Years
                       Industry : 3 Years</p>
                   </div>
                 </div>    
               </div> 
             </div>   
             <div class="staffs2">
              <div class = "container reveal fade-right">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_satheesh_kumar.jpg' alt='missing' />
                         <figcaption> <h3>Mr. S. SATHEESH KUMAR</h3> </figcaption>
                     </figure>
                   <div class = content>               
                     <p>Assistant Professor
                       Teaching: 11.5 Years
                       Industry : 2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-right">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_senthil_kumar.jpg' alt='missing' />
                         <figcaption> <h3>Mr. D. SENTHIL KUMAR</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 10.5 Years
                       Industry : 2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-right">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_sasi_kumar.jpg' alt='missing' />
                         <figcaption> <h3>Mr. V. SASI KUMAR
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 11.5 Years
                       Industry : 2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-right">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_eshwaramoorthy.jpg' alt='missing' />
                         <figcaption> <h3>Dr. P. ESWARAMOORTHI
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 12 Years
                       Industry : 1 Year</p>
                   </div>
                 </div>    
               </div> 
             </div>
      
             <div class="staffs3">
              <div class = "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_chandra_sekar.jpg' alt='missing' />
                         <figcaption> <h3>Mr. K. CHANDRASEKAR</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 11.5 Years
                       Industry : 2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_gowrishankar.jpg' alt='missing' />
                         <figcaption> <h3>Mr. V. GOWRISHANKAR</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 10.5 Years
                       Industry : 2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_reena.jpg' alt='missing' />
                         <figcaption> <h3>Mrs. L. REENA</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 10.3 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_utchimuthu.jpg' alt='missing' />
                         <figcaption> <h3>Mrs. N. UTCHIMUTHU
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 10 Years</p>
                   </div>
                 </div>    
               </div> 
             </div>           
             <div class="staffs4">
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_ranjith.jpg' alt='missing' />
                         <figcaption> <h3>Dr. S. RANJITH
                         </h3> </figcaption>
                     </figure>
                   <div class = content>               
                     <p>Assistant Professor
                       Teaching: 9 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_madhan.jpg' alt='missing' />
                         <figcaption> <h3>Mr. A. MADHAN
                         </h3> </figcaption>
                     </figure>
                   <div class = content>            
                     <p>Assistant Professor
                       Teaching: 10.5 Years
                       Industry : 1.4 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_nithya.jpg' alt='missing' />
                         <figcaption> <h3>Ms. D. NITHYA
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 8.4 Years</p>
                   </div>
                 </div>    
               </div>
              <div class = "container reveal fade-left">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_nallasamy.jpg' alt='missing' />
                         <figcaption> <h3>Mr. P. NALLASAMY</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 8.4 Years</p>
                   </div>
                 </div>    
               </div> 
             </div> 
             <div class="staffs5">
              <div class = "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_arvindh.jpg' alt='missing' />
                         <figcaption> <h3>Mr. K. R. ARVIND</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 4.2 Years</p>
                   </div>
                 </div>    
               </div>
              <div class =  "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_shanthi.jpg' alt='missing' />
                         <figcaption> <h3>Mrs. P. SHANTHI
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 3 Years
                       Industry : 1 Years</p>
                   </div>
                 </div>    
               </div>
              <div class =  "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_deepika.jpg' alt='missing' />
                         <figcaption> <h3>Mrs. A. DEEPIKA
                         </h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 6 Months</p>
                   </div>
                 </div>    
               </div>
              <div class =  "container reveal fade-bottom">
                 <div class = card>
                     <figure>
                         <img src='/img/common/civ_ramya.jpg' alt='missing' />
                         <figcaption> <h3>Mrs. R. RAMYA</h3> </figcaption>
                     </figure>
                   <div class = content>              
                     <p>Assistant Professor
                       Teaching: 6 Months</p>
                   </div>
                 </div>    
               </div>
      </div>
      <!-- <div class="text" style="margin-top: 50px;">
        <h1>Laboratories</h1>
      </div>
      <div class="container5">
        <div class="container">
          <img src="/img/common/civ_lab_1.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Construction Materials Laboratory </div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_2.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Strength of Materials Laboratory</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_3.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Concrete Highway Engineering Laboratory</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_4.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Surveying Laboratory</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_5.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Soil Mechanics Laboratory</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_6.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Computer Aided Design and Drafting</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_7.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Structures Laboratory</div>
          </div>
        </div>
        <div class="container">
          <img src="/img/common/civ_lab_8.jpg" alt="Avatar" class="image" style="width:100%">
          <div class="middle">
            <div class="text1">Environmental Engineering Laboratory</div>
          </div>
        </div>
      </div> -->
    </div>
    
  </main>
  <%- include('../navbar.ejs')%>
        <script src="/assets/js/nav.js"></script> 
        <script src="/js/dept.js"></script>  
    
</body>
</html>