<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/civil.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Civil Engineering</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/civil/undraw_under_construction_-46-pa.svg" alt="">
      <div class="head-con">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Civil Engineering, started in the year 2009, offers BE (Civil Engineering), ME 
          (Construction Engineering & Management) & ME (Structural Engineering). The department activities are planned with dual inputs
           from Industry and reputed academic bodies in the state. Also, the department strengthens its core activities periodically with inputs 
           from industry, civil engineers and contractors, some of whom are trustees of the Institution. In addition to regular academic activities, 
           the department strives to transform 
          students into a pragmatic Civil Engineer by involving them in solving field problems with needed guidance from faculty members.
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To be a human and technical resource centre to meet the needs of the construction industry.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      Impart students the knowledge of principles and practices of Civil Engineering and shape them to meet the expectations of the industry.
                    </div>
                </div>
            
            </div>
    </div>
   <div>
    <h2>Program Objectives</h2>
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
          <ul>
            <li><span class="li">Knowledge of Civil Engineering discipline Demonstrate in-depth knowledge of Civil Engineering discipline,with an ability to evaluate, analyze and synthesize existing and new knowledge.</span></li>
            <li><span class="li">Critical analysis of Civil Engineering problems and innovation Critically analyze complex Civil Engineering problems, apply independent judgment for synthesizing information and make innovative advances in a theoretical, practical and policy context.</span></li>
            <li><span class="li">Conceptualization and evaluation of engineering solutions to Civil Engineering Issues Conceptualize and solve Civil Engineering problems, evaluate potential solutions and arrive at technically feasible, economically viable and environmentally sound solutions with due consideration of health, safety, and socio cultural factors</li>
              <li>Engineering knowledge: <span class="li">Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</span></li>
              <li>Problem analysis: <span class="li">Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</span></li>
              <li>Design/development of solutions: <span class="li">Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for public health and safety, and cultural, societal, and environmental considerations.</span></li>
              <li>Conduct investigations of complex: <span class="li">Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of information to provide valid conclusions.</span></li>

          </ul>
          <ul>
            
                <li>Modern tool usage: <span class="li">Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</span></li>
                <li>The engineer and society: <span class="li">Apply reasoning informed by contextual knowledge to assess societal, health, safety, legal, and cultural issues and the consequent responsibilities relevant to professional engineering practice.</span></li>
                <li>Environment and sustainability: <span class="li">Understand the impact of professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and the need for sustainable development.</span></li>
                <li>Ethics: <span class="li">Apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice.</span></li>
                <li>Individual and team work: <span class="li">Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</span></li>
                <li>Communication: <span class="li">Communicate effectively on complex engineering activities with the engineering community and with society at large, such as being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</span></li>
                <li>Project management and finance: <span class="li">Demonstrate knowledge and understanding of engineering and management principles and apply these to one's work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</span></li>
                <li>Life-long learning: <span class="li">Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</span></li>
             
                           
        </ul>
        </div>
      </div>
      <div class="departement-grid-con2">
       
        <div class="grid-content">
          <ul>
            <div class="head-text">
              B.E (Civil)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1> <span id="intakeId1">0</span> seats</h1>
            </div>
            <li>4 years Anna University Curriculum</li>
            <li>48% placement in 2021-23</li>
            <li>Industry Internship with Stipend </li>
          </ul>
          <ul>
            <div class="head-text">
              M.E (CEM) & M.E (STR)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1> <span id="intakeId2">0</span> seats</h1>
            </div>
            <li>2 years Anna University Curriculum</li>
            <li>Placement Opportunities</li>
            <li>Industry Projects</li>
          </ul>
           
            <ul>
            <div class="head-text">
              Salient Features
            </div>
            <li>Exemplary Placement Record</li>
            <li>Hands-on Workshop on Trending Technology</li>
            <li>Academic Incentives for Top Performers</li>
            <li>Empowered Faculty Members and Grabbed National and International Awards</li>
            <li>Strong Industry Tie-Ups</li>
            <li>Smart Class Rooms & Learning Management Systems</li>
            <li>Students are given Opportunity to Organize Major Events of the Department</li>
            <li>National level Champions in Sports and Games</li>
          </ul>
        </div>
        
      </div>
      <div class="departement-grid-con3">
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-con">
          <img class="aids-img2" src="/img/departement/civil/undraw_dev_focus_re_6iwt.svg" alt="">
          <h3>Graduates should be able to</h3>
          <ul>
            <li>arrive at actionable Foresight, Insight, hindsight from data for solving business and engineering problems.</li>
            <li>apply the theoretical knowledge of AI and Data Analytics, develop data analytics and data visualization skills with practical industrial tools and techniques to solve societal complex projects.</li>
            <li>able to carry out fundamental research to cater for the critical needs of the society through cutting edge technologies of AI.</li>
          </ul>
        </div>
      </div>
     
    </div>
    <div class="departement-con-nav">
      <ul class="nav-li">
        <li class="value" id="valueId">Value Added Courses</li>
        <li id="industryId">MoU's Signed</li>
        <li id="researchId">MoA's Signed</li>
        <li id="professionalId">Professional Body Membership</li>
        <li id="softwareId">Technical Uniqueness</li>
        <li id="learnId">Testing and Consultancy Services</li>
      </ul>
      <div class="nav-con1" id="navCon1Id">
        <ul class="nav-con1-li">
          <li>AutoCAD</li>
          <li>Revit Architecture</li>
          <li>Total Station Hands-on Training</li>
          <li>STAAD Pro</li>
          <li>Etabs</li>
          <li>TEKLA</li>
          <li>Microsoft Project</li>
          <li>Primavera</li>
        </ul>
        
      </div>
      <div class="nav-con2" id="navCon2Id">
        <p>The following are the organizations with which 
          the department of Civil Engineering has signed MoU for providing technical
           assistance and site based knowledge to students.</p>
        <ul class="nav-con2-li">
         
             <li>Builders Association of India, Erode Centre.</li>
             <li>Contractors Development Institute (CDI), NAC, Hyderabad.</li>
             <li>Trimble Solutions India Pvt. Limited, Pune.</li>
             <li>M/s URC Constructions Pvt. Ltd., Erode.</li>
             <li>M/s Renaatus Projects Pvt. Limited, Erode.</li>
             <li>M/s Sripathy Associates, Erode.</li>
             <li>M/s Sathyamoorthy & Co, Erode.</li>
             <li>M/s S.S. Natarajan & Co, Erode.</li>
        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id">
        <p>BEC has signed a Memorandum of Association (MoA) with NICMAR, Pune and Builders Association of India(BAI), Erode Chapter .

        </p>
        <ul class="nav-con3-li">
         
            <li>National Institute of Construction Management and Research, Pune.</li>
           
         
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <p>In order to have industry and research exposure on recent developments, the students are motivated to join in highly reputed professional bodies such as</p>
        <ul class="nav-con4-li">
          <li>ICI – Indian Concrete Institute</li>
          <li>ISTE – Indian Society for Technical Education</li>
          <li>IGBC – Indian Green Building Council</li>
          <li>IGS – Indian Geotechnical Society</li>
          <li>IOV – Institution of Valuers</li>
          </ul>
          
        
      </div>
      <div class="nav-con5" id="navCon5Id">
        <ul class="nav-con5-li">
            <li>The faculty members of the department are experienced as well as energetic young people having an average experience of 9 years. Dr.G.Ramasamy, Retd. Professor-IIT-Roorkee, Dr.G.S.Thirugnanam, Retd. Professor and Principal, IRTT-Erode and Mr.G.Srinivasan, Professor, Retd. Professor, IRTT-Erode who have vast academic and professional 
              experience strengthens the quality of teaching, research and consultancy activities.
            </li>
            <li>
              The alumni of the department has done their higher studies in reputed institutes like IIT Madras, IIT Roorkee, 
              IIT – ISM Dhanbad, NICMAR Pune, VIT, NIT, Anna University CEG Campus and universities abroad.
            </li>
     
          </ul>
          
        
      </div>
      <div class="nav-con6" id="navCon6Id">
        <p>To have a vibrant industry interaction, faculty members are encouraged to take up testing
           and consultancy assigned from industry, at an average annual turnover of Rs.15 lakhs.</p>
        <p class="head-text">Testing: </p>
        <ul class="nav-con2-li">
         
          <li>Strength of Materials</li>
          <li>Concrete and Highway Engineering</li>
          <li>Measurement of Water Quality</li>
        </ul>
        <p class="head-text">Consultancy: </p>
        <ul class="nav-con2-li">
         
          <li>Structural Division</li>
          <li>Geotechnical Investigation</li>
          <li>Surveying</li>
        </ul>
        
      </div>
    </div>
   </div>
   
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/civil.js" ></script>
</body>
</html>