<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/civil.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Civil Engineering</h2>
    <div class="departement-con-info">
      <img data-aos="zoom-in-up" class="head-img" src="/img/departement/civil/undraw_under_construction_-46-pa.svg" alt="">
      <div class="head-con"  data-aos="zoom-in-up">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Civil Engineering, started in the year 2009, offers BE (Civil Engineering), ME 
          (Construction Engineering & Management) & ME (Structural Engineering). The department activities are planned with dual inputs
           from Industry and reputed academic bodies in the state. Also, the department strengthens its core activities periodically with inputs 
           from industry, civil engineers and contractors, some of whom are trustees of the Institution. In addition to regular academic activities, 
           the department strives to transform 
          students into a pragmatic Civil Engineer by involving them in solving field problems with needed guidance from faculty members.
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To be a human and technical resource centre to meet the needs of the construction industry.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      Impart students the knowledge of principles and practices of Civil Engineering and shape them to meet the expectations of the industry.
                    </div>
                </div>
            
            </div>
    </div>
   <div>
    <h2 data-aos="zoom-in-up">Program Objectives</h2>
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
        <div class="head-text" data-aos="zoom-in-up">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
          <ul>
            <li data-aos="zoom-in-up">Engineering knowledge: <span class="li">Apply knowledge of mathematics, basic science, and engineering science.</span></li>
            <li data-aos="zoom-in-up">Problem analysis: <span class="li">Identify, formulate, and solve engineering problems.</span></li>
            <li data-aos="zoom-in-up">Design/development of solutions: <span class="li">Design an electrical system or process to improve its performance, satisfying its constraints.</span></li>
            <li data-aos="zoom-in-up">Conduct investigations of complex problems: <span class="li">Conduct experiments in electrical and electronic systems and interpret the data.</span></li>
            <li data-aos="zoom-in-up">Modern tool usage: <span class="li">Apply various tools and techniques to improve the efficiency of the system.</span></li>
            <li data-aos="zoom-in-up">The Engineer and society: <span class="li">Conduct themselves to uphold their professional and social obligations.</span></li>
                        </ul>
        
          <ul>
            <li data-aos="zoom-in-up">Environment and sustainability: <span class="li">Design the system with environmental consciousness and sustainable development.</span></li>
            <li data-aos="zoom-in-up">Ethics: <span class="li">Interact with industry, business, and society in a professional and ethical manner.</span></li>
            <li data-aos="zoom-in-up">Individual and team work: <span class="li">Function in a multidisciplinary team.</span></li>
            <li data-aos="zoom-in-up">Communication: <span class="li">Proficiency in oral and written communication.</span></li>
            <li data-aos="zoom-in-up">Project management and finance: <span class="li">Implement a cost-effective and improved system.</span></li>
            <li data-aos="zoom-in-up">Life-long learning: <span class="li">Continuously engage in lifelong learning.</span></li>
        </ul>
  
        </div>
      </div>
      <div class="departement-grid-con2">
       
        <div class="grid-content">
          <ul>
            <div class="head-text"  data-aos="zoom-in-up">
              B.E (Civil)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1  data-aos="zoom-in-up"> <span id="intakeId1">0</span> seats</h1>
            </div>
            <li  data-aos="zoom-in-up">4 years Anna University Curriculum</li>
            <li  data-aos="zoom-in-up">48% placement in 2021-23</li>
            <li  data-aos="zoom-in-up">Industry Internship with Stipend </li>
          </ul>
          <ul>
            <div class="head-text"  data-aos="zoom-in-up">
              M.E (CEM) & M.E (STR)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1  data-aos="zoom-in-up"> <span id="intakeId2">0</span> seats</h1>
            </div>
            <li  data-aos="zoom-in-up">2 years Anna University Curriculum</li>
            <li  data-aos="zoom-in-up">Placement Opportunities</li>
            <li  data-aos="zoom-in-up">Industry Projects</li>
          </ul>
           
            <ul>
            <div class="head-text"  data-aos="zoom-in-up">
              Salient Features
            </div>
            <li  data-aos="zoom-in-up">Exemplary Placement Record</li>
            <li  data-aos="zoom-in-up">Hands-on Workshop on Trending Technology</li>
            <li  data-aos="zoom-in-up">Academic Incentives for Top Performers</li>
            <li  data-aos="zoom-in-up">Empowered Faculty Members and Grabbed National and International Awards</li>
            <li  data-aos="zoom-in-up">Strong Industry Tie-Ups</li>
            <li  data-aos="zoom-in-up">Smart Class Rooms & Learning Management Systems</li>
            <li  data-aos="zoom-in-up">Students are given Opportunity to Organize Major Events of the Department</li>
            <li  data-aos="zoom-in-up">National level Champions in Sports and Games</li>
          </ul>
        </div>
        
      </div>
      <div class="departement-grid-con3">
        <div class="head-text"  data-aos="zoom-in-up">
          PROGRAM SPECIFIC OUTCOMES (PSO)
        </div>
        
        <div class="grid-con">
          <img class="aids-img2" src="/img/departement/civil/undraw_dev_focus_re_6iwt.svg" alt="">
          <ul>
            <li data-aos="zoom-in-up">Civil Engineering Expertise: <span class="li">Demonstrate deep knowledge and critical analysis.</span></li>
        <li data-aos="zoom-in-up">Innovative Problem Solving: <span class="li">Apply independent judgment for innovative solutions.</span></li>
        <li data-aos="zoom-in-up">Holistic Solutions: <span class="li">Design technically feasible, economical, and sustainable solutions, considering safety and socio-cultural factors.</span></li>

          </ul>
        </div>
      </div>
     
    </div>
    <div class="departement-con-nav" data-aos="fade-right">
      <ul class="nav-li">
        <li class="value" id="valueId">Value Added Courses</li>
        <li id="industryId">MoU's Signed</li>
        <li id="researchId">MoA's Signed</li>
        <li id="professionalId">Professional Body Membership</li>
        <li id="softwareId">Technical Uniqueness</li>
        <li id="learnId">Testing and Consultancy Services</li>
      </ul>
      <div class="nav-con1" id="navCon1Id">
        <ul class="nav-con1-li">
          <li>AutoCAD</li>
          <li>Revit Architecture</li>
          <li>Total Station Hands-on Training</li>
          <li>STAAD Pro</li>
          <li>Etabs</li>
          <li>TEKLA</li>
          <li>Microsoft Project</li>
          <li>Primavera</li>
        </ul>
        
      </div>
      <div class="nav-con2" id="navCon2Id">
        <p>The following are the organizations with which 
          the department of Civil Engineering has signed MoU for providing technical
           assistance and site based knowledge to students.</p>
        <ul class="nav-con2-li">
         
             <li>Builders Association of India, Erode Centre.</li>
             <li>Contractors Development Institute (CDI), NAC, Hyderabad.</li>
             <li>Trimble Solutions India Pvt. Limited, Pune.</li>
             <li>M/s URC Constructions Pvt. Ltd., Erode.</li>
             <li>M/s Renaatus Projects Pvt. Limited, Erode.</li>
             <li>M/s Sripathy Associates, Erode.</li>
             <li>M/s Sathyamoorthy & Co, Erode.</li>
             <li>M/s S.S. Natarajan & Co, Erode.</li>
        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id">
        <p>BEC has signed a Memorandum of Association (MoA) with NICMAR, Pune and Builders Association of India(BAI), Erode Chapter .

        </p>
        <ul class="nav-con3-li">
         
            <li>National Institute of Construction Management and Research, Pune.</li>
           
         
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <p>In order to have industry and research exposure on recent developments, the students are motivated to join in highly reputed professional bodies such as</p>
        <ul class="nav-con4-li">
          <li>ICI – Indian Concrete Institute</li>
          <li>ISTE – Indian Society for Technical Education</li>
          <li>IGBC – Indian Green Building Council</li>
          <li>IGS – Indian Geotechnical Society</li>
          <li>IOV – Institution of Valuers</li>
          </ul>
          
        
      </div>
      <div class="nav-con5" id="navCon5Id">
        <ul class="nav-con5-li">
            <li>The faculty members of the department are experienced as well as energetic young people having an average experience of 9 years. Dr.G.Ramasamy, Retd. Professor-IIT-Roorkee, Dr.G.S.Thirugnanam, Retd. Professor and Principal, IRTT-Erode and Mr.G.Srinivasan, Professor, Retd. Professor, IRTT-Erode who have vast academic and professional 
              experience strengthens the quality of teaching, research and consultancy activities.
            </li>
            <li>
              The alumni of the department has done their higher studies in reputed institutes like IIT Madras, IIT Roorkee, 
              IIT – ISM Dhanbad, NICMAR Pune, VIT, NIT, Anna University CEG Campus and universities abroad.
            </li>
     
          </ul>
          
        
      </div>
      <div class="nav-con6" id="navCon6Id">
        <p>To have a vibrant industry interaction, faculty members are encouraged to take up testing
           and consultancy assigned from industry, at an average annual turnover of Rs.15 lakhs.</p>
        <p class="head-text">Testing: </p>
        <ul class="nav-con2-li">
         
          <li>Strength of Materials</li>
          <li>Concrete and Highway Engineering</li>
          <li>Measurement of Water Quality</li>
        </ul>
        <p class="head-text">Consultancy: </p>
        <ul class="nav-con2-li">
         
          <li>Structural Division</li>
          <li>Geotechnical Investigation</li>
          <li>Surveying</li>
        </ul>
        
      </div>
    </div>
   </div>
   <div class="lab">
    <h2  data-aos="zoom-in-up"> Laboratories</h2>
    <p  data-aos="zoom-in-up">The department is well equipped with spacious laboratories under various categories such as Strength of Materials, Surveying, Environmental Engineering, Soil Mechanics, Fluid Mechanics, Concrete & Highway Engineering, Structural Engineering and Computer Aided Design & Drafting. Apart from meeting the academic requirements, the labs are equipped to consultancy and research needs.
    </p>
      <div class="lab-con">
        <div class="lab-galary">
          <div class="galary-text"  data-aos="zoom-in-up" style="text-align: center; width: 1005;">
             <div class="galary-photo">
              <section  data-aos="zoom-in-up">
                <div class="container">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">
                        <input type="radio" name="slides" id="slide-5">
                        <input type="radio" name="slides" id="slide-6">
                        <input type="radio" name="slides" id="slide-7">
                        <input type="radio" name="slides" id="slide-8">
                        <!-- <input type="radio" name="slides" id="slide-5">
                        <input type="radio" name="slides" id="slide-6">
                        <input type="radio" name="slides" id="slide-7">
                        <input type="radio" name="slides" id="slide-8"> -->
                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/ENVIRONMENTAL-ENGINEERING-LABORATORY.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Tim Marshall</span>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/rsz_1667476055483.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Christian Joudrey</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.02-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Steve Carter</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.03-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.06-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Tim Marshall</span>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.07-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Christian Joudrey</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.13-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Steve Carter</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.14-PM.jpeg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                        
                        </ul>    
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1"><img src="/img/departement/civil/lab/ENVIRONMENTAL-ENGINEERING-LABORATORY.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2"><img src="/img/departement/civil/lab/rsz_1667476055483.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-3"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.02-PM.jpeg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.03-PM.jpeg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-5"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.06-PM.jpeg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-6"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.07-PM.jpeg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-7"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.13-PM.jpeg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-8"><img src="/img/departement/civil/lab/WhatsApp-Image-2022-11-03-at-5.30.14-PM.jpeg" alt=""></label>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </section>
            </div>
          </div>
        </div>
        <div class="lab-info">
          <ul  data-aos="zoom-in-up">
            <li>AI Laboratory</li>
            <li>General Programming Laboratory</li>
            <li>Datastructures and DBMS Laboratory</li>
            <li>Networks and OS Laboratory</li>
            <li>Redhat powered Cloud Laboratory</li>
            <li>Mobile App Laboratory</li>
          </ul>
          
        </div>
      </div>
   </div>
   <div class="hod-con">
    <h2>Faculty Team</h2>
     <div class="hod"  data-aos="flip-right" >
      <div class="profile">
        <div class="pro-img">
            <img class="pro-images" src="/img/departement/civil/faculty/KEV.CIVIL_.png" alt="">
        </div>
      </div>
      <div class="profile-con">
        <div class="faculty-head">
          Dr. K. E. VISWANATHAN
         </div>
        <div class="faculty-desination">Head of the Department</div>
        <div class="faculty-experience">Teaching: 11.5 Years</div>
        <div class="faculty-experience">Industry : 1.5 Years</div>
      </div>
     </div>
     <div class="teachers">
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/GR.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Dr. G. RAMASAMY</div>
          <div class="faculty-desination">Distinguished Professor</div>
          <div class="faculty-experience">Teaching: 46 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/GOPALAKRISHNAN-S.jpg" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Dr. S. GOPALAKRISHNAN
            </div>
          <div class="faculty-desination">Professor</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
          <div class="faculty-experience">Industry : 14 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/G.S.THIRUGANAM.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Dr. G. S. THIRUGNANAM
          </div>
          <div class="faculty-desination">Professor</div>
          <div class="faculty-experience">Teaching: 38 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/G.SRINIVASAN.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. G. SRINIVASAN</div>
          <div class="faculty-desination">Associate Professor</div>
          <div class="faculty-experience">Teaching: 28 Years</div>
          <div class="faculty-experience">Industry : 3 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/SSK.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. S. SATHEESH KUMAR</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 11.5 Years</div>
          <div class="faculty-experience">Industry : 2 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/D.SENTHILKUMAR.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. D. SENTHIL KUMAR</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 10.5 Years</div>
          <div class="faculty-experience">Industry : 2 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/SS.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. V. SASI KUMAR</div>
            <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 11.5 Years</div>
            <div class="faculty-experience">Industry : 2 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/RR.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr. P. ESWARAMOORTHI</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 12 Years</div>
            <div class="faculty-experience">Industry : 1 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/K.CHANDRASEKAR.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. K. CHANDRASEKAR</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 11.5 Years</div>
            <div class="faculty-experience">Industry : 2 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/SR.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. V. GOWRISHANKAR</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 10.5 Years</div>
            <div class="faculty-experience">Industry : 2 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/LR.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mrs. L. REENA</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 10.3 Years</div>
           
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/N.UTCHIMUTHU.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mrs. N. UTCHIMUTHU</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 10 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/S.RANJITH.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Dr. S. RANJITH</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 9 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/A.MADHAN.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. A. MADHAN</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 10.5 Years</div>
            <div class="faculty-experience">Industry : 1.4 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/SN.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Ms. D. NITHYA</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 8.4 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/SNS.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. P. NALLASAMY</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 8.4 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/KRA.CIVIL_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. K. R. ARVIND</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 4.2 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/shanthi-photo-pp-2.jpg" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mrs. P. SHANTHI</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 3 Years</div>
            <div class="faculty-experience">Industry : 1 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/115.jpg" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mrs. A. DEEPIKA</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 6 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/ARVINDH-G-e1667478430432.jpg" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mr. G. ARVINDH</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 6 Years</div>
            
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/civil/faculty/RAMYA-R.jpg" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">
            Mrs. R. RAMYA</div>
          <div class="faculty-desination">Assistant Professor</div>
            <div class="faculty-experience">Teaching: 6 Years</div>
            
        </div>
      </div>

     </div>
   </div>
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/civil.js" ></script>
</body>
</html>