<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/CSE.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Computer Science and Engineering</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/cse/undraw_innovative_re_rr5i.svg" alt="">
      <div class="head-con">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Computer Science and Engineering, started in the year 2009, offers BE Computer Science and Engineering and M.E Computer Science programme was started in the year 2013 to meet the challenges of higher education, research, and innovation in key areas of computer science. The department aims to develop computer and software engineers who are industry-ready, innovative and entrepreneurial to become global leaders in research and technology. Students are encouraged to participate and present papers in both national and international conferences. The Computer Science and Engineering department is equipped with 306 computers with high-end configuration distributed across Seven laboratories with four blade-mounted servers and latest version software. The department is an active participant in various activities in the campus. 
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      Emerge as the provider of skilled software engineers in Computer Science and Engineering.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      <li>Empowering the rural youth communities with quality computer education.</li>
                      <li>Nurturing the students to be dynamic, industry-ready, and to have multidisciplinary skills.</li>
                      <li>Creating strong ethical values, innovative research capabilities, and leadership qualities among students.</li>
                     </div>
                </div>
            
            </div>
    </div>
   <div>
    
    <h2>Program Objectives</h2>
    <div class="dept">
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
      
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
      
            <ul>
              
                <li>Engineering knowledge: <span class="li">Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</span></li>
                <li>Problem analysis: <span class="li">Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</span></li>
                <li>Design/development of solutions: <span class="li">Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for public health and safety, and the cultural, societal, and environmental considerations.</span></li>
                <li>Conduct investigations of complex problems: <span class="li">Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions.</span></li>
                <li>Modern tool usage: <span class="li">Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</span></li>
                <li>Ethics: <span class="li">Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice.</span></li>
                               </ul>
            <ul>
              <li>The engineer and society: <span class="li">Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal, and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</span></li>
              <li>Individual and team work: <span class="li">Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings.</span></li>

              <li>Environment and sustainability: <span class="li">Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</span></li>
                          <li>Communication: <span class="li">Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions.</span></li>
                <li>Project management and finance: <span class="li">Demonstrate knowledge and understanding of the engineering and management principles and apply these to one’s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments.</span></li>
                <li>Life-long learning: <span class="li">Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change.</span></li>

            </ul>
                       
                      
          
        </div>
      
      </div>
      <div class="departement-grid-con2">
       
     
        <div class="grid-content">
          <div class = "intakes">
          <ul>
            <div class="head-text">
              B.E (CSE)
              </div>
            
        
            <div class="countdownContainer" id="countdownContainer">
              <h1> <span id="intakeId1">0</span> seats</h1>
            </div>
            <li>4 year duration</li>
            <li>Anna University Curriculum</li>
          
          </ul>
          <ul>
            <div class="head-text">
              M.E (CSE)
            </div>
        
            <div class="countdownContainer" id="countdownContainer">
              <h1> <span id="intakeId2">0</span> seats</h1>
            </div>
            <li>2 year duration </li>
            <li>Anna University Curriculum</li>
      
          </ul>
        </div>
        <div class="salient">
          <ul>
            <div class="head-text">
              Salient Features
            </div>
           
              <li>Exemplary Placement Record: Achieving a track record of exceptional placements for students.</li>
              <li>Hands-on Workshop on Trending Technology: Providing practical training on the latest industry technologies.</li>
              <li>Academic Incentives for Top Performers: Recognizing and rewarding top-performing students academically.</li>
              <li>Empowered Faculty Members who received National and International Awards: Recognizing faculty members' achievements on a national and international level.</li>
              <li>Strong Industry Tie-Ups: Establishing robust collaborations with industry partners.</li>
              <li>Smart Class Rooms & Learning Management Systems: Utilizing modern technology-enhanced classrooms and learning management systems.</li>
              <li>Students are given Opportunity to organize Major Events of the Department: Allowing students to take the lead in organizing significant departmental events.</li>
              <li>National level Champions in Sports and Games: Achieving excellence in sports and games at the national level.</li>
            </ul>
            
          </div>
        </div>
        
      </div>
      <div class="departement-grid-con3">
    
        <div class="head-text">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-con">
          <img class="aids-img2" src="/img/departement/cse/undraw_creative_process_re_4ylm.svg" alt="">
          <h3>Graduates should be able to</h3>
          <ul>
            <li>arrive at actionable Foresight, Insight, hindsight from data for solving business and engineering problems.</li>
            <li>apply the theoretical knowledge of AI and Data Analytics, develop data analytics and data visualization skills with practical industrial tools and techniques to solve societal complex projects.</li>
            <li>able to carry out fundamental research to cater for the critical needs of the society through cutting edge technologies of AI.</li>
          </ul>
        </div>
           
      <div class="head-text">
        PROGRAM SPECIFIC OBJECTIVES (PSOs)
      </div>
      <div class="grid-content">
        <div class="grid-con">
    
          <ul>
            <li>Exhibit design and programming skills to build and automate business solutions using latest programming tools.</li>
            <li>Ability to work effectively with various engineering fields as a team to design, build and develop system applications.</li>

          </ul>
        </div>
        
      </div>
        <div class="head-text">
          Program Educational Objectives Statements (PEOs)
        </div>
       
        <div class="grid-content">
          <div class="grid-con">
          <ul>
            <li>Should achieve success in their field of work, in future education and in their research.</li>
            <li>Shall consistently learn new things and hone existing talents to generate impactful, resource-saving and cutting-edge solutions.</li>
            <li>Must demonstrate strong communication abilities, a professional demeanour and ethical principles while designing and creating practical,
               multidisciplinary solutions that are technically sound, financially viable and socially acceptable.</li>
          </ul>
         
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="departement-con-nav">
      <ul class="nav-li">
        <li class="value" id="valueId">Industry Collaborations</li>
        <li id="industryId">Learn from Links</li>
        <li id="researchId">Value Added Courses</li>
        <li id="professionalId">Research</li>
        <li id="softwareId">Professional Body Membership</li>
        <li id="learnId">Software</li>
        
      </ul>
      <div class="nav-con1" id="navCon1Id">
        <ul class="nav-con1-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con2" id="navCon2Id">
        <ul class="nav-con2-li">
          <li>Hardware & Networking</li>
      
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id">
        <ul class="nav-con3-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Flutter (Android App Development)</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <ul class="nav-con4-li">
         
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
          <li>Cloud Computing (AWS)</li>
          <li>Android App Development</li>
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con5" id="navCon5Id">
        <ul class="nav-con5-li">
          <li>Hardware & Networking</li>
          <li>Cyber Security</li>
          <li>Fullstack Web Development (Python / Angular)</li>
          <li>Redhat Certifications</li>
         
          <li>Java Essentials</li>
        </ul>
        
      </div>
      <div class="nav-con6" id="navCon6Id">
        <ul class="nav-con6-li">
         
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        <ul class="nav-con6-li">
         
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        
        <ul class="nav-con6-li">
         
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        
      </div>
     
    
      </div>
    </div>
   </div>
   
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/CSE.js" ></script>
</body>
</html>