<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/mech.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Mechanical Engineering</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/mech/reshot-illustration-industrial-machine-KZCSTN5WRA.png" alt="" data-aos="zoom-in-up">
      <div class="head-con"  data-aos="zoom-in-up">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Mechanical Engineering was started in the year 2009 with an intake of 60 students in the UG programme. The department aims to develop mechanical engineers who are innovative, entrepreneurial and equipped to become global leaders in research and technology. The objective of the department is to graduate individuals who can design systems, components or processes to meet desired needs within the realistic constraints such as economic, environmental, social, health, safety and manufacturability.        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To be a leading light in, and renowned for, mechanical engineering and research.
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      To maintain state of the art research facilities to provide collaborative environment that stimulates students and faculty members with opportunities to create, analyze, apply and disseminate knowledge
                    </div>
                </div>
            
            </div>
    </div>
   <div>
    <h2  data-aos="zoom-in-up">Program Objectives</h2>
    <div class="departement-grid">
     
      <div class="departement-grid-con1">
        <div class="head-text"  data-aos="zoom-in-up">
          PROGRAM OUTCOMES (POs)
        </div>
        <div class="grid-content">
          <ul>
            <li data-aos="zoom-in-up">Engineering knowledge: <span class="li">Apply knowledge of mathematics, basic science, and engineering science.</span></li>
            <li data-aos="zoom-in-up">Problem analysis: <span class="li">Identify, formulate, and solve engineering problems.</span></li>
            <li data-aos="zoom-in-up">Design/development of solutions: <span class="li">Design an electrical system or process to improve its performance, satisfying its constraints.</span></li>
            <li data-aos="zoom-in-up">Conduct investigations of complex problems: <span class="li">Conduct experiments in electrical and electronic systems and interpret the data.</span></li>
            <li data-aos="zoom-in-up">Modern tool usage: <span class="li">Apply various tools and techniques to improve the efficiency of the system.</span></li>
            <li data-aos="zoom-in-up">The Engineer and society: <span class="li">Conduct themselves to uphold their professional and social obligations.</span></li>
                        </ul>
        
          <ul>
            <li data-aos="zoom-in-up">Environment and sustainability: <span class="li">Design the system with environmental consciousness and sustainable development.</span></li>
            <li data-aos="zoom-in-up">Ethics: <span class="li">Interact with industry, business, and society in a professional and ethical manner.</span></li>
            <li data-aos="zoom-in-up">Individual and team work: <span class="li">Function in a multidisciplinary team.</span></li>
            <li data-aos="zoom-in-up">Communication: <span class="li">Proficiency in oral and written communication.</span></li>
            <li data-aos="zoom-in-up">Project management and finance: <span class="li">Implement a cost-effective and improved system.</span></li>
            <li data-aos="zoom-in-up">Life-long learning: <span class="li">Continuously engage in lifelong learning.</span></li>
        </ul>
  
        
        </div>
      </div>
      <div class="departement-grid-con2">
       
        <div class="grid-content">
          <ul>
            <div class="head-text"  data-aos="zoom-in-up">
              B.Tech (AI&DS)
            </div>
        
            <div class="countdownContainer" id="countdownContainer"  data-aos="zoom-in-up">
              <h1> <span id="intakeId1">0</span> seats</h1>
            </div>
            <li data-aos="zoom-in-up">4 years Anna University Curriculum</li>
            <li data-aos="zoom-in-up">89% placement in 2019-20</li>
            <li data-aos="zoom-in-up">Industry Internship with Stipend</li>          </ul>
          <ul>
            <div class="head-text"  data-aos="zoom-in-up">
              Salient Features
            </div>
            <li  data-aos="zoom-in-up">Exemplary Placement Record</li>
            <li  data-aos="zoom-in-up">Hands-on Workshop on Trending Technology</li>
            <li  data-aos="zoom-in-up">Academic Incentives for Top Performers</li>
            <li  data-aos="zoom-in-up">Empowered Faculty Members who received National and International Awards</li>
            <li  data-aos="zoom-in-up">Strong Industry Tie-Ups</li>
            <li  data-aos="zoom-in-up">Smart Classrooms & Learning Management Systems</li>
            <li  data-aos="zoom-in-up">Students are given Opportunity to organize Major Events of the Department</li>
            <li  data-aos="zoom-in-up">National level Champions in Sports and Games</li>
          </ul>
        </div>
        
      </div>
      <div class="departement-grid-con3">
      
        <div class="head-text" data-aos="zoom-in-up">
          PROGRAM SPECIFIC OBJECTIVES (PSOs)
        </div>
        <div class="grid-content">
          <div class="grid-con">
            <img class="mech-img2" src="/img/departement/mech/reshot-illustration-man-with-magnifying-glass-2WCSQX3KD5.png" alt=""  data-aos="zoom-in-up">
            <ul>
              <li data-aos="zoom-in-up">Exhibit design and programming skills to build and automate business solutions using latest programming tools.</li>
              <li data-aos="zoom-in-up">Ability to work effectively with various engineering fields as a team to design, build and develop system applications.</li>
  
            </ul>
          </div>
          
        </div>
        
      </div>
     
    </div>
    <div class="departement-con-nav"  data-aos="fade-right">
      <ul class="nav-li">
        <li class="value" id="valueId">Value Added Courses</li>
        <li id="industryId">Memorandum of Understanding (MoU)</li>
        <li id="researchId">Professional Body Membership</li>
        <li id="professionalId">Training Activities</li>
       
      </ul>
      <div class="nav-con1" id="navCon1Id" data-aos="zoom-in-down">
        <p class="head-text">II Year – Auto CAD </p>
        <ul class="nav-con1-li">
          <li>To make the students understand and interpret drawings of machine components.</li>
          <li>To prepare assembly drawings both manually and familiarize the students with Indian Standards on drawing practices and standard components.</li>
  
        </ul>
        <p class="head-text">III Year – Creo & CATIA</p>
        <ul class="nav-con1-li">
          <li>To gain practical experience in handling 2D drafting and 3D modeling software systems.</li>
          <li>Students can re-create part drawings, sectional views, and assembly drawings as per standards.</li>
          <li>Students will be educated to follow the drawing standards, Fits and Tolerances.</li>
  
        </ul>
     
        <p class="head-text">IV Year – ANSYS</p>
        <ul class="nav-con1-li">
          <li>To give exposure to software tools needed to analyze engineering problems.</li>
          <li>To expose the students to different applications of simulation and analysis tools.</li>
          <li>Analyze the stresses and strains induced in plates, brackets, and beams and heat transfer problems.</li>
          <li>Students can calculate the natural frequency and mode shape analysis of 2D components and beams.</li>
   
        </ul>
      </div>
      <div class="nav-con2" id="navCon2Id" data-aos="zoom-in-down">
        <ul class="nav-con2-li">
          <li>Schwing Stetter India Pvt. Ltd., Chennai</li>
          <li>Harita Techserv (TVS Group), Chennai</li>
          <li>Trimble Solutions India Pvt. Ltd., Mumbai</li>
          <li>Simem Constructions & Environmental Engineering Pvt. Ltd., Gujarat</li>

        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id" >
        <ul class="nav-con3-li">
         
          <li>IAENG</li>
          <li>AMM</li>
          <li>ISRD</li>
          <li>SAE</li>
          <li>ISTE</li>
         
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <ul class="nav-con4-li">
          <li>Faculty development programs on various topics of contemporary interest are organized to update knowledge and skills.</li>
        <li>Students undergo in-plant training and industrial visits and participate in seminars, workshops, etc.</li>
        <li>Soft skills training, outbound training, and mock interviews are conducted regularly by inviting company professionals on campus to make students industry-ready.</li>

          </ul>
          
        
      </div>
   
    </div>
   </div>
   
   <div class="lab">
    <h2  data-aos="zoom-in-up"> Laboratories</h2>
    <p class="mech-para" data-aos="zoom-in-up">The department features 13 well-equipped labs exceeding university standards. Notable facilities include a CAM lab with CNC machinery, a thermal engineering lab with IC engines and test rigs, a CAD lab with various software tools, a Harita research center with advanced software, and a newly established Product Development Centre with 3D printers. Additionally, there's a dedicated Project Laboratory for hands-on experience in Mechanical Engineering.
    </p>
      <div class="lab-con">
        <div class="lab-galary">
          <div class="galary-text"  data-aos="zoom-in-up">
            <div class="galary-photo">
              <section  data-aos="zoom-in-up">
                <div class="container">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">
                        <input type="radio" name="slides" id="slide-5">
                        <input type="radio" name="slides" id="slide-6">
                        <input type="radio" name="slides" id="slide-7">
                        <input type="radio" name="slides" id="slide-8">
                        <input type="radio" name="slides" id="slide-9">
                        <input type="radio" name="slides" id="slide-10">
                        <input type="radio" name="slides" id="slide-11">
                        <input type="radio" name="slides" id="slide-12">
                        <input type="radio" name="slides" id="slide-13">
                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/mech/lab/BMW.jpg" alt="">
                                    </div>
                                    <figcaption>
                                      BMW Lab
                                      
                                        <span class="credit">Mech </span>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/mech/lab/cad-lab.jpg" alt="">
                                    </div>
                                    <figcaption>
                                      Computer Aided Design- Laboratory
                                     
                                        <span class="credit">Mech </span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/mech/lab/CAM.jpg" alt="">
                                    </div>
                                    <figcaption>
                                      Computer Aided Manufacturing Lab
                                     
                                        <span class="credit">Mech </span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/mech/lab/EP-lab-1.jpg" alt="">
                                    </div>
                                    <figcaption>
                                      Engineering Practices Lab
                                     
                                        <span class="credit">Mech </span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                              <figure>
                                  <div>
                                      <img src="/img/departement/mech/lab/Heat-Power-Lab.jpg" alt="">
                                  </div>
                                  <figcaption>
                                    Heat Power Lab
                                     
                                   
                                      <span class="credit">Mech </span>                            
                                  </figcaption>
                              </figure>
                          </li>
                          <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/img/departement/mech/lab/lathe.jpg" alt="">
                                </div>
                                <figcaption>
                                  Lathe Lab
                                 
                                 
                                    <span class="credit">Mech </span>                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                          <figure>
                              <div>
                                  <img src="/img/departement/mech/lab/Mechatronics.jpg" alt="">
                              </div>
                              <figcaption>
                                Mechtronics Lab
                               
                                  <span class="credit">Mech </span>                            
                              </figcaption>
                          </figure>
                      </li>
                      <li class="carousel__slide">
                        <figure>
                            <div>
                                <img src="/img/departement/mech/lab/Metrology.jpg" alt="">
                            </div>
                            <figcaption>
                              Metrology Lab
                              
                                <span class="credit">Mech </span>                            
                            </figcaption>
                        </figure>
                    </li>
                    <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="/img/departement/mech/lab/PDC.jpg" alt="">
                          </div>
                          <figcaption>
                            PDC Lab
                              
                              <span class="credit">Mech </span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="/img/departement/mech/lab/Project-lab.jpg" alt="">
                        </div>
                        <figcaption>
                          Project Lab
                              
                            <span class="credit">Mech </span>                            
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="/img/departement/mech/lab/special-machine.jpg" alt="">
                      </div>
                      <figcaption>
                        Special Machines Lab
                       
                     
                          <span class="credit">Mech </span>                            
                      </figcaption>
                  </figure>
              </li>
              <li class="carousel__slide">
                <figure>
                    <div>
                        <img src="/img/departement/mech/lab/Thermal.jpg" alt="">
                    </div>
                    <figcaption>
                      Thermal Lab
                     
                          
                        <span class="credit">Mech </span>                            
                    </figcaption>
                </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                  <div>
                      <img src="/img/departement/mech/lab/Dynamics.jpg" alt="">
                  </div>
                  <figcaption>
                    Dynamics Lab
                        
                      <span class="credit">Mech </span>                            
                  </figcaption>
              </figure>
          </li>
                        </ul>    
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1">  <img src="/img/departement/mech/lab/BMW.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2"> <img src="/img/departement/mech/lab/cad-lab.jpg" alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-3"> <img src="/img/departement/mech/lab/CAM.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="/img/departement/mech/lab/EP-lab-1.jpg" alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-5"> <img src="/img/departement/mech/lab/Heat-Power-Lab.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-6"><img src="/img/departement/mech/lab/lathe.jpg" alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-7">  <img src="/img/departement/mech/lab/Mechatronics.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-8"> <img src="/img/departement/mech/lab/Metrology.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-9"><img src="/img/departement/mech/lab/PDC.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-10"> <img src="/img/departement/mech/lab/Project-lab.jpg" alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-11"><img src="/img/departement/mech/lab/special-machine.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-12"> <img src="/img/departement/mech/lab/Thermal.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-13"><img src="/img/departement/mech/lab/Dynamics.jpg" alt=""></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            </div>
          </div>
        </div>
        <div class="lab-info">
          <ul>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>BMW Lab</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Computer Aided Design- Laboratory</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Computer Aided Manufacturing Lab</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Engineering Practices Lab</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Heat Power Lab</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Lathe Lab</li>
            <li data-aos="zoom-in-up"><i class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Mechtronics Lab</li>
          </ul>
          <ul>
            
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Metrology Lab</li>
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>PDC Lab</li>
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Project Lab</li>
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Special Machines Lab</li>
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Thermal Lab</li>
            <li data-aos="zoom-in-up"><i  class="fa fa-wrench" aria-hidden="true" style="margin-right: 20px;"></i>Dynamics Lab</li>
          </ul>
          
        </div>
      </div>
   </div>
   <div class="hod-con">
    <h2>Faculty Team</h2>
     <div class="hod"  data-aos="flip-right" >
      <div class="profile">
        <div class="pro-img">
          <img class="pro-images" src="/img/departement/mech/faculty/Dr-PS.jpg" alt="">
           
        </div>
      </div>
      <div class="profile-con">
         <div class="faculty-head">Dr. P. SOMASUNDARAM</div>
        <div class="faculty-desination">Professor & Head</div>
        <div class="faculty-experience">Teaching: 25 Years</div>
        <div class="faculty-experience"> Industry : 2 Years</div>
      </div>
     </div>
     <div class="teachers">
     
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
           
 
           <img class="pro-images" src="/img/departement/mech/faculty/SR.MECH_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. S. RAVI</div>
          <div class="faculty-desination">Professor</div>
          <div class="faculty-experience">Teaching: 27 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/MSS.MECH_.png" alt="">
 
           <!-- Insert the image path for Dr. M.S. SENTHIL KUMAR here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr. M.S. SENTHIL KUMAR</div>
          <div class="faculty-desination">Professor</div>
          <div class="faculty-experience">Teaching: 16 Years | Industry: 4 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/IMG-20220709-WA0023-e1658468339852.jpg" alt="">
 
           <!-- Insert the image path for Dr. N. SATHISH KUMAR here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr. N. SATHISH KUMAR</div>
          <div class="faculty-desination">Associate Professor</div>
          <div class="faculty-experience">Teaching: 15 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/TS.MECH_.png" alt="">
 
           <!-- Insert the image path for Mr. C. SIVARAJ here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. C. SIVARAJ</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 11 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/P.LOGANATHAN.png" alt="">
 
           <!-- Insert the image path for Mr. P. LOGANATHAN here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. P. LOGANATHAN</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 11 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/TSK.MECH_.png" alt="">
 
           <!-- Insert the image path for Mr. R. SENTHIL here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. R. SENTHIL</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 11 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/GS.MECH_.png" alt="">
 
           <!-- Insert the image path for Mr. M. SURESH here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. M. SURESH</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 9 Years | Industry: 2 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/ATK.MECH_.png" alt="">
 
           <!-- Insert the image path for Mr. A. THIRUMALAIKUMARAN here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. A. THIRUMALAIKUMARAN</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 9 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/SM.MECH_.png" alt="">
 
           <!-- Insert the image path for Mr. M. MOHANRAJU here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. M. MOHANRAJU</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 9 Years | Industry: 1 Year</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/IMG_20210331_113417.jpg" alt="">
 
           <!-- Insert the image path for Mr. S. P. SUNDARESWARAN here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. S. P. SUNDARESWARAN</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 9 Years</div>
        </div>
      </div>
      
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
            <img class="pro-images" src="/img/departement/mech/faculty/kv.mech_.png" alt="">
 
           <!-- Insert the image path for Mr. K. VIGNESHWARAN here -->
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Mr. K. VIGNESHWARAN</div>
          <div class="faculty-desination">Assistant Professor</div>
          <div class="faculty-experience">Teaching: 9 Years</div>
        </div>
      </div>
      

     </div>
   </div>
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/mech.js" ></script>
</body>
</html>