<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/s&h.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="departement-con">
    <h2>Science and Humanities</h2>
    <div class="departement-con-info">
      <img class="head-img" src="/img/departement/aids/undraw_artificial_intelligence_re_enpp.svg" alt="" data-aos="zoom-in-up">
      <div class="head-con"  data-aos="zoom-in-up">
        <div class="head-text">
          Genesis
        </div>
        <div class="head-content">  
          The Department of Science and Humanities (S&H), established in 2009, offers English, Mathematics, Physics, and Chemistry disciplines following Anna University's curriculum. Experienced faculty members focus on quality education, fundamental knowledge, and placement opportunities. The department maintains high academic standards, promotes practical awareness through lab sessions, and instills moral and social responsibilities in students.
        </div>
      </div>
    </div>
    <div class="vision-mission-con">
            
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        vission
                    </div>
                    <div class="card-con">
                      To make the Students to be strong in basic concepts of Science and Humanities
                    </div>
                </div>
            
            </div>
            <div class="card">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="card-inner" data-aos="flip-right">
                    <div class="card-head">
                        mission
                    </div>
                    <div class="card-con">
                      The Department of Science & Humanities is committed to inclucate the Knowledge of Science and to make the students the right citizens of our nation
                    </div>
                </div>
            
            </div>
    </div>
  
    <h2  data-aos="zoom-in-up"> Laboratories</h2>
    <div class="departement-con-nav"  data-aos="fade-right">
      <ul class="nav-li">
        <li class="value" id="valueId">Language Laboratory</li>
        <li id="industryId">Physics Laboratory	</li>
        <li id="researchId">Chemistry Laboratory	</li>
        <li id="professionalId">General Programming Laboratory</li>
      </ul>
      <div class="nav-con1" id="navCon1Id"  data-aos="zoom-in-down">
        <ul class="nav-con1-li">
          <li>Ultra-modern Digital Language lab with 115Mbps bandwidth</li>
          <li>Hi Class Multimedia Educational Network Software</li>
          <li>Lab is equipped with high quality Audio & Video capabilities like 32” Sony Led Television, Wireless Microphone, Vocal Mic which are used to hone the students communicative competency</li>
         
         
        </ul>
        
      </div>
      <div class="nav-con2" id="navCon2Id" data-aos="zoom-in-down">
        <ul class="nav-con2-li">
          <li>Physics laboratory has been established with an area of 250 sq.m. with equipment worth Rs.9 lakhs.</li>
          <li>The lab is equipped with the latest equipment like laser units, Optical fiber, Ultrasonic interferometer, B-H curve apparatus etc.</li>
          <li>The lab has a dark room facility for conducting Laser and Fiber optic experiments.</li>
        <li>Facilities are offered to conduct experiments in Applied Physics and Materials Science.</li>

        </ul>
        
      </div>
      <div class="nav-con3" id="navCon3Id" >
        <ul class="nav-con3-li">
         
          <li>Total Area of 250 sqm. with equipment like Spectrophotometer, Flame Photometer, Digital pH Meter, Digital Potentiometer, Digital Conductivity Meter.</li>
          <li>Facilities are available to test various parameters to know the quality of water.</li>
          <li>Preparation & Distribution of Soap oil and Disinfectant for our Institution.</li>
          
        </ul>
        
      </div>
      <div class="nav-con4" id="navCon4Id">
        <ul class="nav-con4-li">
          <li>General Programming laboratory has been established with an area of 250 sq.m.</li>
          <li>The lab is well furnished with 61 desktop computers of 8GB RAM , Intel core i3 processor with 128 SSD capacity and also armed with Linux, Ubuntu-22.0.4 version.</li>
          <li>Internet surfing facility is enabled in the lab.</li>
     
          </ul>
          
        
      </div>
      <div class="nav-con5" id="navCon5Id">
        <ul class="nav-con5-li">
         
          <li>CSI - Computer Society of India</li>
          <li>IEEE - Institute of Electrical and Electronics Engineers</li>
          <li>ISTE - Indian Society for Technical Education</li>
          <li>ICT Academy - Information and Communication Technology Academy</li>
  
          </ul>
          
        
      </div>
      <div class="nav-con6" id="navCon6Id">
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        <ul class="nav-con6-li">
          <li>Anaconda</li>
          <li>Python</li>
          <li>Spyder</li>
          <li>Code Blocks with GNU</li>
          <li>NetBeans</li>
          <li>Eclipse</li>
          <li>MySQL</li>
        </ul>
        
        
      </div>
    </div>
  
   
   <div class="lab">
   
   
      <div class="lab-con">
        <div class="lab-galary">
          <div class="galary-text"  data-aos="zoom-in-up">
            <div class="galary-photo">
              <section  data-aos="zoom-in-up">
                <div class="container">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">
                        <input type="radio" name="slides" id="slide-5">
                        <input type="radio" name="slides" id="slide-6">
                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/aids/ADB.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Tim Marshall</span>
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/aids/CloudLab.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Christian Joudrey</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/aids/DBMSLAB1.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Steve Carter</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="/img/departement/aids/NETOS.jpg" alt="">
                                    </div>
                                    <figcaption>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>    
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1"><img src="/img/departement/aids/ADB.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2"><img src="/img/departement/aids/CloudLab.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-3"><img src="/img/departement/aids/DBMSLAB1.jpg" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="/img/departement/aids/NETOS.jpg" alt=""></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            </div>
          </div>
        </div>
        <div class="lab-info">
          <ul  data-aos="zoom-in-up">
            <li>AI Laboratory</li>
            <li>General Programming Laboratory</li>
            <li>Datastructures and DBMS Laboratory</li>
            <li>Networks and OS Laboratory</li>
            <li>Redhat powered Cloud Laboratory</li>
            <li>Mobile App Laboratory</li>
          </ul>
          
        </div>
      </div>
   </div>
   <div class="hod-con">
    <h2>Faculty Team</h2>
     <div class="hod"  data-aos="flip-right" >
      <div class="profile">
        <div class="pro-img">
            <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
        </div>
      </div>
      <div class="profile-con">
        <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
        <div class="faculty-desination">Head of the Department</div>
        <div class="faculty-experience">Teaching: 16 Years</div>
      </div>
     </div>
     <div class="teachers">
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>
      <div class="teacher" data-aos="flip-right">
        <div class="profile">
          <div class="pro-img">
              <img class="pro-images" src="/img/departement/aids/faculty/Dr.Selvi_.png" alt="">
          </div>
        </div>
        <div class="profile-con">
          <div class="faculty-head">Dr.S.Selvi B.E.,M.E.,Ph.D.,</div>
          <div class="faculty-desination">Head of the Department</div>
          <div class="faculty-experience">Teaching: 16 Years</div>
        </div>
      </div>

     </div>
   </div>
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
  <script src="/js/dept/aids-dept.js" ></script>
</body>
</html>