<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
       
        <div class="edc">
          <h1>
            Entrepreneurship Development Cell</h1>
            <h2>About</h2>
            <p class="econtent">Entrepreneurship is the most dynamic thriving force which decides the economic growth of the country. The main intent of the Entrepreneurship Development Cell of Builders Engineering College (BEC) is to flourish and strengthen the entrepreneurial knowledge among the rural student community. In connection with the Institutes mission, apart from Employability Skills, EDC of BEC is grooming the rural student community by giving extraordinary knowledge transfer pertaining to entrepreneurial skills.<br>

              Entrepreneurship Development Cell of BEC has established an Institution’s Innovation Council in the campus as per the norms of Innovation Cell, Ministry of Education, Government of India during the academic calendar year 2021-22 and the institute is been recognized as Host Institute (HI) for implementation of the Incubation Component under MSME Innovation Scheme, Government of India during the academic calendar year 2022-23.<br>
              
              The responsibility of our EDC Cell is to offer entrepreneurial support to the budding entrepreneurs, giving massive support in bringing Ideas into the Market and convert it as a start-up, through appropriate guidance, thoughtful mentoring system and various guest lectures. 
              
              </p>
              <div class="vision-mission-con">
                <div class="card">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="card-inner" data-aos="flip-right">
                        <div class="card-head">
                            vission
                        </div>
                        <div class="card-con">
                          To be a human and technical resource centre to meet the needs of the construction industry.
                        </div>
                    </div>
                
                </div>
                <div class="card">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="card-inner" data-aos="flip-right">
                        <div class="card-head">
                            mission
                        </div>
                        <div class="card-con">
                          Impart students the knowledge of principles and practices of Civil Engineering and shape them to meet the expectations of the industry.
                        </div>
                    </div>
                
                </div>
        </div>
          <table class="edc-table">
            <tr>
              <th style="border-top-left-radius: 10px;">S.No.</th>
              <th>Name</th>
              <th style="border-top-right-radius: 10px;">DESIGNATION & DEPARTMENT</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Dr.C.Venkatesh</td>
              <td>Chairman/EDC & CEO/KGI</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Dr.S.Ramkumar</td>
              <td>Principal/BEC</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Dr.S.Ravi Shankar</td>
              <td>EDC Convener & Head/MBA</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Prof. D. Nithya</td>
              <td>Team Member/Civil</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Prof.  V. Ammu</td>
              <td>Team Member/CSE</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Prof. G. Vijayakumari</td>
              <td>Team Member/ECE</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Prof. V. Karthi</td>
              <td>Team Member/EEE</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Dr. N. Sathish Kumar</td>
              <td>Team Member/Mechanical</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Prof. T.Maragatham</td>
              <td>Team Member/Science & Humanities</td>
            </tr>
            
              <tr>
              <td style="border-bottom-left-radius: 10px;">10</td>
              <td>	Prof. K. Sivakumar</td>
              <td style="border-bottom-right-radius: 10px;">Team Member/MBA</td>
            </tr>
          </table>
        </div>
        <%- include('../footer.ejs')%>
        <%- include('../foot.ejs')%>
        <script src="/assets/js/nav.js"></script>
    
</body>
</html>
