<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mou.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="mou">
    <h1>
      Memorandum of Understanding</h1>
    <table class="mou-table">
      <tr>
        <th style="border-top-left-radius: 10px;">S.No.</th>
        <th>Company Name</th>
        <th>MoU Signed Date</th>
        <th style="border-top-right-radius: 10px;">Dept. Under MoU</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Meriton Switchgears Pvt Ltd, Erode</td>
        <td>	15.02.2022</td>
        <td>ECE, EEE, MECH & MBA</td>
      </tr>
      <tr>
        <td>2</td>
        <td>INGLO Technologies, Coimbatore.</td>
        <td>09.02.2022</td>
        <td>ECE, EEE, MECH & MBA</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Mega Tech Scientific Instruments, Coimbatore.</td>
        <td>09.02.2022</td>
        <td>ECE, EEE & MECH</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Saradha Skill Academy, Coimbatore.</td>
        <td>09.02.2022</td>
        <td>All Branches</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Jascon Energy Pvt Ltd, Trichy.</td>
        <td>02.03.2022</td>
        <td>ECE, EEE, MECH & MBA</td>
      </tr>
      <tr>
        <td>6</td>
        <td>STEPS Knowledge Services Pvt Ltd, Coimbatore.</td>
        <td>02.12.2021</td>
        <td>ECE & EEE</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Innovatus Systems, Coimbatore.</td>
        <td>02.12.2021</td>
        <td>CSE</td>
      </tr>
      <tr>
        <td>8</td>
        <td>CMK Projects Pvt Ltd, Chennai.</td>
        <td>29.11.2021</td>
        <td>CIVIL, MECH, EEE & MBA</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Ramalingam Construction Company Private Limited, Erode.</td>
        <td>29.11.2021</td>
        <td>CIVIL, MECH, EEE & MBA</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Krish Tec, Coimbatore.</td>
        <td>22.11.2021</td>
        <td>ECE & CSE</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Schwing Stetter (India) Pvt Ltd, Coimbatore.</td>
        <td>01.11.2021</td>
        <td>CIVIL, MECH & EEE</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Enthu Technology Solutions India Pvt Ltd, Coimbatore.</td>
        <td>23.08.2021</td>
        <td>ECE</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Skill Safari, Coimbatore.</td>
        <td>08.05.2021</td>
        <td>CSE</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Calibre Embedded Technologies Pvt Ltd, Coimbatore.</td>
        <td>13.07.2019</td>
        <td>ECE & EEE</td>
      </tr>
      <tr>
        <td>15</td>
        <td>REDHAT</td>
        <td>20.11.2018</td>
        <td>CSE</td>
      </tr>
      <tr>
        <td>16</td>
        <td>GMS Elegant Builders (I) Pvt Ltd, Erode.</td>
        <td>05.09.2018</td>
        <td>CIVIL, MECH & EEE</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Sri Pathy Associates, Erode.</td>
        <td>04.09.2018</td>
        <td>CIVIL, MECH & EEE</td>
      </tr>
      <tr>
        <td>18</td>
        <td>S.S.Natarajan & Co, Erode.</td>
        <td>03.09.2018</td>
        <td>CIVIL, MECH & EEE</td>
      </tr>  
      <tr>
        <td style="border-bottom-left-radius: 10px;">19</td>
        <td>RPP Infra Projects Ltd, Erode.</td>
        <td>03.09.2018</td>
        <td style="border-bottom-right-radius: 10px;">CIVIL, MECH & EEE</td>
      </tr>
    </table>
  </div>
  <%- include('../footer.ejs')%>
  <%- include('../foot.ejs')%>
      
        <script src="/assets/js/nav.js"></script>
</body>
</html>