<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/metrics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../../../navbar.ejs')%>

  <div class="metrics">
    <h1 class="metrics-text">Metrics (Criteria 1 -7)</h1>
    <table >
      <tr>
        <th colspan="3">Criteria 1 - Curricular Aspects</th>
      </tr>
      <tr>
        <td>1.1.3</td>
        <td>Teachers of the Institution participate in following activities related to curriculum development and assessment of the affiliating University and/or are represented on the following academic bodies</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.2.1</td>
        <td>Percentage of Programmes in which Choice Based Credit System (CBCS)/ elective course system has been implemented</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.2.2</td>
        <td>Number of Add-on/Certificate programs offered</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.2.3</td>
        <td>Average percentage of students enrolled in Certificate/Add-on programs as against the total number of students</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.3.2</td>
        <td>Average percentage of courses that include experiential learning through project work/field work/internship</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.3.3</td>
        <td>Percentage of students undertaking project work/field work/internships</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.4.1</td>
        <td>Institution obtains feedback on the syllabus and its transaction at the institution from the stakeholders</td>
        <td>View</td>
      </tr>
      <tr>
        <td>1.4.2</td>
        <td>Feedback process of the Institution</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 2 - Teaching Learning and Evaluation</th>
      </tr>
      <tr>
        <td>2.1.1</td>
        <td>Average Enrolment percentage</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.1.2</td>
        <td>Average percentage of seats filled against reserved categories (SC, ST, OBC, Divyangjan, etc. as per applicable reservation policy)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.2.2</td>
        <td>Student- Full time teacher ratio</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.3.3</td>
        <td>Ratio of students to mentor for academic and other related issues</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.4.1</td>
        <td>Average percentage of full-time teachers against sanctioned posts</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.4.2</td>
        <td>Average percentage of full-time teachers with Ph. D. / D.M. / M.Ch. / D.N.B Superspeciality / D.Sc. / D.Litt.</td>
        <td>View</td>
      </tr>
      <tr>
        <td>2.4.3</td>
        <td>Average teaching experience of full-time teachers in the same institution</td>
        <td>View</td>
      </tr>
      <tr >
        <td>2.6.3</td>
        <td>Average pass percentage of Students</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 3 - Research, Innovations and Extension</th>
      </tr>
      <tr>
        <td>3.1.1</td>
        <td>Grants received from Government and non-governmental agencies for research projects, endowments, Chairs in the institution (INR in Lakhs)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.1.2</td>
        <td>Percentage of teachers recognized as research guides</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.1.3</td>
        <td>Percentage of departments having Research projects funded by government and non-government agencies</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.2.2</td>
        <td>Number of workshops/seminars conducted on Research Methodology, Intellectual Property Rights (IPR), and entrepreneurship</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.3.1</td>
        <td>Number of Ph.Ds registered per eligible teacher</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.3.2</td>
        <td>Number of research papers per teachers in the Journals notified on UGC website</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.3.3</td>
        <td>Number of books and chapters in edited volumes/books published and papers published in national/international conference proceedings per teacher</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.4.2</td>
        <td>Number of awards and recognitions received for extension activities from government/government-recognized bodies</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.4.3</td>
        <td>Number of extension and outreach programs conducted by the institution through NSS/NCC, Government, and Government-recognized bodies</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.4.4</td>
        <td>Average percentage of students participating in extension activities at 3.4.3 above</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.5.1</td>
        <td>Number of Collaborative activities for research, Faculty exchange, Student exchange/internship per year</td>
        <td>View</td>
      </tr>
      <tr>
        <td>3.5.2</td>
        <td>Number of functional MoUs with institutions, other universities, industries, corporate houses, etc.</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 4 - Infrastructure and Learning Resources</th>
      </tr>
      <tr>
        <td>4.1.3</td>
        <td>Percentage of classrooms and seminar halls with ICT-enabled facilities such as smart class, LMS, etc.</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.1.4</td>
        <td>Average percentage of expenditure, excluding salary for infrastructure augmentation (INR in Lakhs)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.2.2</td>
        <td>The institution has a subscription for e-resources</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.2.3</td>
        <td>Average annual expenditure for the purchase of books/e-books and subscription to journals/e-journals (INR in Lakhs)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.2.4</td>
        <td>Percentage per day usage of library by teachers and students (footfalls and login data for online access)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.3.2</td>
        <td>Student-Computer ratio</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.3.3</td>
        <td>Bandwidth of internet connection in the Institution</td>
        <td>View</td>
      </tr>
      <tr>
        <td>4.4.1</td>
        <td>Average percentage of expenditure incurred on maintenance of infrastructure (physical and academic support facilities) excluding salary component (INR in Lakhs)</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 5 - Student Support and Progression</th>
      </tr>
      <tr>
        <td>5.1.1</td>
        <td>Average percentage of students benefited by scholarships and freeships provided by the Government</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.1.2</td>
        <td>Average percentage of students benefitted by scholarships, freeships, etc. provided by the institution/non-government agencies during</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.1.3</td>
        <td>Capacity building and skills enhancement initiatives taken by the institution</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.1.4</td>
        <td>Average percentage of students benefitted by guidance for competitive examinations and career counseling offered by the Institution</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.1.5</td>
        <td>The Institution has a transparent mechanism for timely redressal of student grievances, including sexual harassment and ragging cases</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.2.1</td>
        <td>Average percentage of placement of outgoing students</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.2.2</td>
        <td>Average percentage of students progressing to higher education</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.2.3</td>
        <td>Average percentage of students qualifying in state/national/international level examinations</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.3.1</td>
        <td>Number of awards/medals won by students for outstanding performance in sports/cultural activities at inter-university/state/national/international level</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.3.3</td>
        <td>Average number of sports and cultural events/competitions in which students of the Institution participated</td>
        <td>View</td>
      </tr>
      <tr>
        <td>5.4.2</td>
        <td>Alumni contribution (INR in lakhs)</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 6 - Governancs, Leadership and Management</th>
      </tr>
      <tr>
        <td>6.2.3</td>
        <td>Implementation of e-governance in areas of operation</td>
        <td>View</td>
      </tr>
      <tr>
        <td>6.3.2</td>
        <td>Average percentage of teachers provided with financial support to attend conferences/workshops and towards membership fee of professional bodies</td>
        <td>View</td>
      </tr>
      <tr>
        <td>6.3.3</td>
        <td>Average number of professional development/administrative training programs organized by the institution for teaching and non-teaching staff</td>
        <td>View</td>
      </tr>
      <tr>
        <td>6.3.4</td>
        <td>Average percentage of teachers undergoing online/face-to-face Faculty Development Programmes (FDP)</td>
        <td>View</td>
      </tr>
      <tr>
        <td>6.4.2</td>
        <td>Funds/Grants received from non-government bodies, individuals, philanthropists</td>
        <td>View</td>
      </tr>
      <tr>
        <td>6.5.3</td>
        <td>Quality assurance initiatives of the institution</td>
        <td>View</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="3">Criteria 7 - Institutional Values and Best Practices</th>
      </tr>
      <tr>
        <td>7.1.2</td>
        <td>The Institution has facilities for alternate sources of energy and energy conservation measures</td>
        <td>View</td>
      </tr>
      <tr>
        <td>7.1.4</td>
        <td>Water conservation facilities available in the Institution</td>
        <td>View</td>
      </tr>
      <tr>
        <td>7.1.5</td>
        <td>Green campus initiatives</td>
        <td>View</td>
      </tr>
      <tr>
        <td>7.1.6</td>
        <td>Quality audits on environment and energy are regularly undertaken by the Institution and any awards received for such green campus initiatives</td>
        <td>View</td>
      </tr>
      <tr>
        <td>7.1.7</td>
        <td>The Institution has a disabled-friendly, barrier-free environment</td>
        <td>View</td>
      </tr>
      <tr>
        <td>7.1.10</td>
        <td>The Institution has a prescribed code of conduct for students, teachers, administrators, and other staff and conducts periodic programs in this regard</td>
        <td>View</td>
      </tr>
    </table>
  </div>
  <%- include('../../../footer.ejs')%> 
  <%- include('../../../foot.ejs')%>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
        <script src="/assets/js/nav.js"></script>
</body>
</html>