<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/library.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="library">
  <div class="library-text" data-aos="zoom-in-up">
    Library
   </div>
   <div class="library-con">
    <div class="library-con-text" >
      In sandy soil, when deep you delve, you reach the springs below; the more you learn the freer streams of wisdom flow <span style="color: #fb8c00;">-Thirukkural Couplet (396).<span>
      </div>
    </div>
    <div class="library-text1">
      “Read Today – Lead Tomorrow”
     </div>
      <div class="library-con-text-1">
        <img class="library-img" src="/../img/library/library.jpg" alt="img" height="40%" width="35%">
        <h1 class="lib-con">As the face is the index of a person, so is the library for a college. The BEC library has been built to International Standards with an area of 611sq.m. And now has a collection of 11420 Titles of books & 30288 Volumes on a variety of subjects. Specialized collections of Books, Journals & Non-book materials are available in Basic Sciences & Humanities, Engineering, Management, and Technology & Social Sciences and some of which are rare & invaluable.</h1>
      </div>
      <div class="vision-mission-con" data-aos="zoom-in-up">
            
        <div class="card">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="card-inner" data-aos="flip-right">
                <div class="card-head">
                    vission
                </div>
                <div class="card-con">
                  To cater to the needs of all the users through scholarly resources available in print, digital and visual modes, thereby to support the teaching, learning and research process.
                </div>
            </div>
        
        </div>
        <div class="card">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="card-inner" data-aos="flip-right">
                <div class="card-head">
                    mission
                </div>
                <div class="card-con">
                  To disseminate the scholarly resources among the users through automation and open source software packages. To provide access to the information through the digital library centre.
                </div>
            </div>
        
        </div>
       </div> 
       <h1 class="lib-con1">DIGITAL LIBRARY</h1>
       <div class="lib-con2">
       <img class="lib-img2"  src="/../img/library/undraw_sharing_knowledge_03vp.svg" alt="logo" height="50%" width="400px">
       <ul class="library-ul">
        <li class="hover1">DELNET Access</li>
        <li class="hover1">Hub ( Knowledge hub)</li>
        <li class="hover1">NDLI</li>
        <li class="hover1">NPTEL</li>
        <li class="hover1">E-Shodh Sindhu</li>
        <li class="hover1">Internet Surfing</li>
        <li class="hover1">Scanning</li>
        <li class="hover1">CD/DVD – ROM Search</li>
        <li class="hover1">E-Journals Access</li>
       </ul>
      </div>
      <h2 class="lib-con2">E- Journals are available in our library for our user community and public to enhance the general studies, teaching and research...</h2>
       <div class="lib-con3">
        <img  class="lib-img3-1" src="/../img/library/undraw4.svg" alt="logo2" height="50%" width="400px">
        <h1 class="library-ul-1">
          <ul>
           <li class="hover1">DOAJ (Directory Open Access Journals)</li>
           <li class="hover1">Mathematics Journals</li>
           <li class="hover1">Free Electronic Mathematics Journals</li>
          </ul>
        </h1>
        <img  class="lib-img3" src="/../img/library/undraw4.svg" alt="logo2" height="50%" width="400px">
       </div>
       <div class="lib-con4">
        <img class="lib-img4"  src="/../img/library/undraw5.svg" alt="logo" height="50%" width="400px">
        <ul class="library-ul-2">
         <li class="hover1">OPAC Search (Online Public Access Catalog)</li>
         <li class="hover1">JOURNALS</li>
         <li class="hover1">MAGAZINE</li>
         <li class="hover1">NEWSPAPERS</li>
         <li class="hover1">BOOK BANK</li>
         <li class="hover1">PROJECT SECTION</li>
         <li class="hover1">QUESTION BANK</li>
         <li class="hover1">BACK VOLUMES</li>
         <li class="hover1">SWAYAM (FREE ONLINE Edu.)</li>
        </ul>
       </div>
       <div class="lib-con5">
        <img class="lib-img5-1"  src="/../img/library/scan.jpg" alt="logo" height="40%" width="300px" style="border-radius: 50%;">
        <ul class="library-ul-3">
          <li class="hover1">Books will be issued only at the circulation counter of the library against valid Identity Card.</li>
          <li class="hover1">Loan Period – 14 days</li>
          <li class="hover1">Renewal – 2 times</li>
          <li class="hover1">Once a book is issued, students are not allowed to bring inside the library again and it should be kept in the personal belongings section available at the entrance.</li>
          <li class="hover1">The librarian reserves the right to recall any book at any time.</li>
          <li class="hover1">Students can take photocopy of reference materials and other materials available in the library and per page 1 rupee will be charged.</li>
          <li class="hover1">Students are strictly warned not to make any marks or tear-off or damage pages in the books and other library materials.If found any, the offender should replace such damaged material and has to pay a penal fee for the same.</li>
          <li class="hover1">When Classes are in Session: Monday –Saturday: 9 am – 8.00 pm (Circulation: 9.00 am – 7.00 pm)</li>
          <li class="hover1">Vacation Period: Monday – Friday: 9 am – 8 pm (Circulation: 9.00 am – 6.00pm)</li>
         </ul>
         <img class="lib-img5"  src="/../img/library/scan.jpg" alt="logo" height="40%" width="300px" style="border-radius: 50%;">
       </div>
  </div>
    <%- include('../footer.ejs')%>
        <script src="/assets/js/nav.js"></script>
       
</body>
</html>
