@use "../abstract/color" as *;

  .round{
    width: 550px;
    height: 550px;
    border: 0.1px solid $primary-text-color;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    }
  .s-round{
    width: 20%;
    height: 20%;
    box-shadow:-10px -10px 15px rgba(229, 229, 229, 0.5),
                10px 10px 15px rgba(70, 70, 70, 0.12  );
    border-radius: 50%;
    position: absolute;
    z-index:1;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    font-family: $primary-text;
    font-weight: 600;
  }
  .c-round{
    width: 70%;
    height: 70%;
    z-index:-1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15%;
    bottom: 15%;
    font-size: 20px;
    color:gray;
    font-weight: 600;
    text-align: center;
    font-family: $primary-text;
  }
  
  .s-round1{
    width: 20%;
    height: 20%;
    box-shadow:-10px -10px 15px rgba(229, 229, 229, 0.5),
                10px 10px 15px rgba(70, 70, 70, 0.12  );
    border-radius: 50%;
    position: absolute;
    z-index:1;
    background-color:$primary-text-color    ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary-text;
    
    
  }
  .s-round:nth-child(1){
    left: 40%;
    top: -10%;
  }
  .s-round:nth-child(2){
    left: 40%;
    bottom: -10%;
  }
  .s-round:nth-child(3){
    left: -10%;
    bottom: 40%;
  }
  .s-round:nth-child(4){
    right: -10%;
    bottom: 40%;
  }
  .s-round:nth-child(5){
    right: 5%;
    bottom: 5%;
  }
  .s-round:nth-child(6){
    left: 5%;
    bottom: 5%;
  }
  .s-round:nth-child(7){
    left: 5%;
    top: 5%;
  }
  .s-round:nth-child(8){
    right: 5%;
    top: 5%;
  }
  .p-icon{
    width: 30%;
    height: 30%;
    fill:$primary-text-color;
  }
  .icon-info{
    color: $primary-text-color;
  }
  .p-icon1{
    width: 30%;
    height: 30%;
    fill:white ;
  }
  .icon-info1{
    color:white;
  }

@media (max-width:1300px) {
  .round{
    width: 450px;
    height: 450px;
  }
}
@media (max-width:1100px) {
  .round{
    width: 550px;
    height: 550px;
  }
}
@media (max-width:700px) {
  .round{
    width: 450px;
    height: 450px;
  }
}
@media (max-width:600px) {
  .round{
    width: 400px;
    height: 400px;
  }
  .icon-info{
    font-size: 12px;
  }
  .c-round{
    font-size: 16px;
  }
}
@media (max-width:500px) {
  .round{
    width: 300px;
    height: 300px;
  }
  .icon-info{
    font-size: 12px;
  }
  .c-round{
    font-size: 16px;
  }
}
@media (max-width:400px) {
  .round{
    width: 300px;
    height: 300px;
  }
  .icon-info{
    font-size: 8px;
  }
  .c-round{
    font-size: 14px;
  }
}