<div class="navbar">
  <a href="/home" class="logo"
    ><img
      src="/img/logo/BEC Logo - Website I 11.07.2023 (70 px).png"
      alt=""
      height="50px"
  /></a>
  <input type="checkbox" id="menu-bar" />
  <label for="menu-bar" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <nav>
    <ul>
      <li><a href="/home">home</a></li>
      <li onclick="about">
        <a>about <i class="fas fa-caret-down"></i></a>
        <ul class="about">
          <li style="border-top: none"><a href="/about/bec">BEC</a></li>
          <li><a href="/about/management">Management</a></li>
          <li><a href="/about/ceo">CEO</a></li>
          <li><a href="/about/principle">Principal</a></li>
          <li>
            <a>Comitee <i class="fas fa-caret-right"></i></a>
            <ul class="Comitee">
              <li style="border-top: none">
                <a href="/about/commitee/antiraging">Anti-Ragging Committee</a>
              </li>
              <li>
                <a href="/about/commitee/monitoring">Monitoring Committee</a>
              </li>
              <li style="border-bottom: none">
                <a href="/about/commitee/internal">Internal Committee</a>
              </li>
            </ul>
          </li>
          <li class="policies">
            <a>Policies <i class="fas fa-caret-right"></i></a>
            <ul>
              <li style="border-top: none">
                <a href="/about/policies/codeofconduct">Code of Content</a>
              </li>
              <li style="border-bottom: none">
                <a href="/about/policies/ethics">Code of Ethics</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/admission">admission</a></li>
      <li>
        <a>academic <i class="fas fa-caret-down"></i></a>
        <ul class="academic">
          <li style="border-top: none">
            <a href="/academics/programs">programs</a>
          </li>
          <li>
            <a>department <i class="fas fa-caret-right"></i></a>
            <ul class="departement">
              <li style="border-top: none">
                <a href="/academics/department/aids"
                >Artificial Intelligence and Data Science</a
              >
              </li>
              <li>
                
                <a href="/academics/department/civilengineering"
                >Civil Engineering</a
              >
              </li>
              <li>
                <a href="/academics/department/CSE"
                  >Computer Science and Engineering</a
                >
              </li>
              <li>
                <a href="/academics/department/EEE"
                  >Electrical and Electronics Engineering</a
                >
              </li>
              <li>
                <a href="/academics/department/ECE"
                  >Electronics and Communication Engineering</a
                >
              </li>
              <li>
                <a href="/academics/department/Mech">Mechanical Engineering</a>
              </li>
              
              <li>
                <a href="/academics/department/MBA"
                  >Master of Business Administration</a>
              </li>
              <li style="border-bottom: none">
                <a href="/academics/department/sh">Science and Humanities</a>
              </li>
            </ul>
          </li>
          <li><a href="/academics/calendar">Academic Calendars</a></li>
          <li><a href="/academics/scholarships">Scholarships</a></li>
          <li style="border-bottom: none"><a href="/academics/library">Library</a></li>
        </ul>
      </li>
      <li><a href="/placement">placement</a></li>
      <li>
        <a>others <i class="fas fa-caret-down"></i></a>
        <ul class="others">
          <li style="border-top: none">
            <a>Research <i class="fas fa-caret-right"></i></a>
            <ul class="other">
              <li style="border-top: none">
                <a href="/research/mou">MOU</a>
              </li>
              <li><a href="/research/rd">R&D</a></li>
              <li><a href="/research/edc">EDC</a></li>
            </ul>
          </li>
          <li>
            <a>Accreditation <i class="fas fa-caret-right"></i></a>
            <ul class="other">
              <li style="border-top: none">
                <a href="/aggregation/iqac"> IQAC </a>
              </li>
              <li><a>NAAC <i class="fas fa-caret-right"></i></a>
                <ul class="other">
                  <li style="border-top: none"><a href="/img/naac/ssr.pdf">SSR</a></li>
                  <li style="border-top: none"><a href="/img/naac/SSR APPROVED.pdf">SSR</a></li>

                  <li><a href="/aggregation/naac/criterea"> Criteria 1 to 7 </a></li>
                  <li><a href=""> DVV Clarification <i class="fas fa-caret-right"></i></a>
                    <ul class="other">
                      <li style="border-top: none"><a href="/aggregation/naac/dvv/metrics">Matrices (Criteria 1-7)</a></li>
                      <li><a href="/aggregation/naac/dvv/profile"> Extended Profile </a></li>
                    </ul>
                  </li>
                  <li><a href="/img/naac/best-practices.pdf"> Best practices </a></li>
                  <li><a href="/img/naac/institutional-distinctiveness.pdf"> Institutional Distinctiveness </a></li>
                  <li><a href="/img/naac/Best Practices.pdf"> Best practices </a></li>
                  <li><a href="/img/naac/Institutional Distinctiveness.pdf"> Institutional Distinctiveness </a></li>
                  <li><a href="/aggregation/naac/coc"> Code of Conduct </a></li>
                  <li><a href="/aggregation/naac/capacity"> Capacity Building and Skills Enhancement </a></li>
                  <li><a href="/aggregation/naac/feedback"> Feedback Forms </a></li>
                  <li><a href="/aggregation/naac/grievances"> Grievances & Redressal </a></li>
                  <li><a href="/aggregation/naac/annual"> Annual Report for the Celebration & Events </a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li style="border-bottom: none">
            <a>Campus Life <i class="fas fa-caret-right"></i></a>
            <ul class="other">
              <li style="border-top: none">
                <a href="/campus/beyound"> beyound curriculam </a>
              </li>
              <li><a href="/campus/infra">infrastructru</a></li>
              <li><a href="/campus/sports">sports</a></li>
              <li><a href="/campus/club">club & Activities</a></li>
              <li><a href="/campus/galaery">galaery</a></li>
              <li><a href="/campus/galaery">Invitations</a></li>
              <li><a href="/campus/galaery">Quick Links</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a href="/profiles"> Profile </a>
      </li> -->
    </ul>
    <!-- <div class="profile-tab">
      <p><a href="/profiles"> Form fill-ups </a></p>
      <p><a href="/accountdetails"> Account Details </a></p>
      <p><a href="/logout"> Logout </a></p>
 </div> -->
  </nav>
</div>
