@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgb(255, 255, 255);
  background: linear-gradient(72deg, rgb(255, 255, 255) 0%, rgb(7, 7, 85) 21%);
  opacity: 1;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  /* height: 80px; */
}

.navbar.hide {
  top: -100px;
  opacity: 0;
}

.navbar.top {
  background: rgb(255, 255, 255);
  background: linear-gradient(72deg, rgb(255, 255, 255) 0%, rgb(0, 31, 78) 21%);
  color: black;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
  padding: 15px;
}

.navbar nav ul li a {
  padding: 5px;
  display: block;
  color: white;
  text-transform: capitalize;
}

.navbar nav ul li a:hover {
  border-bottom: 1px solid black;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #001F4E 4%, rgb(25, 116, 173) 100%);
  opacity: 0.9;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px 0 10px;
  width: 250px;
}

.navbar nav ul li .others {
  left: -100px;
  width: 200px;
}

.navbar nav ul li ul li {
  width: 100%;
  border-top: 1px solid white;
}

.navbar nav ul li ul li a:hover {
  border-bottom: none;
}

.navbar nav ul li ul li ul {
  left: 230px;
  top: 0;
}

.navbar nav ul li ul li .Comitee {
  left: 230px;
  top: 0;
  width: 280px;
}

.navbar nav ul li ul li .departement {
  left: -400px;
  top: 0;
  width: 400px;
}

.navbar nav ul li ul li .other {
  left: -250px;
  top: 10px;
  width: 250px;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #333;
  display: none;
}

@media (max-width: 1100px) {
  .navbar {
    padding: 20px;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: #fff;
    min-height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #eee;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
  .navbar nav ul li ul li .departement {
    left: 0;
    width: 100%;
  }
  .navbar nav ul li ul li .other {
    left: 0px;
    width: 100%;
  }
  .navbar nav ul li .others {
    left: 0px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-image: url(../img/backgrond/2713234.png);
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anti-ragging-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anti-ragging-page .anti-ragging-policy {
  margin-top: 100px;
  padding: 0 50px;
  width: 70%;
}
.anti-ragging-page .anti-ragging-policy .heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.anti-ragging-page .anti-ragging-policy .para {
  margin-top: 10px;
  font-size: 20px;
  line-height: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #757575;
}
@media (max-width: 800px) {
  .anti-ragging-page .anti-ragging-policy {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .anti-ragging-page .anti-ragging-policy {
    padding: 20px;
    width: 100%;
  }
  .anti-ragging-page .anti-ragging-policy .heading {
    font-size: 18px;
  }
  .anti-ragging-page .anti-ragging-policy .para {
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
  }
}
.anti-ragging-page .forms-of-ragging {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  width: 90%;
}
.anti-ragging-page .forms-of-ragging .grid1 h1 {
  color: #001f4e;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #757575;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r:hover {
  color: #fb8c00;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r:hover .svg-tick {
  background-color: #efefef;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r:hover .svg-tick .svg {
  stroke: #fb8c00;
  fill: #efefef;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r .svg-tick {
  box-shadow: 1px 1px 5px rgb(155, 154, 154);
  padding: 2px 4px;
  border-radius: 50%;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r .svg-tick:hover {
  background-color: #efefef;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r .svg-tick:hover .svg {
  stroke: #fb8c00;
  fill: #efefef;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r .svg-tick .svg {
  margin: 0;
  width: 30px;
  height: 30px;
  stroke: #757575;
  fill: white;
}
.anti-ragging-page .forms-of-ragging .grid1 .f-r .svg-name {
  margin-top: 10px;
  font-size: 20px;
}
.anti-ragging-page .forms-of-ragging .grid2 {
  animation: bounce 2s linear infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.anti-ragging-page .forms-of-ragging .grid2 img {
  margin-top: 100px;
  width: 400px;
}
@media (max-width: 800px) {
  .anti-ragging-page .forms-of-ragging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .anti-ragging-page .forms-of-ragging h1 {
    font-size: 20px;
  }
  .anti-ragging-page .forms-of-ragging .f-r {
    gap: 20px;
  }
  .anti-ragging-page .forms-of-ragging .f-r .svg-tick {
    padding: 4px;
  }
  .anti-ragging-page .forms-of-ragging .f-r .svg-tick .svg {
    margin: 0;
    width: 20px;
    height: 20px;
  }
  .anti-ragging-page .forms-of-ragging .f-r .svg-name {
    margin-top: 10px;
    font-size: 15px;
  }
  .anti-ragging-page .forms-of-ragging .grid2 img {
    margin-top: 50px;
    width: 200px;
  }
}
.anti-ragging-page .possible-punishment {
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p:hover svg .circle {
  stroke: #757575;
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p:hover .svg-name {
  color: #001f4e;
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p svg {
  border-radius: 50%;
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p svg .circle {
  fill: none;
  stroke: rgb(7, 7, 85);
}
.anti-ragging-page .possible-punishment .p-p-grid1 .p-p .svg-name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 900;
  flex-wrap: wrap;
  color: #0a3981;
}
@media (max-width: 450px) {
  .anti-ragging-page .possible-punishment {
    padding: 0px;
    width: 85%;
  }
  .anti-ragging-page .possible-punishment .p-p-grid1 h1 {
    font-size: 20px;
  }
  .anti-ragging-page .possible-punishment .p-p-grid1 .p-p {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .anti-ragging-page .possible-punishment .p-p-grid1 .p-p svg {
    margin-top: 10px;
    height: 40px;
    width: 40px;
  }
  .anti-ragging-page .possible-punishment .p-p-grid1 .p-p .svg-name {
    width: 90%;
    margin-top: 20px;
    font-size: 15px;
  }
}
.anti-ragging-page .a-r-committee {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.anti-ragging-page .a-r-committee-table {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(70, 69, 69);
}
.anti-ragging-page .a-r-committee-table td {
  padding: 20px 10px;
  text-align: center;
}
.anti-ragging-page .a-r-committee-table tr:hover {
  background-color: #ddd;
}
.anti-ragging-page .a-r-committee-table th {
  padding: 10px;
  text-align: center;
  background-color: #0a3981;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .anti-ragging-page .a-r-committee {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .anti-ragging-page .a-r-committee h1 {
    font-size: 20px;
  }
  .anti-ragging-page .a-r-committee-table {
    margin-top: 30px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(70, 69, 69);
  }
  .anti-ragging-page .a-r-committee-table td {
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
  }
  .anti-ragging-page .a-r-committee-table tr:hover {
    background-color: #ddd;
  }
  .anti-ragging-page .a-r-committee-table th {
    padding: 10px;
    text-align: center;
    background-color: #0a3981;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 490px) {
  .anti-ragging-page .a-r-committee {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .anti-ragging-page .a-r-committee-table {
    margin-top: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(70, 69, 69);
  }
  .anti-ragging-page .a-r-committee-table td {
    padding: 3px;
    font-size: 8px;
  }
  .anti-ragging-page .a-r-committee-table th {
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
.anti-ragging-page .a-r-squad {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.anti-ragging-page .a-r-squad-table {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  width: 60%;
  box-shadow: 1px 1px 10px rgb(70, 69, 69);
}
.anti-ragging-page .a-r-squad-table td {
  padding: 20px 10px;
  text-align: center;
}
.anti-ragging-page .a-r-squad-table tr:hover {
  background-color: #ddd;
}
.anti-ragging-page .a-r-squad-table th {
  padding: 20px 10px;
  text-align: center;
  background-color: #0a3981;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .anti-ragging-page .a-r-squad {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .anti-ragging-page .a-r-squad h1 {
    font-size: 20px;
  }
  .anti-ragging-page .a-r-squad-table {
    margin-top: 30px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(70, 69, 69);
  }
  .anti-ragging-page .a-r-squad-table td {
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
  }
  .anti-ragging-page .a-r-squad-table tr:hover {
    background-color: #ddd;
  }
  .anti-ragging-page .a-r-squad-table th {
    padding: 10px;
    text-align: center;
    background-color: #0a3981;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 490px) {
  .anti-ragging-page .a-r-squad {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .anti-ragging-page .a-r-squad-table {
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(70, 69, 69);
  }
  .anti-ragging-page .a-r-squad-table td {
    padding: 5px;
    font-size: 8px;
  }
  .anti-ragging-page .a-r-squad-table th {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
  }
}
.anti-ragging-page .contact-heading {
  font-size: 25px;
}
@media (max-width: 500px) {
  .anti-ragging-page .contact-heading {
    font-size: 18px;
  }
}
.anti-ragging-page .a-r-cell {
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  gap: 200px;
}
.anti-ragging-page .a-r-cell-grid {
  display: flex;
  flex-direction: column;
}
.anti-ragging-page .a-r-cell-grid .contact {
  margin-top: 20px;
  width: 400px;
  animation: bounce 2s linear infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info:hover .svg {
  background-color: #CCCCCC;
  box-shadow: 1px 1px 10px rgb(190, 190, 190);
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info:hover .svg svg {
  fill: #fb8c00;
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info:hover .svg-name {
  color: #fb8c00;
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info .svg {
  padding: 8px 10px;
  border-radius: 50%;
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info .svg svg {
  fill: #757575;
}
.anti-ragging-page .a-r-cell-grid .a-r-cell-info .svg-name {
  margin-top: 10px;
  font-size: 20px;
  color: #757575;
}
@media (max-width: 800px) {
  .anti-ragging-page .a-r-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
}
@media (max-width: 500px) {
  .anti-ragging-page .a-r-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  .anti-ragging-page .a-r-cell-grid {
    display: flex;
    flex-direction: column;
  }
  .anti-ragging-page .a-r-cell-grid .contact {
    margin-top: 10px;
    width: 200px;
  }
  .anti-ragging-page .a-r-cell-grid .a-r-cell-info {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .anti-ragging-page .a-r-cell-grid .a-r-cell-info .svg {
    padding: 8px 10px;
    border-radius: 50%;
  }
  .anti-ragging-page .a-r-cell-grid .a-r-cell-info .svg-name {
    margin-top: 10px;
    font-size: 15px;
  }
}/*# sourceMappingURL=antiRaging.css.map */