@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.home-svg {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgb(245, 245, 245);
  background: linear-gradient(90deg, #f5f5f5 0%, #258965 17%);
  opacity: 1;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.navbar.hide {
  top: -100px;
  opacity: 0;
}

.navbar.top {
  background: rgb(255, 255, 255);
  background: linear-gradient(72deg, rgb(255, 255, 255) 0%, rgb(0, 31, 78) 21%);
  color: black;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
  padding: 15px;
}

.navbar nav ul li a {
  padding: 5px;
  display: block;
  color: white;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.navbar nav ul li a:hover {
  border-bottom: 1px solid black;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #001F4E 4%, rgb(25, 116, 173) 100%);
  opacity: 0.9;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px 0 10px;
  width: 250px;
}

.navbar nav ul li .others {
  left: -100px;
  width: 200px;
}

.navbar nav ul li ul li {
  width: 100%;
  border-top: 1px solid white;
}

.navbar nav ul li ul li a:hover {
  border-bottom: none;
}

.navbar nav ul li ul li ul {
  left: 230px;
  top: 0;
}

.navbar nav ul li ul li .Comitee {
  left: 230px;
  top: 0;
  width: 280px;
}

.navbar nav ul li ul li .departement {
  left: -400px;
  top: 0;
  width: 400px;
}

.navbar nav ul li ul li .other {
  left: -250px;
  top: 10px;
  width: 250px;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #eee;
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 20px;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: #fff;
    min-height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #eee;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
  .navbar nav ul li ul li .departement {
    left: 0;
    width: 100%;
  }
  .navbar nav ul li ul li .other {
    left: 0px;
    width: 100%;
  }
  .navbar nav ul li .others {
    left: 0px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-image: url(../img/backgrond/2713234.png);
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
  .build-img {
    height: 40px;
  }
}
@media (max-width: 300px) {
  .build-img {
    height: 30px;
  }
  .navbar nav {
    top: 60px;
  }
}
body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
}

.curve {
  width: 100%;
}

.con {
  width: 100%;
  height: 700px;
  z-index: 0;
  background: rgb(245, 245, 245);
  background: linear-gradient(90deg, rgb(245, 245, 245) 0%, rgb(37, 137, 101) 17%);
}

.home-svg {
  position: relative;
  top: 680px;
  display: block;
  z-index: -1;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-container {
  border-radius: 10px;
  overflow: hidden;
  width: 98%;
  position: absolute;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  height: 85vh;
  z-index: 0;
  top: 90px;
  background-color: #f2f2f2;
}

.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(10, 10, 20, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.15);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 20;
  overflow: hidden;
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}
.empty-card {
  height: 50vh;
}

@media (max-width: 1800px) {
  .carousel-container {
    height: 90vh;
  }
  .con {
    height: 685px;
  }
}
@media (max-width: 1500px) {
  .con {
    height: 685px;
  }
}
@media (max-width: 1300px) {
  .carousel-container {
    height: 75vh;
  }
  .con {
    height: 685px;
  }
}
@media (max-width: 1100px) {
  .carousel-container {
    height: 65vh;
    margin-top: 10px;
  }
  .con {
    height: 550px;
  }
  .home-svg {
    top: 540px;
  }
  .empty-card {
    height: 45vh;
  }
}
@media (max-width: 950px) {
  .carousel-container {
    height: 55vh;
  }
}
@media (max-width: 850px) {
  .carousel-container {
    height: 45vh;
  }
  .con {
    height: 500px;
  }
  .home-svg {
    top: 490px;
  }
  .empty-card {
    height: 40vh;
  }
}
@media (max-width: 700px) {
  .carousel-container {
    height: 35vh;
  }
  .con {
    height: 400px;
  }
  .home-svg {
    top: 390px;
  }
  .empty-card {
    height: 35vh;
  }
}
@media (max-width: 500px) {
  .carousel-container {
    height: 30vh;
  }
  .text {
    display: none;
  }
  .con {
    height: 300px;
  }
  .home-svg {
    top: 290px;
  }
  .empty-card {
    height: 28vh;
  }
}
* {
  box-sizing: border-box;
}

.shik {
  position: relative;
  z-index: 0;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}
.shik::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 200%;
  height: 200%;
  background-color: white;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(white, white), linear-gradient(rgb(5, 58, 117), #053a75), linear-gradient(#21836E, #21836E), linear-gradient(white, white);
  background-repeat: no-repeat;
  background-size: 40% 45%;
  background-position: 0 0, 100% 0, 0 100%, 100% 100%;
  animation: shik 10s linear infinite;
}
.shik::after {
  content: " ";
  position: absolute;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: white;
  border-radius: 10px;
  top: 6px;
  left: 6px;
  animation: opacityChange 2s infinite alternate;
}

@keyframes shik {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1100px) {
  .shik {
    width: 90%;
    height: 100%;
  }
}
@media (max-width: 300px) {
  .shik {
    width: 100%;
    height: 100%;
  }
}
.content {
  z-index: 4;
  position: relative;
  padding: 20px;
  padding-left: 40px;
  font-family: "Sacramento",  cursive;
}
.content h2 {
  font-size: 2rem;
  text-align: center;
  color: #0a3981;
  font-family: "Sacramento",  cursive;
}
.content p {
  font-size: 1.5rem;
  color: gray;
  font-family: "Belanosima", sans-serif;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .content h2 {
    font-size: 30px;
  }
  .content p {
    font-size: 18px;
    margin-top: 5px;
  }
}
@media (max-width: 650px) {
  .content h2 {
    font-size: 28px;
  }
  .content p {
    font-size: 14px;
    margin-top: 0px;
  }
}
@media (max-width: 450px) {
  .content h2 {
    font-size: 22px;
  }
  .content p {
    font-size: 12px;
    margin-top: 0px;
  }
}

.num-card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 1100px;
  padding: 40px 0px;
  box-sizing: border-box;
  background-color: rgb(200, 174, 9);
  background-image: url(../img/backgrond/wave.png);
  background-size: 1000px 200px;
  border-radius: 20px;
  background-position: 50%;
}
.num-card .number-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  font-size: 40px;
  color: whitesmoke;
  font-weight: 900;
}
.num-card .num-con {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num-card .num-text {
  font-weight: 900;
  color: whitesmoke;
  font-size: 22px;
  font-family: "Belanosima", sans-serif;
}
@media (max-width: 860px) {
  .num-card .number-field {
    font-size: 30px;
  }
  .num-card .num-text {
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 100px;
  }
}
@media (max-width: 665px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .num-card .number-field {
    font-size: 14px;
  }
  .num-card .num-text {
    font-size: 10px;
  }
  .num-card .num-con {
    width: 50px;
  }
}
@media (max-width: 300px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 80px;
  }
}

@media (max-width: 750px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 450px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 300px) {
  .num-card {
    display: grid;
    grid-template-columns: repeat(1fr);
    background-image: linear-gradient(yellow, yellow);
    background-size: 50px 0;
    row-gap: 40px;
    width: 100px;
  }
}
.program-cards-con {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  row-gap: 40px;
}

.program-cards {
  width: 350px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(211, 208, 208);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.program-cards .p-c-img {
  width: 100%;
  height: 220px;
}
.program-cards .p-c-img .explore-images {
  width: 100%;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.program-cards .program-line {
  width: 100%;
  height: 5px;
  background-color: #0a3981;
}
.program-cards .p-c-info {
  padding: 20px 10px;
}
.program-cards .p-c-info .info-head {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #0a3981;
}
.program-cards .p-c-info .info-content {
  font-family: "Ubuntu", sans-serif;
  color: gray;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  padding-right: 10px;
  line-height: 25px;
}

.program-cards:hover {
  box-shadow: inset 1px 1px 20px rgb(255, 255, 255);
  transition-duration: 0.5s;
}

@media (max-width: 360px) {
  .program-cards {
    width: 95%;
  }
}
@media (max-width: 1550px) {
  .program-cards-con {
    grid-template-columns: repeat(3, 350px);
  }
  .program-cards:nth-child(4) {
    margin-left: 390px;
  }
}
@media (max-width: 1150px) {
  .program-cards-con {
    grid-template-columns: repeat(2, 350px);
  }
  .program-cards:nth-child(4) {
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .program-cards-con {
    grid-template-columns: repeat(1, 350px);
  }
}
@media (max-width: 350px) {
  .program-cards-con {
    grid-template-columns: repeat(1, 90%);
  }
  .program-cards {
    height: 100%;
  }
}
.placement-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #0a3981;
  font-family: "Belanosima", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.placement-btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fb8c00;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.placement-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.placement-btn .read-more {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.placement-btn a {
  color: #fff;
}

.placement-btnn:hover .read-more {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
/*apply btn*/
/* From uiverse.io by @Ali-Tahmazi99 */
.apply-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.apply-btn::before,
.apply-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.apply-btn::before {
  left: -10px;
  background: #0a3981;
}

.apply-btn::after {
  right: -10px;
  background: #fb8c00;
}

.apply-btn:hover::before,
.apply-btn:hover::after {
  width: 58%;
}

.apply-btn:hover .apply-add {
  color: #fff;
  transition: 0.3s;
}

.apply-btn .apply-add {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.alumini-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  flex-direction: column;
}
.alumini-con .alumini-text {
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: #0a3981;
  margin-bottom: 50px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  background-color: #FFF;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
  box-shadow: 1px 1px 20px rgb(236, 233, 233);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0a3981;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #0a3981;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid #0a3981;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-weight: 600px;
  font-size: 18px;
  font-family: "Belanosima", sans-serif;
  text-align: center;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
  font-family: "Belanosima", sans-serif;
  line-height: 20px;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #0a3981;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #fb8c00;
  color: black;
}

.swiper-navBtn {
  color: #0a3981;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #0a3981;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #0a3981;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #0a3981;
}

.rc {
  font-size: 16px;
  color: black;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.builders-card-con {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}

.num-card-con {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 0px;
}

.builders-card, .num-card {
  width: 1100px;
}

.home-icons {
  width: 100%;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  margin-top: 40px;
  margin-bottom: 0;
}
.home-icons div {
  width: 100px;
  height: 100px;
  text-align: center;
}
.home-icons h4 {
  font-weight: 600;
  color: #adbace;
  font-family: "Belanosima", sans-serif;
}
.home-icons .home-icon-list {
  width: 70px;
  height: 70px;
  fill: #adbace;
  transition: width, height 0.2s ease;
}
.home-icons .home-item-con:hover .home-icon-list {
  width: 90px;
  height: 90px;
  fill: #0a3981;
  cursor: pointer;
}
.home-icons .home-item-con:nth-child(2):hover .home-icon-list {
  fill: #f44336;
}
.home-icons .home-item-con:nth-child(3):hover .home-icon-list {
  fill: #fb8c00;
}
.home-icons .home-item-con:nth-child(4):hover .home-icon-list {
  fill: #8bc34a;
}
.home-icons .home-item-con:nth-child(5):hover .home-icon-list {
  fill: #1e88e5;
}
.home-icons .home-item-con:hover h4 {
  color: #0a3981;
}
.home-icons .home-item-con:nth-child(2):hover h4 {
  color: #f44336;
}
.home-icons .home-item-con:nth-child(3):hover h4 {
  color: #fb8c00;
}
.home-icons .home-item-con:nth-child(4):hover h4 {
  color: #8bc34a;
}
.home-icons .home-item-con:nth-child(5):hover h4 {
  color: #1e88e5;
}
@media (max-width: 750px) {
  .home-icons .home-icon-list {
    width: 50px;
    height: 50px;
  }
  .home-icons .home-item-con:hover .home-icon-list {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .home-icons .home-icon-list {
    width: 70px;
    height: 70px;
    fill: #0a3981;
  }
  .home-icons .svg-2 {
    fill: #f44336;
  }
  .home-icons .svg-3 {
    fill: #fb8c00;
  }
  .home-icons .svg-4 {
    fill: #8bc34a;
  }
  .home-icons .svg-5 {
    fill: #1e88e5;
  }
}

.round-dots-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  position: static;
  bottom: 18px;
}
.round-dots-con .round-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0a3981;
}
.round-dots-con .round-dots:hover {
  background-color: #fb8c00;
}
.round-dots-con .explore-text-con {
  color: #adbace;
  font-family: "Belanosima", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.round-dots-con .explore-text-con:hover .explore-text {
  transition-duration: 0.5s;
  cursor: pointer;
}
.round-dots-con .explore-text-con:hover .explore-text:nth-child(1) {
  color: #0a3981;
}
.round-dots-con .explore-text-con:hover .explore-text:nth-child(2) {
  color: #f44336;
  transition-delay: 0.1s;
}
.round-dots-con .explore-text-con:hover .explore-text:nth-child(3) {
  color: #fb8c00;
  transition-delay: 0.2s;
}
.round-dots-con .explore-text-con:hover .explore-text:nth-child(4) {
  color: #8bc34a;
  transition-delay: 0.3s;
}
.round-dots-con .explore-text-con:hover .explore-text:nth-child(5) {
  color: #1e88e5;
  transition-delay: 0.4s;
}
@media (max-width: 600px) {
  .round-dots-con .explore-text {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .round-dots-con .explore-text {
    font-size: 18px;
  }
}

/*code for blue bc*/
.blue-con {
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: 600px;
}
.blue-con .blue-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.blue-con .blue-svg-1 {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
}
.blue-con .blue-svg-2 {
  position: absolute;
  bottom: -75px;
  left: 730px;
  z-index: 1;
}
.blue-con .blue-svg-con {
  position: absolute;
  width: 800px;
  height: 80%;
  left: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  bottom: 22px;
  z-index: 2;
  box-shadow: 5px 5px 20px rgb(177, 174, 174);
  z-index: 0;
}
.blue-con .quoate-svg-1 {
  width: 100px;
  height: 100px;
  fill: rgb(250, 240, 240);
  text-shadow: 5px 5px 20px rgb(177, 174, 174);
}
@media (max-width: 860px) {
  .blue-con .blue-svg-con {
    width: 95%;
    left: 0;
    margin-left: 10px;
    top: 0;
  }
  .blue-con .blue-svg-2 {
    right: 0;
  }
  .blue-con .trail {
    display: none;
  }
  .blue-con .quoate-svg-1 {
    width: 70px;
    height: 70px;
    top: 0px;
  }
  .blue-con .blue-svg-1 {
    top: 0px;
  }
}
@media (max-width: 750px) {
  .blue-con .blue-svg-con {
    height: 100%;
    top: 0;
  }
  .blue-con .blue-svg-1 {
    top: 0px;
  }
  .blue-con .quoate-svg-1 {
    width: 50px;
    height: 50px;
    top: 0px;
  }
}
@media (max-width: 550px) {
  .blue-con .blue-svg-con {
    height: 80%;
  }
}
@media (max-width: 450px) {
  .blue-con .blue-svg-con {
    height: 100%;
  }
}
@media (max-width: 380px) {
  .blue-con .blue-svg-con {
    height: 100%;
  }
}

/*code for diversity*/
.round-dots-con-2 {
  margin-top: 100px;
}
.round-dots-con-2 .a-head:hover {
  color: #fb8c00;
  cursor: pointer;
}
@media (max-width: 600px) {
  .round-dots-con-2 .a-head {
    color: Rgb(47, 46, 65);
  }
  .round-dots-con-2 .dots2 {
    background-color: #fb8c00;
  }
}

/*code for advance learning*/
.advance-learning-con {
  position: relative;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.advance-learning-con .computer-img {
  height: 500px;
  animation: up 1s linear infinite alternate;
}
@keyframes up {
  100% {
    transform: translateY(-25px);
  }
}
.advance-learning-con .advance-learning-text-con {
  display: flex;
  flex-direction: column;
}
.advance-learning-con .a-l-con {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px 40px;
  cursor: pointer;
}
.advance-learning-con .a-l-con .a-l-check {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 2px -2px 10px rgb(200, 196, 196);
  align-items: center;
  justify-content: center;
  display: flex;
}
.advance-learning-con .a-l-con .tick {
  width: 25px;
  height: 25px;
  fill: gray;
}
.advance-learning-con .a-l-con .a-l-text {
  font-family: "Belanosima", sans-serif;
  font-size: 22px;
  color: #adbace;
  font-weight: 600;
}
@media (max-width: 600px) {
  .advance-learning-con .a-l-con .a-l-text {
    font-size: 16px;
    color: #fb8c00;
  }
  .advance-learning-con .a-l-con .tick {
    width: 20px;
    height: 20px;
    fill: #fb8c00;
  }
  .advance-learning-con .a-l-con .a-l-check {
    width: 25px;
    height: 25px;
    background-color: Rgb(47, 46, 65);
  }
}
.advance-learning-con .a-l-con:hover .tick {
  fill: #fb8c00;
}
.advance-learning-con .a-l-con:hover .a-l-text {
  color: #fb8c00;
}
.advance-learning-con .a-l-con:hover .a-l-check {
  background-color: Rgb(47, 46, 65);
}
@media (max-width: 600px) {
  .advance-learning-con .computer-img {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 800px) {
  .advance-learning-con .computer-img {
    width: 400px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .advance-learning-con .computer-img {
    width: 300px;
    height: 250px;
  }
}

/*code for placement*/
.placement-head {
  text-align: center;
  font-size: 40px;
  font-family: "Belanosima", sans-serif;
  color: #adbace;
  margin: 50px 0;
  cursor: pointer;
  width: 100%;
}

.placement-head:hover {
  color: #fb8c00;
}

.placement-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.placement-con .placement-text-con {
  width: 550px;
  box-shadow: 2px 2px 20px rgb(198, 194, 194);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 40px 40px;
}
.placement-con .placement-text {
  cursor: pointer;
}
.placement-con .placement-word {
  font-family: "Ubuntu", sans-serif;
  color: gray;
  font-size: 16px;
  line-height: 47px;
  font-weight: 500;
}
.placement-con .builder-word {
  font-family: "Ubuntu", sans-serif;
  color: #0a3981;
  font-size: 24px;
  font-weight: 600;
}
.placement-con .dot-word {
  font-family: "Ubuntu", sans-serif;
  color: #fb8c00;
  font-weight: 900;
}
.placement-con .placement-word:hover {
  color: #fb8c00;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.placement-con .interview-img {
  height: 500px;
  animation: up 1s linear infinite alternate;
}
@media (max-width: 1400px) {
  .placement-con .placement-text-con {
    width: 450px;
  }
  .placement-con .placement-word {
    line-height: 30px;
  }
  .placement-con .placement-btn {
    margin-right: 0px;
  }
  .placement-con .placement-btn .read-more {
    padding: 8px 12px;
  }
}
@media (max-width: 1400px) {
  .placement-con .interview-img {
    margin-top: 50px;
  }
}
@media (max-width: 800px) {
  .placement-con .interview-img {
    width: 400px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .placement-con .interview-img {
    width: 300px;
    height: 250px;
  }
  .placement-con .placement-text-con {
    width: 300px;
  }
  .placement-con .placement-word {
    line-height: 20px;
    font-size: 12px;
  }
  .placement-con .placement-text-con {
    padding: 10px 10px;
  }
  .placement-con .builder-word {
    font-size: 16px;
  }
  .placement-con .placement-btn .read-more {
    font-size: 12px;
    padding: 8px 12px;
  }
}

/* code for builders strong*/
.b-strong-con {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  background-color: rgb(62, 61, 61);
  padding: 50px 0;
}
.b-strong-con .strong-icon-con {
  display: flex;
  -moz-column-gap: 300px;
       column-gap: 300px;
}
.b-strong-con .strong-icon {
  width: 200px;
  height: 200px;
}
.b-strong-con .strong-text {
  font-size: 40px;
  background: -webkit-linear-gradient(13deg, rgb(178, 125, 246) 0%, #FD5F00 34%, rgb(41, 248, 195) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
}
.b-strong-con .s-icon-con {
  display: flex;
  flex-direction: column;
}
.b-strong-con .s-icon-text {
  font-family: "Belanosima", sans-serif;
  text-align: center;
}
.b-strong-con .s-icon-text1 {
  background: -webkit-linear-gradient(13deg, rgb(191, 149, 248) 0%, rgb(239, 186, 211) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.b-strong-con .s-icon-text2 {
  background: -webkit-linear-gradient(13deg, #FD5F00 0%, #FFD900 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.b-strong-con .s-icon-text3 {
  background: -webkit-linear-gradient(13deg, rgb(21, 127, 255) 0%, rgb(39, 238, 200) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1400px) {
  .b-strong-con .strong-icon-con {
    -moz-column-gap: 200px;
         column-gap: 200px;
  }
}
@media (max-width: 1100px) {
  .b-strong-con .strong-icon-con {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (max-width: 900px) {
  .b-strong-con .strong-icon-con {
    flex-direction: column;
    row-gap: 20px;
  }
  .b-strong-con .strong-icon {
    width: 150px;
    height: 150px;
  }
  .b-strong-con .s-icon-text {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .b-strong-con .strong-icon-con {
    flex-direction: column;
  }
  .b-strong-con .strong-icon {
    width: 70px;
    height: 70px;
  }
  .b-strong-con .s-icon-text {
    font-size: 10px;
  }
  .b-strong-con .strong-text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

/* code for trusty*/
.trusty-con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 300px 0;
}

/*code for common media*/
@media (max-width: 1400px) {
  .placement-con {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 1250px) {
  .advance-learning-con {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .placement-con {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .builders-card, .num-card {
    width: 95%;
  }
  .home-icons {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .advance-learning-con {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .home-icons {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .blue-con {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 400px;
  }
}
@media (max-width: 800px) {
  .builders-card-con, .num-card-con {
    margin-bottom: 20px;
  }
  .home-icons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 500px) {
  .home-icons {
    row-gap: 30px;
    flex-direction: column;
    margin-top: 200px;
  }
  .round-dots-con {
    margin-top: 240px;
  }
  .round-dots-con-2 {
    margin-top: 40px;
  }
  .blue-con {
    height: 300px;
  }
}
.feature-card {
  position: absolute;
  height: 400px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
  background: white;
  box-shadow: 5px 10px 50px rgba(193, 191, 191, 0.3);
  font-family: "Belanosima", sans-serif;
}

.feature-inner-part {
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

#imgTap:checked ~ .feature-inner-part {
  padding: 0;
  transition: 0.1s ease-in;
}

.feature-inner-part .feature-img {
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgb(202, 203, 204);
  box-shadow: 2px 3px 15px rgba(195, 193, 193, 0.1);
}

#imgTap:checked ~ .feature-inner-part .feature-img {
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: 0.3s 0.2s ease-in;
}

.feature-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}

#feature-1:checked ~ .feature-inner-part .feature-img-4,
#feature-2:checked ~ .feature-inner-part .feature-img-1,
#feature-3:checked ~ .feature-inner-part .feature-img-2,
#feature-4:checked ~ .feature-inner-part .feature-img-3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.feature-content {
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}

#imgTap:checked ~ .feature-inner-part .feature-content {
  display: none;
}

#feature-1:checked ~ .feature-inner-part .feature-content-1,
#feature-2:checked ~ .feature-inner-part .feature-content-2,
#feature-3:checked ~ .feature-inner-part .feature-content-3,
#feature-4:checked ~ .feature-inner-part .feature-content-4 {
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: 0.3s;
}

.feature-content span {
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
}

.feature-content .feature-title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  font-family: "Belanosima", sans-serif;
}

.feature-content .feature-text {
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
  font-family: "Belanosima", sans-serif;
}

.feature-sliders {
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

#imgTap:checked ~ .feature-sliders {
  display: none;
}

.feature-sliders .feature-tap {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}

.feature-sliders .feature-tap:hover {
  background: #cccccc;
}

.feature-sliders .feature-tap:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg, #474746 0%, #1e1d1d 74%);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

#feature-1:checked ~ .feature-sliders .feature-tap-1:before,
#feature-2:checked ~ .feature-sliders .feature-tap-2:before,
#feature-3:checked ~ .feature-sliders .feature-tap-3:before,
#feature-4:checked ~ .feature-sliders .feature-tap-4:before {
  transform: scaleX(1);
  width: 100%;
}

@media (max-width: 1100px) {
  .feature-card {
    width: 75%;
  }
  .feature-inner-part {
    height: 100%;
  }
  .feature-content {
    width: 98%;
  }
}
@media (max-width: 800px) {
  .feature-inner-part .feature-img {
    width: 160px;
    height: 160px;
  }
  .feature-sliders .feature-tap {
    width: 20px;
  }
}
@media (max-width: 600px) {
  #imgTap:checked ~ .feature-inner-part .feature-img {
    width: 100%;
    height: 100%;
  }
  .feature-inner-part .feature-img {
    width: 80px;
    height: 80px;
  }
  .feature-inner-part {
    flex-direction: column;
  }
  .feature-inner-part .feature-img {
    border: none;
  }
  .feature-content .feature-title {
    font-size: 20px;
  }
  .feature-content .feature-text {
    font-size: 15px;
  }
  .feature-content span {
    font-size: 18px;
  }
  .feature-card {
    width: 75%;
    padding: 20px 0;
  }
}
footer {
  position: relative;
  background-color: #C7CED8;
  width: 100%;
}

.footer-con {
  position: relative;
  margin-top: 200px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 30px 20px 30px;
}
.footer-con .address-info {
  height: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Belanosima", sans-serif;
  justify-content: center;
}
.footer-con .address-head {
  font-family: "Belanosima", sans-serif;
  font-size: 24px;
  color: #0a3981;
  font-weight: 600;
}
.footer-con .address-content {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 40px;
}
.footer-con .address-map {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-con .mapouter {
  border-radius: 10px;
  position: relative;
  text-align: right;
  width: 100%;
  height: 350px;
}
.footer-con .gmap_canvas {
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(189, 186, 186);
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}
.footer-con .gmap_iframe {
  height: 100% !important;
}
.footer-con .footer-icon {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-con .f-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: width, height 0.35s ease;
}
.footer-con .f-icon1:hover {
  fill: #395693;
}
.footer-con .f-icon2:hover {
  fill: #00acee;
}
.footer-con .f-icon3:hover {
  fill: #0A66C2;
}
.footer-con .f-icon4:hover {
  fill: #CD201F;
}
.footer-con .f-icon5:hover {
  fill: #4fce5d;
}
.footer-con .f-icon6:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer-con .f-icon6 {
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .footer-con .address-map {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .footer-con .footer-icon {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: 30px;
  }
  .footer-con .address-map {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .footer-con .address-map {
    width: 90%;
    height: 150px;
  }
  .footer-con .address-head {
    font-family: "Belanosima", sans-serif;
    font-size: 18px;
    color: #0a3981;
    font-weight: 600;
  }
  .footer-con .address-content {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-img {
  width: 150px;
  position: absolute;
  top: -60px;
  left: 50px;
}

@media (max-width: 1000px) {
  .footer-con {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer-img {
    width: 100px;
    position: absolute;
    top: -40px;
    left: 50px;
  }
  .footer-con {
    padding: 40px 30px 20px 30px;
  }
}
@media (max-width: 430px) {
  .footer-img {
    width: 70px;
    position: absolute;
    top: -30px;
    left: 30px;
  }
}/*# sourceMappingURL=main.css.map */