@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgb(255, 255, 255);
  background: linear-gradient(72deg, rgb(255, 255, 255) 0%, rgb(7, 7, 85) 21%);
  opacity: 1;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  /* height: 80px; */
}

.navbar.hide {
  top: -100px;
  opacity: 0;
}

.navbar.top {
  background: rgb(255, 255, 255);
  background: linear-gradient(72deg, rgb(255, 255, 255) 0%, rgb(0, 31, 78) 21%);
  color: black;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
  padding: 15px;
}

.navbar nav ul li a {
  padding: 5px;
  display: block;
  color: white;
  text-transform: capitalize;
}

.navbar nav ul li a:hover {
  border-bottom: 1px solid black;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #001F4E 4%, rgb(25, 116, 173) 100%);
  opacity: 0.9;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px 0 10px;
  width: 250px;
}

.navbar nav ul li .others {
  left: -100px;
  width: 200px;
}

.navbar nav ul li ul li {
  width: 100%;
  border-top: 1px solid white;
}

.navbar nav ul li ul li a:hover {
  border-bottom: none;
}

.navbar nav ul li ul li ul {
  left: 230px;
  top: 0;
}

.navbar nav ul li ul li .Comitee {
  left: 230px;
  top: 0;
  width: 280px;
}

.navbar nav ul li ul li .departement {
  left: -400px;
  top: 0;
  width: 400px;
}

.navbar nav ul li ul li .other {
  left: -250px;
  top: 10px;
  width: 250px;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #333;
  display: none;
}

@media (max-width: 1100px) {
  .navbar {
    padding: 20px;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: #fff;
    min-height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #eee;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
  .navbar nav ul li ul li .departement {
    left: 0;
    width: 100%;
  }
  .navbar nav ul li ul li .other {
    left: 0px;
    width: 100%;
  }
  .navbar nav ul li .others {
    left: 0px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-image: url(../img/backgrond/2713234.png);
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
}
.placement-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(7, 7, 85);
  font-family: "Belanosima", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.placement-btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #fb8c00;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.placement-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.placement-btn .read-more {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.placement-btn a {
  color: #fff;
}

.placement-btnn:hover .read-more {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
/*apply btn*/
/* From uiverse.io by @Ali-Tahmazi99 */
.apply-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.apply-btn::before,
.apply-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.apply-btn::before {
  left: -10px;
  background: #0a3981;
}

.apply-btn::after {
  right: -10px;
  background: #fb8c00;
}

.apply-btn:hover::before,
.apply-btn:hover::after {
  width: 58%;
}

.apply-btn:hover .apply-add {
  color: #fff;
  transition: 0.3s;
}

.apply-btn .apply-add {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.next-page {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 3em;
  border: none;
  border-radius: 0.4rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.next-page span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 35px;
  background-color: #388e3c;
  border-radius: 50%;
  transition: 0.6s ease;
}

.next-page span:nth-child(6) {
  position: relative;
}

.next-page span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.next-page span:nth-child(2) {
  transform: translate(-8em, 1.3em);
}

.next-page span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.next-page span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.next-page span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.next-page:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

footer {
  position: relative;
  background-color: #C7CED8;
  width: 100%;
}

.footer-con {
  position: relative;
  margin-top: 200px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 30px 20px 30px;
}
.footer-con .address-info {
  height: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Belanosima", sans-serif;
  justify-content: center;
}
.footer-con .address-head {
  font-family: "Belanosima", sans-serif;
  font-size: 24px;
  color: #0a3981;
  font-weight: 600;
}
.footer-con .address-content {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 40px;
}
.footer-con .address-map {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-con .mapouter {
  border-radius: 10px;
  position: relative;
  text-align: right;
  width: 100%;
  height: 350px;
}
.footer-con .gmap_canvas {
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(189, 186, 186);
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}
.footer-con .gmap_iframe {
  height: 100% !important;
}
.footer-con .footer-icon {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-con .f-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: width, height 0.35s ease;
}
.footer-con .f-icon1:hover {
  fill: #395693;
}
.footer-con .f-icon2:hover {
  fill: #00acee;
}
.footer-con .f-icon3:hover {
  fill: #0A66C2;
}
.footer-con .f-icon4:hover {
  fill: #CD201F;
}
.footer-con .f-icon5:hover {
  fill: #4fce5d;
}
.footer-con .f-icon6:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer-con .f-icon6 {
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .footer-con .address-map {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .footer-con .footer-icon {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: 30px;
  }
  .footer-con .address-map {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .footer-con .address-map {
    width: 90%;
    height: 150px;
  }
  .footer-con .address-head {
    font-family: "Belanosima", sans-serif;
    font-size: 18px;
    color: #0a3981;
    font-weight: 600;
  }
  .footer-con .address-content {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-img {
  width: 150px;
  position: absolute;
  top: -60px;
  left: 10px;
}

.btn-con {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-con button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
}

@media (max-width: 1000px) {
  .footer-con {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer-img {
    width: 100px;
    position: absolute;
    top: -40px;
  }
  .footer-con {
    padding: 50px 30px 20px 30px;
  }
  .footer-con {
    margin-top: 100px;
  }
}
@media (max-width: 430px) {
  .footer-img {
    width: 80px;
    position: absolute;
    top: -30px;
  }
}
figcaption {
  font-size: 1rem;
  color: #06111E;
}

section {
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  padding: 20px 0;
  border-radius: 5px;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(13):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -1200%;
}
.carousel > input:nth-of-type(12):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -1100%;
}
.carousel > input:nth-of-type(11):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -1000%;
}
.carousel > input:nth-of-type(10):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -900%;
}
.carousel > input:nth-of-type(9):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -800%;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -700%;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -600%;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(7) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(8) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(9):checked ~ .carousel__thumbnails li:nth-of-type(9) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(10):checked ~ .carousel__thumbnails li:nth-of-type(10) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(11):checked ~ .carousel__thumbnails li:nth-of-type(11) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(12):checked ~ .carousel__thumbnails li:nth-of-type(12) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}
.carousel > input:nth-of-type(13):checked ~ .carousel__thumbnails li:nth-of-type(13) {
  box-shadow: 0px 0px 0px 3px #5CB4FF;
  border-radius: 10px;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc(12.5% - 20px);
  margin: 0 10px;
  width: 50px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 70%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc(2% + 30px);
    margin: 5px 12px;
    width: 50px;
    transition: all 300ms ease-in-out;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 700px;
  }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc(2% + 30px);
    margin: 5px 12px;
    width: 50px;
    transition: all 300ms ease-in-out;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 500px;
  }
  section {
    aspect-ratio: 16/9;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .container {
    height: 330px;
    max-width: 370px;
  }
  section {
    aspect-ratio: 16/9;
    width: 100%;
  }
  .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc(10% + 20px);
    margin: 5px 12px;
    width: 50px;
    transition: all 300ms ease-in-out;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 350px;
  }
  section {
    width: 100%;
  }
  .carousel__thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
  }
}
@media (max-width: 350px) {
  .container {
    max-width: 300px;
  }
  section {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .container {
    max-width: 250px;
  }
  section {
    width: 100%;
  }
}
.departement-con {
  margin-top: 150px;
  row-gap: 100px;
  font-weight: 900;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2F2E41;
}
.departement-con h2 {
  font-family: "Belanosima", sans-serif;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
}
.departement-con .head-img {
  width: 500px;
}
.departement-con-info {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.departement-con .head-con {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.departement-con .head-con .head-content {
  text-indent: 50px;
  text-align: justify;
  line-height: 30px;
  color: #2F2E41;
}
.departement-con .head-text {
  color: #5CB4FF;
  font-size: 1.5rem;
}
.departement-con .countdownContainer {
  height: 70px;
  width: 250px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.departement-con .countdownContainer h1 {
  color: #06111E;
  padding: 20px;
  font-size: 40px;
}
.departement-con .vision-mission-con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.departement-con .card {
  width: 430px;
  height: 170px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}
.departement-con .card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 20px 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.departement-con .card:hover {
  transform: scale(1.04) rotate(0.5deg);
}
.departement-con .circle {
  width: 70px;
  height: 70px;
  background: #5CB4FF;
  border-radius: 50%;
  position: absolute;
  filter: blur(2px);
  animation: move-up6 2s ease-in infinite alternate-reverse;
}
.departement-con .circle:nth-child(1) {
  top: -25px;
  left: -25px;
}
.departement-con .circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}
.departement-con .card-head {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-family: "Belanosima", sans-serif;
  color: #5CB4FF;
  font-weight: 900;
}
.departement-con .card-con {
  color: #2F2E41;
  text-indent: 30px;
  text-align: justify;
  line-height: 25px;
}
@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}
@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
.departement-con .departement-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "out out side" "bt bt side";
  padding: 40px;
}
.departement-con .departement-grid .grid-content {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
}
.departement-con .departement-grid ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  line-height: 25px;
}
.departement-con .departement-grid ul li {
  color: black;
  font-weight: 600;
}
.departement-con .departement-grid .li {
  color: rgb(162, 162, 162);
  font-weight: 400;
}
.departement-con .departement-grid-con1 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  grid-area: out;
  display: flex;
}
.departement-con .departement-grid-con2 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-right: 1px solid black;
  grid-area: bt;
  padding-top: 20px;
}
.departement-con .departement-grid-con3 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  grid-area: side;
  justify-content: center;
  align-items: center;
}
.departement-con .departement-grid-con3 .grid-con {
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
  padding: 0 0 0 30px;
}
.departement-con .departement-grid-con3 .mech-img2 {
  width: 250px;
}
.departement-con-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.departement-con-nav .nav-li {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.departement-con-nav .nav-li li {
  list-style: none;
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.departement-con-nav .nav-li .value {
  background-color: #5CB4FF;
  color: #fff;
}
.departement-con-nav .nav-con1 {
  background-color: white;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  width: 65%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  display: block;
}
.departement-con-nav .nav-con1 p {
  color: gray;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.departement-con-nav .nav-con1 .head-text {
  color: #2F2E41;
  font-size: 1.2rem;
}
.departement-con-nav .nav-con1-li {
  padding-left: 30px;
  line-height: 60px;
  color: gray;
}
.departement-con-nav .nav-con2 {
  background-color: white;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  width: 65%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  display: none;
}
.departement-con-nav .nav-con2-li {
  line-height: 60px;
  color: gray;
}
.departement-con-nav .nav-con3 {
  background-color: white;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  width: 65%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  display: none;
}
.departement-con-nav .nav-con3-li {
  line-height: 60px;
  color: gray;
}
.departement-con-nav .nav-con4 {
  background-color: white;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  width: 65%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 20px;
  display: none;
}
.departement-con-nav .nav-con4-li {
  line-height: 60px;
  color: gray;
}
.departement-con .lab {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.departement-con .lab .mech-para {
  width: 70%;
}
.departement-con .lab-con {
  display: flex;
  width: 100%;
  height: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 5%;
  text-align: start;
  justify-content: center;
  align-items: center;
}
.departement-con .lab-galary {
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.departement-con .lab-galary .galary-photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.departement-con .lab-galary .galary-text {
  color: gray;
  font-size: 1.2rem;
}
.departement-con .lab-info {
  width: 20%;
  text-align: start;
  height: 100%;
  padding: 20px;
}
.departement-con .lab-info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.departement-con .lab-info li {
  cursor: pointer;
  list-style: none;
  line-height: 50px;
}
.departement-con .lab-info li:hover {
  color: #5CB4FF;
}
.departement-con .hod-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
}
.departement-con .hod-con .hod {
  width: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.departement-con .hod-con .teachers {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.departement-con .hod-con .teachers .teacher {
  width: 280px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.departement-con .hod-con .profile {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.departement-con .hod-con .profile .pro-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.departement-con .hod-con .profile .pro-images {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.departement-con .hod-con .profile-con {
  text-align: center;
  line-height: 30px;
}
.departement-con .hod-con .profile-con .faculty-head {
  color: #5CB4FF;
  font-size: 1.1rem;
}
.departement-con .hod-con .profile-con .faculty-desination {
  color: rgb(7, 7, 85);
}
.departement-con .hod-con .profile-con .faculty-experience {
  color: gray;
}

@media (max-width: 1600px) {
  .departement-con-nav .nav-li {
    width: 95%;
    text-align: center;
  }
  .departement-con-nav .nav-con1 {
    width: 90%;
  }
  .departement-con-nav .nav-con2 {
    width: 90%;
  }
  .departement-con-nav .nav-con3 {
    width: 90%;
  }
  .departement-con-nav .nav-con4 {
    width: 90%;
  }
  .departement-con-nav .nav-con5 {
    width: 90%;
  }
  .departement-con-nav .nav-con6 {
    width: 90%;
  }
}
@media (max-width: 2200px) {
  .departement-con-info {
    width: 90%;
  }
  .lab-con {
    display: flex;
    flex-direction: column;
  }
  .lab-info {
    width: 800px !important;
    display: flex;
    flex-direction: column;
    height: 400px !important;
    overflow: hidden;
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .departement-con-info {
    width: 90%;
  }
  .departement-con-info .head-img {
    width: 300px;
  }
  .departement-con-info .head-con {
    row-gap: 0px;
  }
  .departement-con-info .head-con .head-content {
    line-height: 25px;
  }
  .departement-con .card {
    width: 300px;
    height: 150px;
  }
  .departement-con .card-head {
    font-size: 1.1rem;
  }
  .departement-con .card-con {
    font-size: 0.8rem;
  }
  .departement-con .departement-grid {
    grid-template-areas: "out out out" "bt bt bt" "side side side";
  }
  .departement-con .departement-grid-con1 {
    border-right: none;
  }
  .departement-con .departement-grid-con2 {
    border-right: none;
    border-bottom: 1px solid black;
  }
  .departement-con .departement-grid-con3 .grid-con {
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .departement-con .lab-con {
    display: flex;
    flex-direction: column;
  }
  .departement-con .lab-info {
    width: 800px !important;
    display: flex;
    flex-direction: column;
    height: 400px !important;
    overflow: hidden;
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .departement-con-info {
    flex-direction: column;
    row-gap: 20px;
  }
  .departement-con-info .head-img {
    width: 90%;
  }
  .departement-con-info .head-con .head-content {
    line-height: 30px;
  }
  .departement-con .departement-grid-con3 .grid-con {
    flex-direction: column;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .departement-con-nav .nav-li {
    flex-direction: column;
  }
  .departement-con .hod-con .teachers {
    grid-template-columns: repeat(2, 280px);
  }
}
@media (max-width: 800px) {
  .departement-con {
    row-gap: 30px;
  }
  .departement-con .vision-mission-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
  .departement-con .departement-grid .grid-content {
    flex-direction: column;
  }
  .departement-con .departement-grid ul {
    row-gap: 10px;
  }
  .departement-con .departement-grid-con2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .departement-con .lab {
    align-items: center;
  }
  .departement-con .lab p {
    width: 80%;
    font-size: 13px;
  }
  .departement-con .lab-info {
    width: 650px !important;
  }
}
@media (max-width: 700px) {
  .departement-con .hod-con .teachers {
    grid-template-columns: repeat(1, 280px);
  }
  .departement-con .hod-con .teachers .teacher {
    width: 280px;
    height: 120%;
    border-radius: 10px;
  }
}
@media (max-width: 600px) {
  .departement-con .departement-grid-con3 .grid-con {
    flex-direction: column;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .departement-con .departement-grid-con3 .mech-img2 {
    width: 90%;
  }
  .departement-con .lab-info {
    height: 800px !important;
  }
}
@media (max-width: 550px) {
  .departement-con-info .head-con .head-content {
    line-height: 20px;
    font-size: 0.8rem;
  }
  .departement-con h2 {
    font-size: 1.1rem;
  }
  .departement-con .head-text {
    font-size: 1rem;
  }
  .departement-con .circle {
    width: 30px;
    height: 30px;
  }
  .departement-con .circle:nth-child(1) {
    top: -10px;
    left: -10px;
  }
  .departement-con .circle:nth-child(2) {
    bottom: -10px;
    right: -10px;
    animation-name: move-down1;
  }
  .departement-con .lab {
    align-items: center;
  }
  .departement-con .lab p {
    width: 80%;
    font-size: 13px;
  }
  .departement-con .lab-info {
    width: 300px !important;
  }
  .departement-con .lab-info li {
    font-size: 13px;
  }
  .departement-con .hod-con .profile .pro-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
@media (max-width: 300px) {
  .departement-con .card {
    width: 80%;
    height: 150px;
  }
}/*# sourceMappingURL=Mech.css.map */