<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacity Building and Skills Enhancement</title>
        <script src="https://kit.fontawesome.com/d1c2ea8b80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/capacity.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>
<body>
  <%- include('../../navbar.ejs')%>
  
    <h1>Capacity Building and Skills Enhancement</h1>

    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    <div class="div">
    <div class="div1-1"></div>
    <div class="div2-1"></div>
    <div class="div3-1"></div>
  </div>

    <div class="bg-con-cap">

    <div class="soft-skills">
      
      <div class="soft-skills-content">
      <h1>Soft skills</h1>
     

      <p>Soft skills incorporate a wide variety of personality traits, communication and people skills, social
        attitudes and emotional intelligence. BEC aims to cause an enhanced awareness about the significance of soft skills in professional and inter- personal communications and facilitate an all-round development of personality. The focus is on interpersonal and management skills which ensure a person to achieve excellence.
        </p>
      </div>
      <div class="soft-skills-points">
          <ul>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px; "></i>Branding Yourself</li>
            <li><i class="fa fa-check"  aria-hidden="true"  style="margin-right: 20px; font-size: 20px; "></i>Leadership Competency-RoadMap for Success
              </li>
              <li><i class="fa fa-check" aria-hidden="true"  style="margin-right: 20px; font-size: 20px; "></i>Financial Education Global Money Week – SEBI
              </li>
              <li><i class="fa fa-check" aria-hidden="true"  style="margin-right: 20px; font-size: 20px; "></i> Commercial Property Investment Made Easy & High Returns
                </li>
                <li><i class="fa fa-check" aria-hidden="true"  style="margin-right: 20px; font-size: 20px; "></i>Quantitative, Technical & Verbal Ability</li>
          </ul>
      </div>
    </div>
    <div class="photo-con">
      <div class="photo-con-imgs">
        <div class="cap-card1">

          <p>Webinar on “Leadership Competency – Road Map for Success by Mr.Mohamed Ershad J, Associate Vice President – Zonal Head of South, Bajaj Allianz Life Insurance Company Limited</p>
        </div>
        <div class="cap-card2">
          
          <p>Webinar on “Commercial Property Investment Made Easy & High Returns” by Mr.Deenadayalan, Head - Corporate Sales, Texvalley, Erode</p>
        </div>
      </div>
      <div class="naac">
        <h1>NAAC</h1>
        <ul>
      
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fbfbfd;"></i><a href="#">IQAC</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff;"></i><a href="#">Criteria 1 to 7</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff;"></i><a href="#">Metrics (Criteria 1 - 7)</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Extended Profile</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Annual Report</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Memorandum of Understanding</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Code of Conduct</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Grievances & Redressal</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Capacity Building and Skills Enhancement</a></li>
            <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 11px; color:#fff; "></i><a href="#">Policy</a></li>
    
        </ul>
      </div> 
      <div class="life-style">
        <h1>Life skills</h1>
        <p>Life skills allow you to deal and manage with everyday challenges in the workplace. These skills help you to excel at your workplace and manage your professional relationships. Yoga promotes their wellness through the development of key social, emotional, cognitive and academic life skills, such as attention and focus, decision-making, stress management and empathy. In every semester we are conducting yoga sessions through fitness club and educating life skills, team building skills, and critical and creative thinking as well as respectful learning.</p>
        <ul>
          <li> <i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px; "></i>Learning English is Fun</li>
          <li><i class="fa fa-check"  aria-hidden="true"  style="margin-right: 20px; font-size: 20px; "></i> Communication Skill Training
            </li>
              </ul>
      </div>
      <div class="life-style-img-con">
        <div class="life-style-img1">
          <p>“YOGA Training Classes” by MANAVALAKALAI YOGA CENTRE</p>
        </div>
        <div class="life-style-img2" >
          <p>“YOGA Training Classes” by MANAVALAKALAI YOGA CENTRE</p>
        </div>
      </div>
      <div class="photo-con-imgs-1">
        <div class="cap-card1">

          <p>Webinar on “Learning English is Fun” by Mr.M.Saravanan, Founder, M S Academy, Tirunelveli</p>
        </div>
        <div class="cap-card2">
          
          <p>Communication Skill Training in English Lab</p>
        </div>
      </div>
      <div class="life">
      <div class="life-style-1">
        <h1>
          ICT / Computing Tools:</h1>
        <p>The ability to make the right decision leads to productive outcomes at work.ICT skills are about understanding and applying technology for communication and to process information. ICT is a mode of education used for all the fields around the world. We are giving our students the best education to enhance their technical skills by giving them the best opportunities to improve and reproduce their knowledge production by computer aided tools.</p>
        <div style="display: flex; "><ul >
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Programming Essentials in Python</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>IoT Trends in Industry</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Introduction To MATLAB</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Data Warehousing in IT</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Open Source Simulation Tool – Tinkercad</li>
          
      </ul>
    
      
      <ul>
        <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Signals and Image Processing using MATLAB</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Scope and Aspects in IT field</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Autodesk BIM software</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Strengthen Your Career with Mechanical Design</li>
          <li><i class="fa fa-check" aria-hidden="true" style="margin-right: 20px; font-size: 20px;"></i>Introduction to AD Tech & Software Testing</li>
      </ul>
    </div>
      
      </div>
      <div class="life-style-img-con-1">
        <div class="life-style-img1">
          <p>Webinar on “Learning English is Fun” by Mr.M.Saravanan, Founder, M S Academy, Tirunelveli</p>
        </div>
        <div class="life-style-img2" >
          <p>Communication Skill Training in English Lab</p>
        </div>
      </div>
 
      </div>
    <div class="photo-con-imgs-2">
      <div class="cap-card1">

        <p>Webinar “Autodesk BIM Software” by Mr.P.Suresh Anand, Technical Head, C Cube Technologies</p>
      </div>
      <div class="cap-card2">
        
        <p>Webinar on “Strengthen Your Career with Mechanical Design” by Mr.Sankar Mahalingam, MD, Profenaa Industrial Training Centre</p>
      </div>
    </div>
    <div class="bottom-para">
      <p>Click here for more information</p>
    </div>
    </div>
     
  </div>

        <script src="/assets/js/nav.js"></script>
        
        
</body>
</html>