<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/codeconduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../../navbar.ejs')%>
    
  
  <div class="code-of-conduct">
    <h1>Code of Conduct</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse" id="handle1" checked="checked">
      <h2 class="handle"><label for="handle1">MODE OF COMMUNICATION</label></h2>
      <div class="content">
        <p><strong>For All Faculty & Students - </strong> English Language should be used to communicate among faculty members and students.</p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse2" id="handle2" checked="checked">
      <h2 class="handle">
        <label for="handle2">FACULTY DRESS CODE</label>
      </h2>
      <div class="content">
        <p><strong>For Male Faculty - </strong>
        <li>Formal dress with Full Hand shirt tucked-in.</li>
        <li>Clean-shaven look and wear formal shoe and socks.</li>
        </p>
        <p><strong>For Female Faculty - </strong>
        <li> Saree and blouse with normal sleeve.</li>
        <li>Decent Salwar Kameez.</li>
        </p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse3" id="handle3" checked="checked">
      <h2 class="handle">
        <label for="handle3">STUDENTS DRESS CODE</label>
      </h2>
      <div class="content">
        <p>Students are instructed to adhere to the following regulations in the Dress code on all the working days including the days of functions, seminars and other activities with the exemptions given to them on particular occasions.</p>
        <p><strong>For Male students - </strong>
          <p>Male students should follow the following dress code with a proper clean-shaven face.</p>
          <li>Shirts - Full or Half sleeve shirt.</li>
          <li>Trousers - Trousers with shirt neatly tucked in.</li>
          <li>Shoes - Shoe with Socks.</li>
        </p>
        <p><strong>For Female students - </strong>
          <li>Saree - Saree and blouse with normal sleeve during functions.</li>
          <li>Salwar Kameez - Regular Salwar Kameez with side slits from below the hip line with normal sleeves.</li>
          <li>Chudidhar - Long Kameez with side slits from below the hip line and Chudidhar.</li>
          <li>Shoes - Shoe with Socks.</li>
        </p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse4" id="handle4" checked="checked">
      <h2 class="handle">
        <label for="handle4">MOBILE PHONE USAGE FOR STUDENTS</label>
      </h2>
      <div class="content">
        <li>Smart phone usage is strictly prohibited for hostellers and day scholars inside the campus and college bus.</li>
        <li>Only Normal phones (non-smart phone) are allowed to use after the college working hours for Hostel students.</li>
        
      </div>
    </section>
  </div>
  <div class="code-of-conduct-for-students">
    <h1>Code of Conduct for Students</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse5" id="handle5" checked="checked">
      <h2 class="handle"><label for="handle5">PURPOSE AND SCOPE</label></h2>
      <div class="content">
        <p>Builders Engineering college, Tirupur, Tamil nadu is an institution that is committed to the pursuit of excellence in teaching, learning, research and community engagement. The College has designed the following Code of Conduct to provide fair procedures relevant to all the students of all Undergraduate and Postgraduate courses of all the departments of the College. All the students, as members of Builders Engineering college, are required to observe all the rules that are proposed under the Code of Conduct of the College. The Code of Conduct relates to three main areas such as (1) Academic integrity, (2) Classroom Conduct and (3) Conduct outside Classroom.</p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse6" id="handle6" checked="checked">
      <h2 class="handle">
        <label for="handle6">CONDUCT RELATING TO ACADEMIC INTEGRITY</label>
      </h2>
      <div class="content">
        <p>
        <li>Students are expected to actively participate in the learning process and acquire minimum 80% attendance in all the courses offered in a semester.</li>
        <li>Students should be in their respective classes on time.</li>
        <li>Students must complete assignments, tests, and other classroom activities arranged by the faculty for evaluation on time.</li>
        <li>Students must practice academic honesty in the preparation and participation in all the components of the CIA.</li>
        <li>Students should not possess or use any unauthorized aids in any academic test or examination conducted by the staff or the College.</li>
        <li>Students must schedule any academic discussion with the teaching faculty during office hours.</li>
        </p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse7" id="handle7" checked="checked">
      <h2 class="handle">
        <label for="handle7">CLASSROOM CONDUCT</label>
      </h2>
      <div class="content">
        <p>
          <li>Students should dress in a manner that is appropriate for an academic environment.</li>
          <li>Students must wear their identity cards on the campus.</li>
          <li>Students must not bring camera mobiles to the college. They must switch off their mobile phones in the class.</li>
          <li>Students must not engage in photographing, audiotaping or videotaping the activities of the class without the permission of the Profe They should not involve in inappropriate use of digital technology.</li>
          <li>Students should keep their classrooms clean, They must not engage in the destruction of College property.</li>
          <li>Students must treat all their classmates and staff, both male and female, with dignity and respect.</li>
          </p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse8" id="handle8" checked="checked">
      <h2 class="handle">
        <label for="handle8">CONDUCT OUTSIDE THE CLASSROOM</label>
      </h2>
      <div class="content">
        <li>Students are required to interact ethically with other students and teaching staff and support staff in areas such as computer centres, libraries, laboratories, canteen, and other spaces in the College that can be used for studying or socializing.</li>
        <li>Students must not engage in any written, verbal, physical or electronic act that can cause physical or emotional disturbance or harm to other students or staff.</li>
        <li>Students must not involve in Ragging.</li>
        <li>Students must not create excessive noise that disturbs the activities of classes, the College office or other academic, cultural, social or sporting activities of the College.</li>
        <li>Students must not engage in gender discrimination or any form of sexual harassment or misconduct.</li>
        <li>Students must attend all the academic and cultural programmes of the College with discipline.</li>
        <li>Students are expected to exhibit exemplary behaviour during Internships, Field visits and educational trips.</li>
        <li>Students must observe the boundaries of a professional relationship between staff and student on the campus, in venues off-campus and online.</li>
        <li>Students must use all the facilities and the property of the College with much care and responsibility.</li>
        <li>Students must not use obscene language or engage in threatening behaviour that will cause any individual to fear for their personal safety.</li>
        <li>Students should not engage in any form of defamation of any staff or student. They must not post any derogatory comments on social media about any individual of the College.</li>
        <li>Students must not participate in any academic, religious or cultural activity of the College under the influence of alcohol or other drugs.</li>
        <li>Students must not possess alcohol, drugs or weapons on campus.</li>
        <li>Students must not use the name, logo, resources or the reputation of the College for private gain or the gain of a third party, or private business or commercial purposes, without prior permission.</li>
        <li>All the students and scholars are expected to comply with the directions of the administrators of the College.</li>
        <li>Students must not engage in any fraudulent, corrupt or unlawful conduct inside or outside the campus that would potentially affect the reputation of the College.</li>
        <li>Any student of the College aggrieved by any acts of misconduct or harassment can approach the Coordinators of the various Welfare Committees, Coordinators and Heads of the Departments, Director of the College.</li>
        <li>Additional policies or changes may evolve, and the Code of Conduct may be amended or modified at any time.</li>        
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse8" id="handle8" checked="checked">
      <h2 class="handle">
        <label for="handle8">SANCTION</label>
      </h2>
      <div class="content">
        <p>
          Students and Research Scholars of Builders Engineering College are required to familiarize themselves with the policies of the College, and adhere to all the regulations mentioned in the Code of Conduct. Behaviour contrary to the Code of Conduct shall lead to sanctions. Disciplinary action includes suspension, expulsion or other exclusions, and withholding results. Students should appreciate that serious offences such as assault, theft, wilful damage of property and other unlawful activities are highly likely to attract a suspension or expulsion.<br><br>
          Suspension of study may be applied immediately for a serious offence, obviously impacting on the student’s ability to continue or complete his/her studies. For minor breaches of the Code of Conduct, a student shall receive a warning asking him/her to rectify his/her behaviour. This warning may take the form of a verbal reminder of the expected behaviour of the student, or an official written warning. Sanctions, including suspension, may be applied for consistent minor breaches  of  the Code of Conduct. Students must be aware that where a student breaks the law, the matter shall be reported to the police, in addition to any action taken by the College for the same offence.
        </p>
      </div>
    </section>
  </div>
  <div class="code-of-conduct-for-the-teaching-staff">
    <h1>Code of Conduct for the teaching staff</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse9" id="handle9" checked="checked">
      <h2 class="handle">
        <label for="handle9">PURPOSE, SCOPE AND STATUS</label>
      </h2>
      <div class="content">
        <p>
          The Code sets out the key principles of good conduct and practice for the professors in Builders Engineering college. It is intended to guide professors’ practice judgments and decisions and inform parents and the community of these standards. It also informs members of the community of the standards expected of teachers. It is not, however, a definitive or exhaustive guide. Neither should it be read as a blueprint to be followed unreflectively by the staff. As professionals, the staff are to constantly engage with the principles outlined in a critical manner, taking into account the educational value of the particular relationships with persons within particular teaching and learning situations and processes.<br><br>
          The Code is intended to encourage the staff to adopt an informed approach to their teaching and its contexts and to reflect on the good and correct practices as professional teachers. Staff shall endeavour to be a role model and shall act within the community in a manner which enhances the prestige of the profession and the Institution and as a whole up to the expectation of the stakeholders.
        </p>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse10" id="handle10" checked="checked">
      <h2 class="handle">
        <label for="handle10">PROFESSIONAL INTEGRITY</label>
      </h2>
      <div class="content">
        <h2>Members of the Teaching Profession shall:</h2><br>
        <li>Base their relationship with students on mutual trust and respect</li>
        <li>Have concern for the safety and well-being of students under their responsibility</li>
        <li>Respect the uniqueness and diversity of the learning community they are part of</li>
        <li>Work in a collaborative manner with colleagues and other professionals</li>
        <li>Develop and maintain good relationships with the management, parents, guardians, and other stakeholders</li>
        <li>Act with honesty, integrity, and fairness, and avoid biased behavior</li>
        <li>Be in their respective classes on time</li>
        <li>Take responsibility for maintaining the quality of their professional practice</li><br><br>
        <h2>Uphold public trust and confidence in the teaching profession</h2><br>
        <li>Create learning experiences which engage, motivate and challenge students in an inclusive setting with a lifelong learning perspective</li>
        <li>Comply with policies and procedures issued at college or national education level, regarding the use of property, facilities, finances and ICT in their educational setting;</li>
        <li>Conduct assessment- and examination-related tasks with integrity and in compliance with official regulations and procedures</li>
        <li>Represent themselves, their experience, professional position and qualifications honestly</li>
        <li>Only disclose confidential information within the parameters allowed by legislation</li>
        <li>Actively participate in the programs organized by the College</li>
        <li>Dress in a manner that is appropriate for an academic environment</li>
        <li>Wear their identity cards on the campus</li>
        <li>Not participate in any academic, religious or cultural activity of the College under the influence of alcohol or other drugs</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse11" id="handle11" checked="checked">
      <h2 class="handle">
        <label for="handle11">PROFESSIONAL RELATIONSHIPS WITH STUDENTS</label>
      </h2>
      <div class="content">
        <h2>Members of the Teaching Profession shall:</h2><br>
        <li>Create learning experiences which engage, motivate and challenge students in an inclusive setting with a lifelong learning perspective</li>
        <li>Comply with policies and procedures issued at college or national education level, regarding the use of property, facilities, finances and ICT in their educational setting;</li>
        <li>Conduct assessment- and examination-related tasks with integrity and in compliance with official regulations and procedures</li>
        <li>Represent themselves, their experience, professional position and qualifications honestly</li>
        <li>Only disclose confidential information within the parameters allowed by legislation</li>
        <li>Actively participate in the programs organized by the College</li>
        <li>Dress in a manner that is appropriate for an academic environment</li>
        <li>Wear their identity cards on the campus</li>
        <li>Not participate in any academic, religious or cultural activity of the College under the influence of alcohol or other drugs</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse12" id="handle12" checked="checked">
      <h2 class="handle">
        <label for="handle12">RESPECTING THE UNIQUENESS AND DIVERSITY OF STUDENTS</label>
      </h2>
      <div class="content">
        <h2>Members of the Teaching Profession shall:</h2><br>
        <li>Demonstrate respect for diversity, maintain fairness and promote equality irrespective of gender, race, religion, sexual orientation, appearance, age, language, or different needs or abilities</li>
        <li>Keep abreast of the latest rules and regulations framed by the government, both central and state, towards students' protection</li>
        <li>Maintain an up-to-date knowledge of guidelines issued nationally, by the UGC and the State Government, and education authorities in so far as these concern their personal and professional conduct</li>
        <li>Contribute to the creation of a fair and inclusive collegiate environment by addressing discrimination, stereotyping, and bullying</li>
        <li>Identify and refer to the competent authorities any issues that might impact on students' welfare at the earliest possible stage</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse13" id="handle13" checked="checked">
      <h2 class="handle">
        <label for="handle13">RELATIONSHIP WITH COLLEAGUES, PARENTS, GUARDIANS</label>
      </h2>
      <div class="content">
        <h2>Members of the Teaching Profession shall:</h2><br>
        <li>Work in a collegiate and cooperative manner with colleagues and other professionals who work in multidisciplinary teams officially recognized by the college authorities</li>
        <li>Respect, support, and collaborate with colleagues both in matters concerning the education of students as well as in maintaining relations with colleagues in the highest standards of professional courtesy</li>
        <li>Be prepared to help junior colleagues and those in training and induction in all possible ways</li>
        <li>Respect the authority of senior professional colleagues while retaining the right to express a professional opinion and dissent</li>
        <li>Not reprimand, censure, rebuke, or criticize any colleague, or any other member of the teaching profession, in the presence of students or in public</li>
        <li>Refrain from making public statements which bring the profession into disrepute</li>
        <li>Engage and work positively with the parents of students, as far as possible, in an open and respectful way</li>
        <li>Ensure that their communications with parents, students, and colleagues comply with those policies and procedures issued at college, as well as those educational policies and procedures issued at the national level</li>
        <li>Demonstrate respect for diversity when dealing with colleagues, parents, guardians, or careers in their capacity as partners in the educative process</li>
        <li>Make every effort to encourage parents, guardians, and careers to interest themselves actively in the education and welfare of students in their care</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse14" id="handle14" checked="checked">
      <h2 class="handle">
        <label for="handle14">KEEP THEIR PROFESSIONAL KNOWLEDGE AND PRACTICE UP TO DATE</label>
      </h2>
      <div class="content">
        <h2>Members of the Teaching Profession shall:</h2><br>
        <li>Maintain high standards of practice in relation to teaching and learning, classroom management, planning, monitoring, assessment, and reporting</li>
        <li>Keep their professional knowledge and skills updated throughout their teaching career</li>
        <li>Keep updated their knowledge of relevant guidelines and educational developments in their teaching post and role and in relation to teaching in general</li>
        <li>Reflect upon and evaluate their practice as part of their continuing professional development</li>
        <li>Be open and respond positively to constructive feedback regarding their teaching practices</li>
        <li>Seek support, advice, and guidance wherever necessary</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse15" id="handle15" checked="checked">
      <h2 class="handle">
        <label for="handle15">RESEARCH VISION AND STRATEGY</label>
      </h2>
      <div class="content">
        <p>Research is an integral part of a faculty, working in Builders Engineering college, Kangayam, irrespective of any discipline under which he/ she teaches. Quality teaching comes from quality research, which promotes nation-building. Keeping this in mind, the College continuously strives and creates the necessary ambience through infrastructure, computation and supportive features to enable its faculty to contribute quality research work.</p><br>
        <h2>The objectives are:</h2><br>
        <p>To encourage and support socially relevant,  economically sound and need-based research coupled with human values through collaborative endeavour among faculty and students from various departments/ schools to promote multidisciplinary research across  the established schools in arts, languages, commerce, management, computations, social sciences, basic and applied areas of sciences to network with the larger community;  viz. industries, universities, and other institutions of higher learning to spread the vision and mission of Builders Engineering college.</p>
      </div>
    </section>
  </div>
  <div class="code-of-conduct-for-non-teaching-staff">
    <h1>Code of Conduct for non-teaching staff</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse16" id="handle16" checked="checked">
      <h2 class="handle">
        <label for="handle16">PURPOSE, SCOPE AND STATUS</label>
      </h2>
      <div class="content">
          <li>Staff working in the College office or in the departments should remain on Duty during College working hours (09:00 a.m. to 04:30 p.m).</li>
          <li>Staff will carry out their duties as instructed by the authorities to whom they are attached.</li>
          <li>Staff working in Department Labs / Computer Labs / Instrumentation Labs should keep the Labs clean.</li>
          <li>Any loss or damage to any article in the Lab should be informed to the Head / In-charge immediately. A register should be maintained with regard to the damage caused.</li>
          <li>As per the direction of the HOD, the amount shall be collected through the college office for articles damaged by the students by the respective lab in charge.</li>
          <li>Only disclose confidential information within the parameter allowed by legislation.</li>
          <li>All the staff should actively participate in the programs and functions organized by the College.</li>
          <li>The staff should dress in a manner that is appropriate for an academic environment.</li>
          <li>The staff should wear their identity cards on the campus.</li>
          <li>Non-Teaching staff, especially those who work in Labs, are obliged to follow the Code of conduct as mentioned below:</li>
          <li>Preparing for the practical requirements well in advance.</li>
          <li>Behaving politely while dealing with the students when they approach for any assistance.</li>
          <li>Maintaining decorum during the Lab sessions.</li>
          <li>In case of any disciplinary problems with any student in the Lab Session, it should be brought to the notice of the staff immediately. Direct dealing with any issues, without the knowledge of the Staff in Charge/HoD, is to be avoided.</li>
          <li>Inappropriate relationships with the students must be avoided.</li>
      </div>
    </section>
  </div>
  <div class="code-of-conduct-for-others">
    <h1>Code of Conduct for others</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse17" id="handle17" checked="checked">
      <h2 class="handle">
        <label for="handle17">CODE OF CONDUCT FOR GOVERNING BODY</label>
      </h2>
      <div class="content">
        <li>Ensure that the institute is well run and meets the needs for which it has been set up.</li>
        <li>Use reasonable care and skill in their work as members of the governing body and must seek professional advice wherever appropriate.</li>
        <li>Attend meetings of the governing body and the committees regularly on which they serve and acquire appropriate knowledge to contribute effectively to decision-making.</li>
        <li>Make provisions that enable the institute to undertake specialized studies with proper provision for laboratories, libraries, and equipment.</li>
        <li>Establish departments, programs, research, and specialized studies, as well as hostels.</li>
        <li>Discuss and approve the budget estimates as received from the finance and accounts committee with modifications.</li>
        <li>Facilitate infrastructure, furniture, equipment, and other means needed for the smooth functioning of the institute.</li>
        <li>Consider the perspective plan for the academic development of the institute.</li>
        <li>Take overall responsibility for the welfare of the staff and student welfare.</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse18" id="handle18" checked="checked">
      <h2 class="handle">
        <label for="handle18">CODE OF CONDUCT FOR PRINCIPAL</label>
      </h2>
      <div class="content">
        <li>Principal, being the Head of the Institute, is responsible to the management for all academic, financial, and administrative activities.</li>
        <li>Reviews current academic progress, collaborative efforts, and human resource management.</li>
        <li>Is the admission authority of the institute responsible for implementing the admission process as prescribed by the state government and the University.</li>
        <li>Develops and implements a strategic plan for short-term and long-term development of the institute and sustainable quality improvement.</li>
        <li>Plans and facilitates guidance, counseling, and other student services at the institute level.</li>
        <li>Maintains supporting services and academic facilities, etc.</li>
        <li>Discusses and approves financial estimates, annual reports, accounts, and audit reports periodically. Maintains necessary records of the institute in stipulated formats.</li>
        <li>Demonstrates care and commitment to academic excellence and plans to organize faculty and supporting staff development programs.</li>
        <li>Promotes interactions with all stakeholders and facilitates training and placement, and student development programs.</li>
        <li>Acts as the chief superintendent for examinations.</li>
        <li>Facilitates industry interactions.</li>
        <li>Plans and implements activities to take care of hygiene, safety, and housekeeping.</li>
        <li>Maintains the workload of faculty members and non-teaching staff prescribed as per the norms issued by the University.</li>
        <li>Communicates regularly with all members of the institute.</li>
        <li>Evaluates the performance of faculty and supporting staff. Uplifts the image of the institution in society.</li>
        <li>Leads the accreditation of the institute for various quality standards.</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse19" id="handle19" checked="checked">
      <h2 class="handle">
        <label for="handle19">CODE OF CONDUCT FOR SUPPORT STAFFS</label>
      </h2>
      <div class="content">
        <li>Completes work on time.</li>
        <li>Uses working hours productively and ensures that their activities in the workplace do not impede the effective operation of their department.</li>
        <li>Maintains a supportive environment while performing their assigned duties.</li>
        <li>Respects confidentiality in all matters.</li>
        <li>Understands the job scope, practices, and procedures relating to their position.</li>
        <li>Ensures accuracy and thoroughness in the performance of their assigned duties.</li>
        <li>Meets targets regarding work to be performed to the best of their ability.</li>
        <li>Manages time effectively.</li>
        <li>Is well-organized.</li>
        <li>Demonstrates the ability to solve problems within the scope of their position.</li>
        <li>Demonstrates the ability to work independently when appropriate need arises.</li>
        <li>Shows initiative.</li>
        <li>Notifies their in-charge if they are unable to come to work.</li>
        <li>Submits leave application to the in-charge if they want to avail vacation.</li>
      </div>
    </section>
  </div>

  <%- include('../../footer.ejs')%> 
  <%- include('../../foot.ejs')%>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
        <script src="/assets/js/nav.js"></script>
</body>
</html>