<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/grieve&red.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../../navbar.ejs')%>

    <div class="grieve-red">
      <h1 class="grieve-red-text">Grievances & Redressal</h1>
      <p class="para">As per the AICTE regulations 2019 vide F. No. 1-101/PGRC/AICTE/ Regulation/2019 dated 07.11.2019 and the Governing Body (GB), Builders Engineering College constituted Student Grievance Redressal Committee with the objective of resolving the grievances of students and their parents. Provision has been made available in the college website, for registering the grievance through grievances@builderscollege.edu.in. The students and their parents may henceforth approach the Grievance Redressal Committee and submit / register any grievance online, which will be accessed by the SGRC and appropriate action taken and the decision of the SGRC will be intimated to the complainant.</p>
      <table>
        <thead>
        <tr>
          <th>S.No.</th>
          <th>Name</th>
          <th>Position</th>
          <th>Designation</th>
          <th>Contact Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>Dr. G. Ramasamy</td>
          <td>Chairman</td>
          <td>Distingushed Professor</td>
          <td>9361612341</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Prof. S. Hema Malini</td>
          <td>Member</td>
          <td>Associate Professor</td>
          <td>9865371074</td>
        </tr>
      </tbody>
      </table>
    </div>

  <%- include('../../footer.ejs')%> 
  <%- include('../../foot.ejs')%>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
        <script src="/assets/js/nav.js"></script>
</body>
</html>