<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/iqac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
      
    <div class="iqac">
      <h1 class="iqac-text">IQAC</h1>
      <div class="vision-mission-con">
        <div class="card">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="card-inner" data-aos="flip-right">
            <div class="card-head">
              vission
            </div>
            <div class="card-con">
              To ensure quality culture as the prime concern for the Institutions through institutionalizing and internalizing all the initiatives taken with internal and external support.
            </div>
          </div>
        </div>
      </div>
      <div class="iqac-obj">
        <div class="iqac-obj-card" data-aos="zoom-in">
          <div class="content">
            <h2>Objective</h2>
            <p>To develop a system for conscious, consistent and catalytic action to improve the academic and administrative performance of the institution.</p><br>
            <p>To promote measures for institutional functioning towards quality enhancement through internalization of quality culture and institutionalization of best practices.</p>
          </div>
        </div>
      </div>
      <div class="function">
        <div class="function-white">
          <h1 class="function-text">Function</h1>
        <ol class="olcards">
          <li style="--cardColor:#fc374e">
            <div class="content">
              <div class="text">Development and application of quality benchmarks.</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Parameters for various academic and administrative activities of the institution.</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Facilitating the creation of a learner-centric environment conducive to quality education and faculty maturation to adopt the required knowledge and technology for participatory teaching and learning process</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Collection and analysis of feedback from all stakeholders on quality-related institutional processes;</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Dissemination of information on various quality parameters to all stakeholders</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Organization of inter and intra institutional workshops, seminars on quality related themes and promotion of quality circles</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Documentation of the various programmes/activities leading to quality improvement</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Acting as a nodal agency of the Institution for coordinating quality-related activities, including adoption and dissemination of best practices</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Development and maintenance of institutional database through MIS for the purpose of maintaining /enhancing the institutional quality;</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Periodical conduct of Academic and Administrative Audit and its follow-up</div>
            </div>
          </li>
          <li>
            <div class="content">
              <div class="text">Preparation and submission of the Annual Quality Assurance Report (AQAR) as per guidelines and parameters of NAAC.</div>
            </div>
          </li>
        </ol>
        </div> 
      </div>
      <div class="iqac-benefits">
        <div class="iqac-benefits-white">
          <h1 class="iqac-benefits-white-text">BENEFITS</h1>
          <ul>
            <li>Ensure clarity and focus in institutional functioning towards quality enhancement</li>
            <li>Ensure internalization of the quality culture</li>
            <li>Ensure enhancement and coordination among various activities of the institution and institutionalize all good practices</li>
            <li>Provide a sound basis for decision-making to improve institutional functioning</li>
            <li>Act as a dynamic system for quality changes in HEIs (Higher Education Institutions)</li>
            <li>Build an organized methodology of documentation and internal communication</li>
        </ul>
        </div>
      </div>
      <div class="iqac-compositions">
        <h1>IQAC Compositions</h1>
    <section class="accordion">
      <input type="checkbox" name="collapse1" id="handle1" checked="checked">
      <h2 class="handle">
        <div class="label-item" onclick="myFunction1()" for="handle1">Chairperson<i class="fas fa-caret-down"></i></div></h2>
      <div class="content" id="content1">
        <li>Dr.  S. Ramkumar, Principal</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse2" id="handle2" checked="checked">
      <h2 class="handle">
        <div class="label-item" onclick="myFunction2()" for="handle2">Senior Administrative Officers<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content2">
        <li>Mr. S. Viswanathan, Deputy Register</li>
        <li>Mr. K. S. Thirunavukkarasu, Training Officer</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse3" id="handle3" checked="checked">
      <h2 class="handle">
        <div class="label-item" onclick="myFunction3()" for="handle3">Teachers<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content3">
          <li>Dr. S. Saravanan, Professor & HoD/EEE</li>
          <li>Dr. S. Ravishankar, ASP & HoD/MBA</li>
          <li>Dr. C. Karthikeyan, Professor & HoD/S&H</li>
          <li>Mr. R. Ravi, ASP & HoD/Mech</li>
          <li>Mr. S. Gobinath, AP & HoD/CSE</li>
          <li>Dr. S. Kumar, Professor & HoD/ECE</li>
          <li>Mr. K. E. Viswanathan, AP & HoD/Civil</li>
          <li>Dr. S. Selvi, ASP & HoD/AI&DS</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse4" id="handle4" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle4" onclick="myFunction4()">Member Nominated from the Management<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content4">
        <li>Thiru. S. Anandavadivel, Correspondent</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse5" id="handle5" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle5" onclick="myFunction5()">One nominee from local society, Students and Alumni<i class="fas fa-caret-down icon-label" ></i></div>
      </h2>
      <div class="content" id="content5">
        <p>Local Society:</p>
        <address>Mr. D. Parameshvaran<br>
          Mobile: +91 9597499944<br>
          Email ID: varan2988@gmail.com<br>
          Chief Manager - 1,<br>
          ICICI Bank,<br>
          Coimbatore
        </address>
        <p>Student:</p>
        <address>
          Mr. K. Krishnan<br>
          Mobile: +91 6374501727<br>
          Email: krishnankrish8119@gmail.com<br>
          II CSE<br>
          2021-25 Batch
        </address>
        <p>Alumni:</p>
        <address>
          Ms. S. Gavyamathy<br>
          Mobile: +91 9597064929<br>
          Email ID: gavyagavi26@gmail.com<br>          
          MBA<br>
          2018 - 2020 Batch
        </address>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse6" id="handle6" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle6" onclick="myFunction6()">One nominee from Employers / Industrialists / stakeholders<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content6">
        <p>Employers/ Industrialist:</p>
        <address>
          Mr. V. V. Kumar,<br>
          HR Manager, GMS Elegant Builders Pvt. Ltd, Erode<br>
          Mobile: +91 9943059099
        </address><br>
        <address>
          Mr. S. Hariharasudhan<br>
          Director, Comten Consulting<br>
          Engineers Private Limited,<br>
          740, 3 rd Floor, Trichy Road,<br>
          Ramanathapuram,<br>
          Coimbatore - 641045<br>
          Mobile: +91 9788908565<br>
          Email ID:hariharasudhan@comtenengineers.com
        </address>
        <p>Stack holders (Parent):</p>
        <address>
          Mr. P. Arumugam<br>
          Parent of Mr. A. Arun Kumar<br>
          III EEE 2020-24 Batch<br>
          Mobile: +91 9790667328<br>
        </address>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse7" id="handle7" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle7" onclick="myFunction7()">IQAC Coordinator<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content7">
        <address>
          Dr. M. S. Senthil Kumar<br>
          Professor, Department of Mechanical Engineering<br>
          Mobile: +91 8012184454<br>          
          Email ID: iqac@builderscollege.edu.in<br>
        </address>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse8" id="handle8" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle8" onclick="myFunction8()">IQAC Quality Initiatives<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content8">
        <li>Quality Initiatives 2020-21</li>
        <li>Quality Initiatives 2019-20</li>
        <li>Quality Initiatives 2018-19</li>
        <li>Quality Initiatives 2017-18</li>
        <li>Quality Initiatives 2016-17</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse9" id="handle9" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle9" onclick="myFunction9()">IQAC Minutes of Meetings with ATR<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content9">
        <p>2021-22</p>
        <li>2021-22 MOM with ATR 01</li>
        <li>2021-22 MOM with ATR 02</li>
        <p>2020-21</p>
        <li>2020-21 MOM with ATR</li>
        <p>2019-20</p>
        <li>2019-20 MOM with ATR 01</li>
        <li>2019-20 MOM with ATR 02</li>
        <li>2019-20 MOM with ATR 03</li>
        <p>2018-19</p>
        <li>2018-19 MOM with ATR 01</li>
        <li>2018-19 MOM with ATR 02</li>
        <li>2018-19 MOM with ATR 03</li>
        <p>2017-18</p>
        <li>2017-18 MOM with ATR</li>
        <p>2016-17</p>
        <li>2016-17 MOM with ATR</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse10" id="handle10" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle10" onclick="myFunction10()">Annual Quality Assurance Reports (AQAR)<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content10">
        <li>AQAR 2021-22</li>
        <li>AQAR 2020-21</li>
        <li>AQAR 2019-20</li>
        <li>AQAR 2018-19</li>
        <li>AQAR 2017-18</li>
        <li>AQAR 2016-17</li>
      </div>
    </section>
    <section class="accordion">
      <input type="checkbox" name="collapse11" id="handle11" checked="checked">
      <h2 class="handle">
        <div class="label-item" for="handle11" onclick="myFunction11()">Self Study Report (SSR)<i class="fas fa-caret-down"></i></div>
      </h2>
      <div class="content" id="content11">
        <li>SSR 2016</li>
      </div>
    </section>
      </div>
    </div>
    <%- include('../footer.ejs')%> 
    <%- include('../foot.ejs')%>
    <script>
      function myFunction1() {
        var content1 = document.getElementById("content1");
  
          if (content1.style.display === "block") 
          {
            content1.style.display = "none"; // Hide the element
          } 
          else
          {
            content1.style.display = "block"; // Show the element
          }  
  }
      function myFunction2() {
        var content2 = document.getElementById("content2");
          if (content2.style.display === "block") 
          {
            content2.style.display = "none"; // Hide the element
          } 
          else
          {
            content2.style.display = "block"; // Show the element
          }  
  }
      function myFunction3() {
        var content3 = document.getElementById("content3");
          if (content3.style.display === "block") 
          {
            content3.style.display = "none"; // Hide the element
          } 
          else
          {
            content3.style.display = "block"; // Show the element
          }  
  }
      function myFunction4() {
        var content4 = document.getElementById("content4");
          if (content4.style.display === "block") 
          {
            content4.style.display = "none"; // Hide the element
          } 
          else
          {
            content4.style.display = "block"; // Show the element
          }  
  }
      function myFunction5() {
        var content5 = document.getElementById("content5");
  
          if (content5.style.display === "block") 
          {
            content5.style.display = "none"; // Hide the element
          } 
          else
          {
            content5.style.display = "block"; // Show the element
          }  
  }
      function myFunction6() {
        var content6 = document.getElementById("content6");
  
          if (content6.style.display === "block") 
          {
            content6.style.display = "none"; // Hide the element
          } 
          else
          {
            content6.style.display = "block"; // Show the element
          }  
  }
      function myFunction7() {
        var content7 = document.getElementById("content7");
  
          if (content7.style.display === "block") 
          {
            content7.style.display = "none"; // Hide the element
          } 
          else
          {
            content7.style.display = "block"; // Show the element
          }  
  }
      function myFunction8() {
        var content8 = document.getElementById("content8");
          if (content8.style.display === "block") 
          {
            content8.style.display = "none"; // Hide the element
          } 
          else
          {
            content8.style.display = "block"; // Show the element
          }  
  }
      function myFunction9() {
        var content8 = document.getElementById("content9");
          if (content9.style.display === "block") 
          {
            content9.style.display = "none"; // Hide the element
          } 
          else
          {
            content9.style.display = "block"; // Show the element
          }  
  }
      function myFunction10() {
        var content10 = document.getElementById("content10");
          if (content10.style.display === "block") 
          {
            content10.style.display = "none"; // Hide the element
          } 
          else
          {
            content10.style.display = "block"; // Show the element
          }  
  }
      function myFunction11() {
        var content11 = document.getElementById("content11");
          if (content11.style.display === "block") 
          {
            content11.style.display = "none"; // Hide the element
          } 
          else
          {
            content11.style.display = "block"; // Show the element
          }  
  }
  </script>

        <script src="/assets/js/nav.js"></script>
</body>
</html>