<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../head.ejs')%>
    <link rel="stylesheet" href="/css/antiRaging.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

  
  <%- include('../navbar.ejs')%>
<main class="anti-ragging-page">
  <div class="anti-ragging-policy">
    <h1 class="heading" data-aos="fade-right">Anti Ragging Policy</h1>
    <p class="para" id="demo1"></p>
  </div>
  <div class="forms-of-ragging">
    <div class="grid1">
      <h1>Forms of Ragging</h1>
      <div class="f-r"  data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Dress Code Ragging</p>
      </div>
      <div class="f-r"  data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Playing the Fool</p>
      </div>
      <div class="f-r" data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Formal Introduction</p>
      </div>
      <div class="f-r" data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Hostel Ragging</p>
      </div>
      <div class="f-r" data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Verbal Torture</p>
      </div>
      <div class="f-r" data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Drug Abuse</p>
      </div>
      <div class="f-r" data-aos="zoom-out-up">
        <div class="svg-tick">
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>ionicons-v5-e</title><polyline points="416 128 192 384 96 288" style="stroke-linecap:round;stroke-linejoin:round;stroke-width:72px"/></svg>
        </div>      
        <p class="svg-name">Sexual Abuse</p>
      </div>
    </div>
    <div class="grid2">
      <img src="/img/about/contact3.svg" alt="">
    </div>
    </div>
    <div class="possible-punishment">  
      <div class="p-p-grid1">
        <h1>Possible Punishment</h1>
          <div class="p-p">
            <svg >
              <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
              <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
            </svg>
            <p class="svg-name">Cancellation of admission</p>
          </div>
          <div class="p-p">
            <svg >
              <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
              <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
            </svg>
            <p class="svg-name">Suspension from attending classes</p>
          </div>
          <div class="p-p">
            <svg >
              <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
              <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
            </svg>
            <p class="svg-name">Withdrawing scholarship/fellowship and other benefits</p>
          </div>
          <div class="p-p">
            <svg >
              <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
              <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
            </svg>
            <p class="svg-name">Debarring from appearing in any tests and examinations</p>
          </div>
          <div class="p-p">
            <svg >
              <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
              <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
            </svg>
            <p class="svg-name">Debarring from representing the institution in any regional, national and international meet, tournament, youth festival, etc.,</p>
          </div>   
      </div>
      <div class="p-p-grid1" style="margin-top: 40px;">
        <div class="p-p">
          <svg >
            <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
            <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
          </svg>
          <p class="svg-name">Suspension / expulsion from the hostel</p>
        </div>
        <div class="p-p">
          <svg >
            <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
            <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
          </svg>
          <p class="svg-name">Rustication from the institution from period ranging from 1 to 4 semesters</p>
        </div>
        <div class="p-p">
          <svg >
            <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
            <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
          </svg>
          <p class="svg-name">Expulsion from the institution and consequent debarring from admission to any other institution</p>
        </div>
        <div class="p-p">
          <svg >
            <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
            <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
          </svg>
          <p class="svg-name">Collective punishment as a deterrent to ensure community pressure on the potential raggers</p>
        </div>
        <div class="p-p">
          <svg >
            <circle class="circle" cx="20" cy="20" r="10" stroke-width="3" />
            <circle class="circle" cx="20" cy="20" r="8" stroke-width="3" />
          </svg>
          <p class="svg-name">FIR with the police and arrest</p>
        </div>
      </div>
    </div>
    <div class="a-r-committee">
      <h1>Anti-Ragging Committee</h1>
      <table class="a-r-committee-table">
        <tr>
          <th style="border-top-left-radius: 10px;">Name</th>
          <th>Job Title</th>
          <th>Contact Number</th>
          <th style="border-top-right-radius: 10px;">E-Mail</th>
        </tr>
        <tr>
          <td>Mr.G.Vivekanandan</td>
          <td>Tasildar</td>
          <td>9445000566</td>
          <td>tahkgm.tntpr@gmail.com</td>
        </tr>
        <tr>
          <td>Mr.S.Ravikumar</td>
          <td>Inspector of Police</td>
          <td>9498150115</td>
          <td>raggingcomplaints@gmail.com</td>
        </tr>
        <tr>
          <td>Ms.C.Parvathi</td>
          <td>CEO, Aveon Infotech & Official of NGO</td>
          <td>8754006479</td>
          <td>ceo@aveoninfotech.com</td>
        </tr>
        <tr>
          <td>Mr.S.Baskar</td>
          <td>Representatives of Parents</td>
          <td>9150191076</td>
          <td>lavanyalava@gmail.com</td>
        </tr>
        <tr>
          <td>Dr.K.Sakthivadivel</td>
          <td>Deputy Warden</td>
          <td>9942262839</td>
          <td>ks.mech@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Mr.M.Mohanraj</td>
          <td>Deputy Warden</td>
          <td>8300130594</td>
          <td>mm.mech@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Ms.K.Surya Prabha</td>
          <td>Deputy Warden</td>
          <td>9487811004</td>
          <td>lh@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td style="border-bottom-left-radius: 10px;">Mr.A.Shanmuga Sundharam</td>
          <td>Lab Assistant</td>
          <td>9486472632</td>
          <td style="border-bottom-right-radius: 10px;">ass.eng@builderscollege.edu.in</td>
        </tr>
      </table>
    </div>
    <div class="a-r-squad">
      <h1>Anti-Ragging Squad</h1>
      <table class="a-r-squad-table">
        <tr>
          <th style="border-top-left-radius: 10px;">Name</th>
          <th>Job Title</th>
          <th>Contact Number</th>
          <th style="border-top-right-radius: 10px;">E-Mail</th>
        </tr>
        <tr>
          <td>Dr.S.Gopalakrishnan</td>
          <td>Principal</td>
          <td>9487811008</td>
          <td>principal@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Mr.C.Karthikeyan</td>
          <td>HoD / S&H</td>
          <td>9486183396</td>
          <td>hod.sah@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Dr.S.Saravanan</td>
          <td>HoD / EEE</td>
          <td>9965621949</td>
          <td>hod.eee@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Mr.S.Gobinath</td>
          <td>HoD / CSE</td>
          <td>7904398865</td>
          <td>hod.cse@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Dr.P.Sakthivel</td>
          <td>ASP / Chemistry</td>
          <td>9842401402</td>
          <td>ps.che@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Mrs.S.Hema Malini</td>
          <td>ASP / English</td>
          <td>9865371074</td>
          <td>sh.eng@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td>Mrs.S.Savitha</td>
          <td>AP / Maths</td>
          <td>9942088000</td>
          <td>ss.maths@builderscollege.edu.in</td>
        </tr>
        <tr>
          <td style="border-bottom-left-radius: 10px;">Mrs.G.Vijayakumari</td>
          <td>AP / ECE</td>
          <td>9487667893</td>
          <td style="border-bottom-right-radius: 10px;">gv.ece@builderscollege.edu.in</td>
        </tr>
      </table>
    </div>
    <h1 style="margin-top: 60px;" class="contact-heading">Anti Ragging Cell - Tirupur District</h1>
    <div class="a-r-cell">
      <div class="a-r-cell-grid">
        <img class="contact" src="/img/about/contact1.svg" alt="contact">
      </div>
      <div class="a-r-cell-grid">
        
      <div class="a-r-cell-info" style="margin-top: 20px;">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-telephone-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/> </svg>
        </div>
        <p class="svg-name">0421 - 2470044</p>
      </div>
      <div class="a-r-cell-info">
        <div class="svg" style="padding-top: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-phone-fill" viewBox="0 0 16 16"> <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/> </svg>
        </div>
        <p class="svg-name">9488192350</p>
      </div>
      <div class="a-r-cell-info">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-envelope-fill" viewBox="0 0 16 16"> <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/> </svg>
        </div>
        <p class="svg-name">raggingcomplaints@gmail.com</p>
      </div>
      <div class="a-r-cell-info">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="IconChangeColor" height="20" width="20"><path d="M483.049 159.706c10.855-24.575 21.424-60.438 21.424-87.871 0-72.722-79.641-98.371-209.673-38.577-107.632-7.181-211.221 73.67-237.098 186.457 30.852-34.862 78.271-82.298 121.977-101.158C125.404 166.85 79.128 228.002 43.992 291.725 23.246 329.651 0 390.94 0 436.747c0 98.575 92.854 86.5 180.251 42.006 31.423 15.43 66.559 15.573 101.695 15.573 97.124 0 184.249-54.294 216.814-146.022H377.927c-52.509 88.593-196.819 52.996-196.819-47.436H509.9c6.407-43.581-1.655-95.715-26.851-141.162zM64.559 346.877c17.711 51.15 53.703 95.871 100.266 123.304-88.741 48.94-173.267 29.096-100.266-123.304zm115.977-108.873c2-55.151 50.276-94.871 103.98-94.871 53.418 0 101.981 39.72 103.981 94.871H180.536zm184.536-187.6c21.425-10.287 48.563-22.003 72.558-22.003 31.422 0 54.274 21.717 54.274 53.722 0 20.003-7.427 49.007-14.569 67.867-26.28-42.292-65.986-81.584-112.263-99.586z" id="mainIconPathAttribute"></path></svg>
        </div>
        <p class="svg-name">www.tnpolice.gov.in | https://antiragging.in/</p>
      </div>
      <div class="a-r-cell-info">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16"> <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/> </svg>
        </div>
        <p class="svg-name">Anti ragging Affidavit Form (Download)</p>
      </div>
      </div> 
    </div>
  </main>
  
        <script src="/assets/js/nav.js"></script>
        <script src="../../public/js/antiRagging.js"></script>
        <script src="/js/antiRagging.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
</body>
</html>