<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/conduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <a href="/index.html" class="logo"><img src="/assets/img/logo/BEC Logo - Website I 11.07.2023 (70 px).png" alt="" height="50px"></a>
        <input type="checkbox" id="menu-bar">
            <label for="menu-bar" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <nav>
      
              <ul>
                <li><a href="/home">home</a></li>
                <li onclick="about"><a>about <i class="fas fa-caret-down"></i></a>
                  <ul class="about">
                      <li style="border-top:none ;"><a href="/about/bec">BEC</a></li>
                      <li><a href="/about/management">Management</a></li>
                      <li><a href="/about/ceo">CEO</a></li>
                      <li><a href="/about/principle">Principal</a></li>
                      <li><a>Comitee <i class="fas fa-caret-right"></i></a>
                        <ul class="Comitee">
                          <li style="border-top:none ;"><a href="/about/commitee/antiraging">Anti-Ragging Committee</a></li>
                          <li><a href="/about/commitee/monitoring">Monitoring Committee</a></li>
                          <li style="border-bottom: none;"><a href="/about/commitee/internal">Internal Committee</a></li>
                       </ul>
                    </li>
                    <li class="policies"><a>Policies <i class="fas fa-caret-right"></i></a>
                      <ul>
                        <li style="border-top:none ;"><a href="/about/policies/codeofconduct">Code of Content</a></li>
                        <li style="border-bottom: none;"><a href="/about/policies/ethics">Code of Ethics</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/admission">admission</a></li>
                <li><a >academic<i class="fas fa-caret-down"></i></a>
                  <ul class="academic">
                    <li style="border-top:none ;"><a href="/academics/programs">programs</a></li>
                    <li><a>departement <i class="fas fa-caret-right"></i></a>
                      <ul class="departement">
                        <li style="border-top:none ;"><a href="/department/Civil">Civil Engineering</a></li>
                        <li><a href="academics/department/CSE">Computer Science and Engineering</a></li>
                        <li><a href="academics/department/EEE">Electrical and Electronics Engineering</a></li>
                        <li><a href="academics/department/ECE">Electronics and Communication Engineering</a></li>
                        <li><a href="academics/department/Mech">Mechanical Engineering</a></li>
                        <li><a href="academics/department/AI & DS">Artificial Intelligence and Data Science</a></li>
                        <li><a href="academics/department/MBA">Master of Business Administration</a></li>
                        <li style="border-bottom: none;"><a href="/Department/s&h">Science and Humanities</a></li>
                      </ul>
                    </li>
                    <li><a href="/academics/Academic Calenders">Academic Calendars</a></li>
                    <li><a href="/academics/Scholarships">Scholarships</a></li>
                    <li style="border-bottom: none;"><a href="/academics/Library">Library</a></li>
                  </ul>
                </li>
                <li ><a href="placement">placement</a></li>
                <li><a>others <i class="fas fa-caret-down"></i></a>
                  <ul class="others">
                    <li style="border-top:none ;"><a>Research</a>
                      <ul class="other">
                        <li style="border-top: none;"><a href="/research/mou (1)">MOU</a></li>
                        <li><a href="/research/r&d">R&D</a></li>
                        <li><a href="/research/edc">EDC</a></li>
                      </ul>
                    </li>
                    <li><a>Aggregation</a>
                      <ul class="other">
                        <li style="border-top: none;"><a href="/accerdiation/iqac">IQAC</a></li>
                        <li><a href="/accerdiation/naac">NAAC</a></li>
                      </ul>
                    </li>
                    <li style="border-bottom: none;"><a>Campus Life</a>
                      <ul class="other">
                        <li style="border-top: none;"><a href="/campus/beyound">beyound curriculam</a></li>
                        <li><a href="/campus/infra">infrastructru</a></li>
                        <li><a href="/campus/sports">sports</a></li>
                        <li><a href="/campus/club">club & Activities</a></li>
                        <li><a href="/campus/galaery">galaery</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
        </div>
      
        <script src="/assets/js/nav.js"></script>
</body>
</html>