<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/internal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="internal-text">
     Internal Committee
  </div>
  <div class="internal-con">
    <div class="internal-con-text" data-aos="slide-up">
      Establishment of Internal Committee (IC) (As per Section 4 All India Council for Technical Education (Gender Sensitization, Prevention and Prohibition of Sexual Harassment of Women Employees and Students and Redressal of Grievances in Technical Institutions) Regulations, 2016 vide No. F.AICTE/WH/2016/01dated 10th June, 2016.
    </div>
  </div>
  <div class="internal-con">
    <div class="internal-con-text" data-aos="slide-up">
      Establishment of 24×7 women helpline number and a security system in the campus for providing safety to students and female faculty and non-teaching faculty.
    </div>
  </div>
  <div class="internal-email" data-aos="slide-up">
    <img class="email-img" src="/../img/bec/undraw_team_chat_re_vbq1.svg" alt="svg" height="50%" width="400px">
    <h1 class="email-con"><a class="email-con1" style="color: #0a3981;" href="icc@builderscollege.edu.in">Email : icc@builderscollege.edu.in</a></h1>
  </div>
  <div class="internal-phone" data-aos="slide-up">
    <img class="phone-img-1" src="/../img/bec/undraw_mobile_application_re_13u3.svg" alt="svg" height="50%" width="300px">
    <h1 class="phone-con">Phone : +91 94878 11004</h1>
    <img class="phone-img" src="/../img/bec/undraw_mobile_application_re_13u3.svg" alt="svg" height="50%" width="300px">
  </div>
  <%- include('../footer.ejs')%>
        <script src="/assets/js/nav.js"></script>
    
</body>
</html>