<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/management.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
  <%- include('../navbar.ejs')%>
    <div class="management-text">
      management
    </div>
    <div class="manage-con">
      <div class="manage-con-text" data-aos="zoom-in-up">
        Erode Builder Educational Trust (EBET) has been founded by a group of like-minded visionaries who felt the need for an apex academic and professional educational institution, committed to deliver through a number of institutes, schools and colleges, high standards of academic excellence for enriching lives through value based education. Builders Engineering College (Formerly Erode Builder Educational Trust’s Group of Institutions) was founded in the year 2009 by EBET.
      </div>
     
    </div>
   <div class="trusty-con" data-aos="zoom-in-up">
     <div class="trusty">
        <div class="trust-profile">
            <div class="trust-profile-photo">
              <img class="trust-img" src="/../img/trusty/Chairman - KGI.jpg">
              <div class="trust-profile-photo-name">
                <div class="trust-profile-photo-name-text">
                  Thiru. N. RAMALINGAM
                </div>
              </div>
            </div>
          
        </div>
        <div class="trusty-info">
          <div class="trusty-text">Chairman – BEC</div>
          <div class="trusty-text">Business Concern</div>
          <div class="trusty-text"><a class="trusty-text-a" href="https://ramalingam.in/index.html" target="_blank">RAMALINGAM CONSTRUCTION COMPANY (P) LTD.,</a></div>
          <div class="trusty-text">“Education is the most powerful weapon which you can use to change the World” -Nelson Mandela</div>
          <div class="trusty-text">In our institution, we've achieved global recognition through top-notch infrastructure, technology, and talent. Our goal: empower rural youth to reach their dreams. Thanks to unwavering stakeholder support, our vision has thrived, fostering evolution for survival in our ever-changing world.</div>
      </div>
    </div>
    
   </div>
   <div class="trusty-con" data-aos="zoom-in-up">
    <div class="trusty">
       <div class="trust-profile">
           <div class="trust-profile-photo">
            <img class="trust-img" src="../img/trusty/Secretary 01 - KGI.jpg">
            <div class="trust-profile-photo-name">
              <div class="trust-profile-photo-name-text">
                Thiru. C.K. VENKATACHALAM
              </div>
            </div>
           </div>
       </div>
       <div class="trusty-info">
         <div class="trusty-text">Secretary – BEC</div>
         <div class="trusty-text">Business Concern</div>
         <div class="trusty-text"><a class="trusty-text-a" href="https://www.cmkprojects.com/" target="_blank">CMK PROJECTS (P) LTD.,</a></div>
         <div class="trusty-text">"Tell me and I forget. Teach me and I remember. Involve me and I learn." - Benjamin Franklin</div>
         <div class="trusty-text">As members of this institution, we prioritize team building to enrich our culture and drive us onward. Human resources carry significant responsibilities, bolstered by management's guidance. Empowered stakeholders propel us toward long-term success. We nurture an environment for students to grow their knowledge and contribute positively to society.
         </div>
     </div>
   </div>
   </div>
   <div class="trusty-con" data-aos="zoom-in-up">
     <div class="trusty">
        <div class="trust-profile">
            <div class="trust-profile-photo">
              <img class="trust-img" src="../img/trusty/Correspondent - KGI.jpg">
              <div class="trust-profile-photo-name">
                <div class="trust-profile-photo-name-text">
                  Thiru. S. ANANDAVADIVEL
                </div>
              </div>
            </div>
           
        </div>
        <div class="trusty-info">
          <div class="trusty-text">Correspondent – BEC</div>
          <div class="trusty-text">Business Concern</div>
          <div class="trusty-text"><a class="trusty-text-a" href="https://www.indiamart.com/vsathyamoorthy-company/aboutus.html" target="_blank">V. SATHYAMOORTHY & CO.,</a></div>
          <div class="trusty-text">"The journey of a thousand miles begins with a single step." - Lao Tzu</div>
          <div class="trusty-text">At BEC's academic milieu, students' potential soars, enabling future greatness. A nurturing environment fosters a love for learning and academic excellence. We prioritize co-curricular and extra-curricular dimensions for holistic growth. Our dedicated faculty hones students' capabilities. Join BEC to become a responsible citizen and tackle contemporary industrial challenges. </div>
      </div>
    </div>
    
   </div>
   <div class="trusty-con" data-aos="zoom-in-up">
     <div class="trusty">
        <div class="trust-profile">
            <div class="trust-profile-photo">
              <img class="trust-img" src="../img/trusty/Treasurer - KGI.jpg">
              <div class="trust-profile-photo-name">
                <div class="trust-profile-photo-name-text">
                  Thiru. C.K. BALASUBRAMANIAM

                </div>
              </div>
            </div>
           
        </div>
        <div class="trusty-info">
          <div class="trusty-text">Treasurer – BEC</div>
          <div class="trusty-text">Business Concern</div>
          <div class="trusty-text"><a class="trusty-text-a" href="https://greenfieldhousings.com/home" target="_blank">GREEN FIELD HOUSING INDIA (P) LTD.,</a></div>
          <div class="trusty-text">"The only true wisdom is in knowing you know nothing." - Socrates</div>
          <div class="trusty-text">BEC's academic environment empowers students to reach greatness in their future pursuits. A nurturing atmosphere fosters a love for learning and academic achievement. We prioritize co-curricular and extra-curricular activities to unlock students' potential. Our dedicated, qualified faculty nurtures holistic development. Join BEC to become a responsible citizen and confront contemporary industrial challenges.</div>
      </div>
    </div>
    
   </div>
   
  <%- include('../footer.ejs')%>
  <script src="/assets/js/nav.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script> AOS.init();</script>  
</body>
</html>