<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/club.css">
    <%- include('../head.ejs')%>
    <script src="https://kit.fontawesome.com/d1c2ea8b80.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="ca">
  <h1>Clubs & Activities</h1>
  </div>
  <div class ="clubs">
    <h1 class="vc" style="text-align: center;"> Various Clubs</h1>
    <div class="vision-mission-con">
      <div class="crd conse">
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-con ">
                <p><i class="fa fa-gem"style="margin-right: 5px;"></i>தமிழ் மன்றம்</p>
                <p><i class="fa fa-book-open" style="margin-right: 5px;"></i>Shelley English Club</p>
                <p><i class="fa fa-solar-panel"style="margin-right: 5px;"></i>Green Energy Club</p>
                <p><i class="fa fa-camera-retro"style="margin-right: 5px;"></i>Photography Club</p>
              </div>
          </div>
      </div>
      <div class="crd conse">
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-con">
                <p><i class="fa fa-smile"style="margin-right: 5px;"></i>Humor Club</p>
          <p> <i class="fa fa-music"style="margin-right: 5px;"></i>Music Club</p>
          <p><i class="fa fa-people-arrows"style="margin-right: 5px;"></i>National Service Scheme</p>
          <p><i class="fa fa-plus"style="margin-right: 5px;"></i>Youth Red Cross (YRC)</p>
              </div>
          </div>
      </div>
</div>
    <!-- <div class="container">
      <div class="card">
        <img src="/img/club/p1.jpg">
        <div class="card__head">NSS Organized COVID'19 Vaccination camp on 03.09.21</div>
      </div>
      <div class="card">
        <img src="/img/club/p2.png">
        <div class="card__head">Varnam Music Club</div>
      </div>
      <div class="card">
        <img src="/img/club/p3.png">
        <div class="card__head">Varnam Music Club</div>
      </div>
      <div class="card">
        <img src="/img/club/p4.png">
        <div class="card__head">YRC Rally</div>
      </div>
      <div class="card">
        <img src="/img/club/p5.png">
        <div class="card__head">NSS Rally</div>
      </div>
    </div> -->
    <h1 style="text-align: center;">MAHILA CLUB</h>
    <h1 style="text-align: center;">WOMEN DEVELOPMENT CELL (WDC)</h1>
    <div class="vision-mission-con">
      <div class="crd">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-head">
                  vission
              </div>
              <div class="crd-con">
                To strengthen the status of women and facilitate a congenial working environment.
              </div>
          </div>
      </div>
      <div class="crd">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-head">
                  mission
              </div>
              <div class="crd-con">
                To create efficient structure and practices that ensures equal rights and opportunities for women in family, community and workplace.
              </div>
          </div>
      </div>
</div>

<div class="code-of-conduct">
  <section class="accordion">
    <input type="checkbox" name="collapse2" id="handle2" checked="checked">
    <h2 class="handle">
      <label for="handle2">OBJECTIVES OF WDC</label>
    </h2>
    <div class="content" id="content">
      <p>
        <li>
          Provide opportunities and organize programs for girls and female faculty and staff to be financially, mentally, and emotionally empowered to promote their growth as individuals.
        </li>
        <li>
          Provide a forum for discussion and interaction with eminent ladies.
        </li>
        <li>
          Create social awareness about the problems of women, particularly regarding gender discrimination.
        </li>
        <li>
          Develop the self-confidence of women.
        </li>
        <li>
          Guide about Women Welfare Laws.
        </li>
        <li>
          Direct the role of women in society.
        </li>
        <li>
          Develop a multidisciplinary approach for overall personality development.
        </li>
        <li>
          Organize seminars and workshops relating to women's development.
        </li>
      </p>
    </div>
  </section>
</div>
<h1 style="text-align: center;">INTERNAL COMPLAINTS COMMITTEE (ICC)</h1>
<p class="it">Builders Engineering College has constituted Internal Complaints Committee
   to maintain a symphonic atmosphere at the Institute, to enable women to pursue
    their work with dignity, self-esteem and reassurance. The Committee has been 
    working to raise awareness on gender equality issues.The ICC functions as 
    required by the &;Sexual Harassment of Women at Workplace (Prevention, Prohibition 
    and Redressal) Act 2013&;. This is an Act to provide protection against sexual 
    harassment of women and for the prevention and redressal of complaints of sexual harassment 
    and for matters connected therewith or incidental thereto.</p>
    <div class="vision-mission-con">
      <div class="crd">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-head">
                  vission
              </div>
              <div class="crd-con">
                To provide a safe environment and protection against sexual harassment of women and for redressal of complaints
              </div>
          </div>
      </div>
      <div class="crd">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="crd-inner" data-aos="flip-right">
              <div class="crd-head">
                  mission
              </div>
              <div class="crd-con">
                To ensure the implementation of the policy and spirit through proper reporting of the complaints and their follow-up procedures.
              </div>
          </div>
      </div>
</div>
<div class="code-of-conduct">
  <section class="accordion">
    <input type="checkbox" name="collapse2" id="handle2" checked="checked">
    <h2 class="handle">
      <label for="handle2">OBJECTIVES OF ICC</label>
    </h2>
    <div class="content" id="content">
      <p>
        <li>
          Develop a policy against sexual harassment of women at the Institute.
        </li>
        <li>
          Evolve a permanent mechanism for the prevention and redressal of sexual harassment cases and other acts of gender-based violence at the Institute.
        </li>
        <li>
          Uphold the commitment of the Institute to provide an environment free of gender-based discrimination.
        </li>
      </p>
    </div>
  </section>
</div>
  </div>
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init();
</script>
<%- include('../footer.ejs')%>
<%- include('../foot.ejs')%>
<script src="/assets/js/nav.js"></script>
 
</body>
</html>