<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/infra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="infra">
    <div class="infra-text">
   Infrastructure
     </div>
     <div class="class-text">
      CLASS ROOMS
     </div>
     <div class="infra-con-1">
      <img class="infra-img-1" src="/../img/infra/CLASS-ROOM-mba-1.png" alt="img" height="40%" width="35%">
     <ul class="infra-ul">
        <li class="hover1">Architecturally designed gallery type smart class rooms</li>
        <li class="hover1">Facilitated with Wi-Fi internet and multimedia projectors</li>
        <li class="hover1">Ideal for conducting seminars and workshops with an array of hi-tech equipment</li>
       </ul>
       <img class="infra-img" src="/../img/infra/CLASS-ROOM-mba-1.png" alt="img" height="40%" width="35%">
    </div>
    <div class="audi-text">
      AUDITORIUM
     </div>
     <div class="audi-con-1">
      <img class="audi-img2" src="/../img/infra/Auditorium11.jpg" alt="img" height="40%" width="35%">
     <ul class="audi-ul">
        <li class="hover1">Architecturally designed gallery type smart auditorium with a seating capacity of 250</li>
        <li class="hover1">Facilitated with Wi-Fi internet and multimedia projectors</li>
        <li class="hover1">Ideal for conducting seminars and workshops with an array of hi-tech equipment</li>
       </ul>
       
    </div>
    <div class="hostel-text">
      Hostel
     </div>
     <div class="hostel-con-1">
      <img class="hostel-img-1" src="/../img/infra/boyshostel.png" alt="img" height="40%" width="35%">
     <ul class="hostel-ul">
        <li class="hover1">Architecturally designed gallery type smart class rooms</li>
        <li class="hover1">Facilitated with Wi-Fi internet and multimedia projectors</li>
        <li class="hover1">Ideal for conducting seminars and workshops with an array of hi-tech equipment</li>
       </ul>
       <img class="hostel-img" src="/../img/infra/boyshostel.png" alt="img" height="40%" width="35%">
    </div>
    <div class="mess-text">
     MESS & DINING HALL
     </div>
     <div class="mess-con-1">
      <img class="mess-img2" src="/../img/infra/mess-final.png" alt="img" height="40%" width="35%">
     <ul class="mess-ul">
        <li class="hover1">A 500 member dining hall</li>
        <li class="hover1">Centralized kitchen with modern kitchen equipment</li>
        <li class="hover1">Tasty, hygienic and delicious Vegetarian & Non- Vegetarian food</li>
        <li class="hover1">Sweets and special food given besides regular menu on special occasions
        </li>
       </ul>
       
    </div>
    <div class="cafe-text">
      CAFETERIA
     </div>
     <div class="cafe-con-1">
      <img class="cafe-img-1" src="/../img/infra/cafiteria-1.jpg" alt="img" height="40%" width="35%">
     <ul class="cafe-ul">
        <li class="hover1">A capacity of 100 members</li>
        <li class="hover1">Offers nutritious and wholesome food</li>
        <li class="hover1">A wide range of recipes from pizza to savouries</li>
        <li class="hover1">Variety of fresh juices, cold coffee, milk shakes, etc.</li>
       </ul>
       <img class="cafe-img" src="/../img/infra/cafiteria-1.jpg" alt="img" height="40%" width="35%">
    </div>
    <div class="solar-text">
      SOLAR SYSTEM
      </div>
      <div class="solar-con-1">
       <img class="solar-img2" src="/../img/infra/solar.jpg" alt="img" height="40%" width="35%">
      <ul class="solar-ul">
         <li class="hover1">200 kW Solar PV Power Plant with 4 inverters.</li>
        </ul>
        <img class="solar-img2-1" src="/../img/infra/solar.jpg" alt="img" height="40%" width="35%">
     </div>
     <div class="staff-text">
      STAFF QUARTERS
     </div>
     <div class="staff-con-1">
      <img class="staff-img-1" src="/../img/infra/staffquaters.png" alt="img" height="40%" width="35%">
     <ul class="staff-ul">
        <li class="hover1">A capacity of 8, 2BHK Houses</li>
        <li class="hover1">24/7 RO Water & EB Power supply</li>
        <li class="hover1">WiFi Facility</li>
        <li class="hover1">Wide range of Parking facility</li>
       </ul>
       <img class="staff-img" src="/../img/infra/staffquaters.png" alt="img" height="40%" width="35%">
    </div>
    <div class="ro-text">
      RO PLANT
      </div>
      <div class="ro-con-1">
       <img class="ro-img2" src="/../img/infra/RO.png" alt="img" height="45%" width="40%">
      <ul class="ro-ul">
         <li class="hover1">RO plant with a outlet capacity of 4000 liters/hour.</li>
         <li class="hover1">The water from RO plant is then transferred to 1lakh liter capacity overhead tank(OHT) and supplied for drinking purpose.</li>
         <li class="hover1">Softening  plant with the capacity of  2,25,000 liters and a outlet capacity of  15000 liters/hour.</li>
         <li class="hover1">The water is transferred to  70000 liters capacity overhead  tank and supplied for domestic use.
         </li>
        </ul>
        <img class="ro-img2-1" src="/../img/infra/treatmentPlant.png" alt="img" height="45%" width="40%">
     </div>
     <div class="plant-text">
      EFFLUENT TREATMENT PLANT
     </div>
     <div class="plant-con-1">
      <img class="plant-img-1" src="/../img/infra/treatmentPlant.png" alt="img" height="400vh" width="400px">
     <ul class="plant-ul">
        <li class="hover1">"115 m3 ETP collects campus wastewater through sewer pipeline for treatment."</li>
        <li class="hover1">The outlet chamber water is pumped and carried through pipeline for irrigation.</li>
       </ul>
       <img class="plant-img" src="/../img/infra/treatmentPlant.png" alt="img" height="400vh" width="400px">
    </div>
    <div class="rain-text">
      RAIN WATER HARVESTING
      </div>
      <div class="rain-con-1">
       <img class="rain-img2" src="/../img/infra/Rain.jpg" alt="img" height="30%" width="30%">
      <ul class="rain-ul">
         <li class="hover1">Ground water table is a important source for continuous supply of water through bore wells.</li>
         <li class="hover1">In order to avoid scarcity of water during the  summer and also avoid decreasing ground water  table, we have rain water harvesting process.</li>
        </ul>
        <img class="rain-img2-1" src="/../img/infra/Rain.jpg" alt="img" height="30%" width="30%">
     </div>
  </div>
     <%- include('../footer.ejs')%>
        <script src="/assets/js/nav.js"></script>
        
    
</body>
</html>