<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sports.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../navbar.ejs')%>
  <div class="sports">
    <div class="sports-text">
    Sports
     </div>
     <div class="phy">
     <img class="physical" src="/../img/sports/KP.PED_.png" alt="img" height="10%" width="15%">
    </div>
    <div class="phy-name">
      Mr. K. PRADEEPKAMAL
    </div>
    <div class="phy-1">
      Physical Director
    </div>
    <div class="gym-text">
      Gymnasium
    </div>
    <div class="gym-con-1">
      <img class="gym-img-1" src="/../img/sports/GYM.jpg" alt="img" height="60%" width="40%">
     <ul class="gym-ul">
        <li class="hover1">Established in the year 2010</li>
        <li class="hover1">Separate Gym for Boys and Girls</li>
        <li class="hover1">Multi-facility Gym equipped with modern imported equipment</li>
        <li class="hover1">Trained by qualified Gym instructors
        </li>
       </ul>
       <img class="gym-img" src="/../img/sports/GYM.jpg" alt="img" height="60%" width="40%">
    </div>
    <div class="ground-text">
      Grounds
     </div>
     <div class="ground-con-1">
      <img class="ground-img2" src="/../img/sports/basketball-1.png" alt="img" height="65%" width="35%">
     <ul class="ground-ul">
        <li class="hover1">Cricket Ground</li>
        <li class="hover1">Volley Ball Court</li>
        <li class="hover1">Basket Ball Court</li>
        <li class="hover1">Tennis Court</li>
        <li class="hover1">Shuttle Court</li>
        <li class="hover1">Table Tennis</li>
        <li class="hover1">Indoor Games</li>
       </ul>
       
    </div>
  </div>
     <%- include('../footer.ejs')%>
        <script src="/assets/js/nav.js"></script>
    
</body>
</html>