@use "../abstract/color" as *;
footer{
    position: relative;
    background-color: #C7CED8;
    width: 100%;
}
.footer-con{
    position: relative;
    margin-top: 200px;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 30px 20px 30px;
    .address-info{
        height: 65%;
        display: flex;
        flex-direction: column;
        font-family: $primary-text;
        justify-content: center;
    }
    .address-head{
        font-family: $primary-text;
        font-size: 24px;
        color: $primary-text-color;
        font-weight: 600;
    }
    .address-content{
        font-family: $primary-text;
        font-weight: 400;
        margin-top: 20px;
        line-height: 40px;
    }
    .address-map{
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .mapouter{
        border-radius: 10px;
        position:relative;
        text-align:right;
        width:100%;
        height:350px;
    }
    .gmap_canvas{
        border-radius: 10px;
        box-shadow: 2px 2px 20px rgb(189, 186, 186);
        overflow:hidden;
        background:none!important;
        width:100%;
        height:100%;
    }
    .gmap_iframe {
        height:100%!important;
    }
    .footer-icon{
        display:flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .f-icon{
        width: 30px;
        height: 30px;
    }
    @media (max-width:1200px) {
        .address-map{
            width: 500px;
            height: 350px;
        }
    }
    @media (max-width:1000px) {
        .footer-icon{
            flex-direction: row;
            column-gap: 20px;
            margin-top: 30px;
        }
        .address-map{
          margin-top: 30px;
        }
    }
    @media (max-width:600px) {
        .address-map{
          width: 90%;
          height: 150px;
        }
        .address-head{
            font-family: $primary-text;
            font-size: 18px;
            color: $primary-text-color;
            font-weight: 600;
        }
        .address-content{
            margin-top: 8px;
            font-size: 14px;
        }
    }
  
    
}
.footer-img{
    width: 150px;
    position:absolute;
    top: -60px;
    left: 50px;
    
}
@media (max-width:1000px) {
    .footer-con{
        flex-direction: column;
    }
}
@media (max-width:600px) {
    .footer-img{
        width: 100px;
        position:absolute;
        top: -40px;
        left: 50px;
        
    }
}
@media (max-width:430px) {
    .footer-img{
        width: 70px;
        position:absolute;
        top: -30px;
        left: 30px;
        
    }
}