@use "../abstract/color" as *;
@use "../abstract/font";
@use "../cards/builders-card" as *;
@use "../cards/num-card" as *;


.builders-card-con ,.num-card-con {
  width: 100%;
  justify-content: center;
  display: flex; 
  margin-bottom: 100px;
}
.builders-card ,.num-card{
  width:1100px;
}

@media (max-width:1100px) {
  .builders-card ,.num-card{
    width:95%;
  }
}
@media (max-width:800px) {
  .builders-card-con ,.num-card-con{
    margin-bottom: 20px;
  }
}


